<template>
  <div id="app-main">
        <!-- <router-loading></router-loading> -->

        <!--<router-view></router-view>-->

      <keep-alive>
          <router-view v-if="$route.path === '/'"></router-view>
      </keep-alive>
      <router-view v-if="$route.path !== '/'"></router-view>
      <tutorial></tutorial>
  </div>
</template>
<script>
import Vue from 'vue'
import checkerDirective from './shared/checker.directive'
import ContentModule from './components/ContentModule'
import tutorial from './components/tutorial'
import { mapGetters } from 'vuex'
import VueUploadComponent from 'vue-upload-component';
Vue.component('ContentModule', ContentModule)
Vue.component('file-upload', VueUploadComponent)
function toggleFullScreen() {
  console.log('FS')
  var doc = window.document;
  var docEl = doc.documentElement;

  var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
  var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

  if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
    requestFullScreen.call(docEl);
  }
  else {
    cancelFullScreen.call(doc);
  }
}
export default {
  computed: {
    ...mapGetters(['loggedIn'])
  },
  components: {
    tutorial,
  },
  mounted(){
    // toggleFullScreen()
  }
}
</script>
<style lang="stylus">
@import "assets/css/variable"
@import "assets/css/animate"
@import "assets/fonts/iconfont.css"
@import "assets/fonts/brutal/black/brutal-black.css"
@import "assets/fonts/brutal/regular/brutal-regular.css"
@import "assets/css/flex"


::-webkit-scrollbar
  width 4px
  height 4px
  background-color $color-gray
::-webkit-scrollbar-button
::-webkit-scrollbar-track
  display none
::-webkit-scrollbar-thumb
  background-color $color-silver-light
::-webkit-scrollbar-thumb:hover
  background-color $color-black-exact-light

html
  font-size 16px
  font-family "BrutalType", sans-serif
  position: relative
  height: 100%
  overflow: hidden
body
  margin 0
  padding 0
  font-size .75rem
  background-color #f0f0f0
/**
*::before
*::after
  box-sizing border-box*/
a
  text-decoration none
#app-main
  display flex
  width 100%
  height 100vh
  min-width: 760px
  .header-wrapper{
    flex 1
    display flex
    flex-flow row
    overflow-x hidden
  }
  .app-wrapper
    flex 1
    display flex
    flex-flow column
    overflow-x hidden
    .app-container
      margin 10px
      position relative
      flex 1
      display flex
      justify-content center
      padding 1rem
      background-color #fff
      overflow auto
      &.active
        margin 1rem

.el-dropdown-link
  cursor pointer


</style>
