<template>
    <div style="width: 100%; overflow: hidden" >
        <div class="na-message"  v-if="showMessage">
            <div class="na-cont" v-if="showNAM">
                {{$t('project.deadline.part1')}}<help-button :id6="id6"></help-button>{{$t('project.deadline.part2')}}
                {{$t('project.deadline.part3')}}
            </div>
            <div class="na-cont" v-if="showPanic">
                {{$t('project.panic')}}
            </div>
            <div class="na-cont err" v-if="showUserError">
                {{$t('project.userError.part1')}} <help-button :id6="id6"></help-button> {{$t('project.userError.part2')}}
            </div>

            <div class="na-cont success" style="text-align: left" v-if="showIsSubmitted">
                <div class="submit-success">{{$t('project.submitSuccess')}}</div>
            </div>
        </div>
        <div v-loading="!project" style="height: 100%">
    <div style="padding: 2em; padding-bottom: 6em; height: inherit;" v-if="!showMessage">
        <!--<el-select :value="globalConfig.lang" @input="changeLang(arguments[0])">-->
            <!--<el-option v-for="lang in globalConfig.langs" :key="lang.value"-->
                       <!--:label="lang.label" :value="lang.value"></el-option>-->
        <!--</el-select>-->
      <project-editor
              v-if="project"
              :project="project"
              @onUpdateProject="updateProject"></project-editor>
    </div>
    <div class="savebar" v-if="project && !showMessage">
        <span style="padding-right: 1em">
<!--{{project.reqs.superDone}}/{{project.reqs.superTotal}}-->
        </span>
        <span v-if="project.reqs.superDone === project.reqs.superTotal">
            <el-button size="mini"
                       type="success"
                       @click="submit"
                       >{{$t('project.submit')}}</el-button>
        </span>
        <span v-else>

            <el-popover
                    placement="top"
                    title=""
                    width="300"
                    trigger="click"
                    >
                <div style="word-break: initial;  text-align: center;">{{$t('project.shouldBeFilled')}}</div>
                <el-button size="mini"
                           slot="reference"
                           @click="submit"
                >{{$t('project.submit')}}</el-button>
            </el-popover>
        </span>


        <!--<el-button type="primary" size="mini" @click="saveProject">Save</el-button>-->
    </div>
        </div>
    </div>
</template>
<script>
import * as _ from 'lodash'
import Vue from 'vue'
import { me as meRes } from 'resources'
import locales from 'locales/project'
import ProjectEditor from '../components/projectEditor'
import helpButton from '../components/HelpButton'
import { EventBus } from '../eventbus.js';

import config from '../../../config'
import autoReger from '../autoreger'
import { mapGetters, mapActions } from 'vuex'

import moment from 'moment'
export default {
  locales,
  data () {
    return {
      apiUrl: config.frontend.apiUrl,
      showUserError: false,
      showPanic: false,
      showNAM: false,
      showIsSubmitted: false,
      project:null,
      albumFiles: [],
      schemeFiles: [],
      declFiles: [],
      consentFiles: [],
      noteFiles: [],
      blueprintFiles: []
    }
  },
  components: {
    ProjectEditor,
    helpButton
  },
  computed: {
    ...mapGetters(['loggedIn', 'globalConfig']),
    showMessage(){
      return this.showNAM || this.showPanic || this.showUserError || this.showIsSubmitted;
    },
    id6(){
      return (this.project && this.project.user) ? this.project.user.id6: 'N/A';
    }
  },
  methods: {
    ...mapActions(['authByRemote', 'changeLang']),
    saveProject(){
      meRes.saveProject(this.project)
        .then((res) => {
          console.log('res save', res.body)
        })
    },
    fetchMyProject(){
      meRes.getProject()
        .then((project) => {
            console.log('Current ', project.body)
            const p = project.body
            this.computeTotalMarked(p)
            this.project = p;
        })
        .catch((err) => {
          if(err.status === 403){
            this.showNAM = true
          } else if(err.status === 405){
            this.showIsSubmitted = true;
          }
          console.log('s', err)
        })
    },
    addProjectVis(field){
      return function(obj){
        console.log('APV ', field, obj)
        this.project[field].push(obj)
        this.project[field] = _.sortBy(this.project[field], (item) => {
          return item.order;
        })
      }
    },
    computeTotalMarked(p){
      _.each(p.items, (block) => {
        block.totalMarked = _.reduce(block.items, (total, subBlock) => {
          return total + (subBlock.marked ? 1 : 0)
        }, 0)
        console.log('b ', block.key, block.totalMarked)
      })
    },
    submit(){
      console.log('validation', this.project.reqs.superDone, this.project.reqs.superTotal)
      if(this.project.reqs.superDone === this.project.reqs.superTotal){
        meRes.submitProject()
          .then(() => {
            this.project.isSubmitted = true;
            this.showIsSubmitted = true;
          })
          .catch(() => {
            this.$message.error(this.$t('project.submitError'));
            EventBus.$emit('badgeFire')
          })
      }else{
        EventBus.$emit('badgeFire')
        // this.$message({
        //   message: this.$t('project.shouldBeFilled'),
        //   type: 'warning'
        // });
      }
    },
    updateProject(fieldName, data){
      console.log('fieldName, data', fieldName, data)
      const obj2update = fieldName ? { [fieldName]: _.isUndefined(data) ? this.project[fieldName] : data } : {}
      meRes.updateProject(obj2update)
        .then((project) => {
          _.merge(this.project, project.body);
          this.computeTotalMarked(this.project)
          // EventBus.$emit('badgeUpdate')
            console.log('obj', obj2update)
          console.log('updated ', project.body, this.project)
        })
    },
    auth(){
      // if(this.loggedIn){
      //   return Promise.resolve()
      // }
      const {userId, userToken} = this.$router.history.current.query;
      if(!userId || !userToken){
        this.showUserError = true;
        return Promise.reject(new Error('User error'))
      }
      return this.authByRemote({userId, userToken})
      // return Promise.resolve();
      //}
      // return autoReger()
      //   .then((res) => {
      //     const json = JSON.parse(res)
      //     console.log('x',res )
      // })
    }
  },
  mounted () {
    const { userLang } = this.$router.history.current.query
    this.changeLang(userLang === 'en' ? 'en' : 'ru-RU');
    this.$nextTick(() => {
      return this.auth()
        .then(() =>{

          this.$nextTick(() => {
            return this.fetchMyProject()
          })
        })
        .catch((err)=>{
          this.showUserError = true;
          console.error(err)
        })
    })
  }
}
</script>

<style lang="stylus">
    @import "../assets/css/variable"
    .submit-success{
        font-size: 1.5em
        background-color $aijk-green
        color white
    }
    .na-message
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        z-index 2222666
        display flex
        justify-content center
        align-items center
        background-color rgba(255,255,255,0.6)


    .na-cont
        width 50%
        white-space pre-line
        background-color #3a8ee6
        padding 2em
        text-align center
        color white
        &.success{
            background-color $aijk-green
        }
        div+div
            margin-top 1em

    .content
        padding 2em
    .el-transfer
        display flex
    .el-transfer-panel
        flex 1

    .savebar
        display flex
        position fixed
        justify-content center
        align-items center
        bottom 0px
        width 100%
        background-color lightgray
        padding 1em
        box-sizing: border-box;
        z-index 122


</style>