<template>
  <div class="header-wrapper">
    <nav-menu></nav-menu>
    <div class="app-wrapper">
      <x-header></x-header>
      <div class="app-container" :class="{active: loggedIn}">
        <div class="flex flex-1" style="width:100%">
          <transition name="router" mode="out-in">
            <router-view></router-view>
          </transition>
        </div>
      </div>
      <n-progress parent="body"></n-progress>
    </div>
  </div>
</template>
<style lang="stylus">
.router-enter-active
.router-leave-active
  transition all .4s cubic-bezier(0, 0, 0, 1)
.router-enter
.router-leave-active
  opacity .1
.router-enter
  transform translate3D(100%, 0, 0)
.router-leave-active
  transform translate3D(-100%, 0, 0)
</style>
<script>
  import XHeader from '../components/Header'
  import NavMenu from '../components/NavMenu'
  import NProgress from '../components/NProgress'
  import { mapGetters } from 'vuex'
  export default {
    components: {
      XHeader,
      NavMenu,
      NProgress
    },
    computed: {
      ...mapGetters(['loggedIn'])
    },
  }
</script>

