<template>



    <div  class="login-wrapper" v-show="!loggedIn">
      <div class="bg"></div>
      <el-card class="box-card" style="padding: 1.4em">

        <div class="txt">Dear Jury Members!<br>The voting web-application will be available<br>from 12 p.m. (+3 GMT) on 24 August.</div>
        <div class="divider"></div>
        <div class="txt">Уважаемое жюри!
          <br>Приложение для онлайн голосования будет доступно<br> 24 августа с 12:00 по Московскому времени.</div>
        <!--<div slot="header" class="clearfix">-->
        <!--</div>-->
      </el-card>
    </div>

</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import locales from 'locales/login'
export default {
  locales,
  data () {
    return {}
  },
  methods: {},
  computed: {

  }
}
</script>
<style lang="stylus">
@import "../assets/css/variable"
$input-width = 15rem
.divider
  border-bottom 4px solid $aijk
  margin-bottom 20px
  margin-top 20px
.login-wrapper
  align-self center
  width 100%
  display: flex;
  justify-content: center;
  align-content: center;

  .txt
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align center
  .bg
    z-index -1
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    width 100%
    height 100%
    background-size cover
    background-position 100%
    background-image url('../assets/images/bg1.gif')
  h1
    position relative
    margin 0 0 1rem
    text-align center
    z-index 1
  form
    width $input-width
    margin 0 auto
    .el-select
      width 100%
    .el-input__inner
      color $color-black-exact-light
      border-color $color-silver-light
      background-color transparent
      &:focus
        color $color-black
        border-color $color-black
  .login-button
    width 100%
    &.error
      animation shake .5s
  /*.lang
    position fixed
    right 1.5rem
    bottom @right
    width 5rem
    .el-input__icon
      display none
    input
      height 1.75rem
      border none
      padding-right 10px
      text-align center
      color $color-white-dark
      background-color rgba(255,255,255,.4)
      &:hover
        color $color-white
        background-color rgba(255,255,255,.25)*/
</style>
