<template>
  <!--<el-container>-->
  <!--<el-header class="header-bg">Dom Competition 2018</el-header>-->
  <el-container style="background-color: #fff !important; color: #2f444e;">

    <el-main style="overflow: hidden; background-color: #fff !important; color: #2f444e;">

      <content-module
        name="things"
        style="overflow-y: hidden; height: 100%; padding: 10px 20px 20px; box-sizing: border-box; background-color: #fff; color: #2f444e;"
        class="bgcolor-z"
        id="scrollcont"
      >

       
        <div class="final-wrapper-top">
           <span class="final-span">Финалисты 1-ой степени / 1st category prize</span>
           
        </div>
        <div class="final-row">
          <div class="card-wrapper" v-for="thing in first" :key="thing._id">
            <div class="result-card">
              
                <div
                  v-if="thing.cover"
                  :style="{
                      backgroundImage: 'url(' + getImageUrl(thing.cover) +')',
                    }"
                  class="listcover-admin"
                ></div>
                <div v-else class="listcover-admin nocover-admin">
                  <div class="centertext">No cover set yet</div>
                </div>
              
              

              <div class="card-footer-admin">
                               
                <div class="name-wrapper">
                 

                  <span class>{{thing.user.viewName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

       <div class="final-wrapper">
           <span class="final-span">Финалисты 2-ой степени / 2nd category prize</span>           
        </div>
        <div class="final-row">
          <div class="card-wrapper" v-for="thing in second" :key="thing._id">
            <div class="result-card">
              
                <div
                  v-if="thing.cover"
                  :style="{
                      backgroundImage: 'url(' + getImageUrl(thing.cover) +')',
                    }"
                  class="listcover-admin"
                ></div>
                <div v-else class="listcover-admin nocover-admin">
                  <div class="centertext">No cover set yet</div>
                </div>
              
              

              <div class="card-footer-admin">
                               
                <div class="name-wrapper">
                  
                  <span class>{{thing.user.viewName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="final-wrapper">
           <span class="final-span">Финалисты 3-ей степени / 3rd category prize</span>          
        </div>
        <div class="final-row first-third">
          <div class="card-wrapper" v-for="thing in third1" :key="thing._id">
            <div class="result-card">
              
                <div
                  v-if="thing.cover"
                  :style="{
                      backgroundImage: 'url(' + getImageUrl(thing.cover) +')',
                    }"
                  class="listcover-admin"
                ></div>
                <div v-else class="listcover-admin nocover-admin">
                  <div class="centertext">No cover set yet</div>
                </div>
              
              

              <div class="card-footer-admin">
                               
                <div class="name-wrapper">
                  

                  <span class>{{thing.user.viewName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="final-row">
          <div class="card-wrapper" v-for="thing in third2" :key="thing._id">
            <div class="result-card">
              <div>
                <div
                  v-if="thing.cover"
                  :style="{
                      backgroundImage: 'url(' + getImageUrl(thing.cover) +')',
                    }"
                  class="listcover-admin"
                ></div>
                <div v-else class="listcover-admin nocover-admin">
                  <div class="centertext">No cover set yet</div>
                </div>
              </div>
              

              <div class="card-footer-admin">
                               
                <div class="name-wrapper">
                 
                  <span class>{{thing.user.viewName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </content-module>
    </el-main>
  </el-container>

</template>
<script>
  import { thing as thingRes, sid as sidRes, user as userRes, project as projectRes } from 'resources'
import locales from 'locales/things'
import CheckCell from '../components/CheckCell'
import store from '../store'
import * as _ from 'lodash'
var defaultSub1Item = { images:[]};
var defaultSub2Item = { images:[]};
var defaultSub3Item = { images:[]};
var defaultForm = {
  envType:'m',
  commonEvaluationFlat:null,
  commonEvaluationBlock:null,
  commonEvaluationBuilding:null,
  avgCost:null,
  sid:[],
  coverImage:[],
  images:[],
  panel:[],
  album:[]
}
export default {
  locales,
  components:{
    CheckCell
  },
  data () {
    return {
      timer: '',
      id6search: null,
      readinessFilter: 'all',
      onlyCurrent: true,
      currentPage:1,
      pageSize:30,
      loading: false,
      total:0,
      headers: {
        'Authorization':`Bearer ${store.getters.accessToken}`
      },
      checkers: {},
      users: [],
      sidLoading:false,
      sidOptions:[],
      formVisible: false,
      activeSub2: 'as20',
      activeSub3: 'as30',
      form: _.cloneDeep(defaultForm),
      rules: {
        user: [
          { required: true, message: 'Please select user', trigger: 'blur' }
        ],
      },
      things: [],
      first: [],
      second: [],
      third1: [],
      third2: [],
      deletedSub3:null
    }
  },
  computed:{
    allImages: function(){
      var allImgs =  _.map(['1','2','3'], (count)=>{
        return _.map(this.form['sub'+count], (sub)=>{
          return sub.item.images;
        })
      })
      return _.flattenDeep(allImgs);
    }
  },
  mounted () {
      this.timer = setInterval(this.fetch, 3000)
  },
  beforeDestroy() {
      clearInterval(this.timer)
  },
  methods: {
    cancelAutoUpdate: function() { clearInterval(this.timer) },
    openThing(thing){
      this.$router.push({ path: `/admin/things/${thing._id}` })
    },
    getImageUrl(file) {
        console.log(file)
          if (!_.endsWith(file.url, '.png') && !_.endsWith(file.url, '.jpg') && !_.endsWith(file.url, '.jpeg')) {
            return '';
          }
          return _.startsWith(file.url, 'http') ? file.url : `/images/${file.url}`
    },
    refreshData(){
      this.$forceUpdate()
    },
    addSubItem(sub){
      var nid = Math.random().toString(36).substring(7);
//      while(_.find(sub.items, {id:nid})){
//        nid = Math.random().toString(36).substring(7);
//      }
      sub.item = {images:[]}
    },
    removeSubItem(sub, item){
      sub.item = {}
    },
    remoteMethod(query) {
      if (query !== '') {
        this.loading = true;
        userRes.query({ page: 0, emailOrId6: query, isAdmin: true })
          .then((data) => data.body.results)
          .then((users) => {
            this.loading = false;
            this.users = _.map(users, (user) => ({
              value: user._id,
              label: `[${user.id6}] ${user.email}`
            }))
          })
          .catch((err) => {
            console.error(err)
            this.loading = false;
          })


      } else {
        this.users = [];
      }
    },

    fetch (currentPage) {
      if(+currentPage >= 0){
        this.currentPage = +currentPage
      }
      projectRes.query({search: {'id6': this.id6search}, isAdmin: true, readinessFilter: this.readinessFilter, currentStage: false, page: this.currentPage - 1, count: this.pageSize}).then(data => data.json()).then(data => {
        this.first = data.results.slice(0, 5).sort(function(a,b) {
         // console.log(a.viewName)
          if (a.user.viewName) {
            return a.user.viewName.localeCompare(b.user.viewName);
          } else {
            return false
          }
      })
        this.second = data.results.slice(5, 10).sort(function(a,b) {
         // console.log(a.viewName)
          if (a.user.viewName) {
            return a.user.viewName.localeCompare(b.user.viewName);
          } else {
            return false
          }
      })
      const genThird = data.results.slice(10, 20).sort(function(a,b) {
         // console.log(a.viewName)
          if (a.user.viewName) {
            return a.user.viewName.localeCompare(b.user.viewName);
          } else {
            return false
          }
      })
        this.third1 = genThird.slice(0, 5)
        this.third2 = genThird.slice(5, 10)
        this.things = data.results
        this.total = data.total
      }).catch(err => {
        console.error(err)
      })
    },
    setModel(a, b){
//      console.log('AAA', a, b, c)
      this[b] = a
    }
  },
  created () {
    this.fetch()
    //this.fetchCheckers()
  }
}
</script>

<style lang="stylus" scoped>
@import '../assets/css/variable';

.final-row {
    padding-left: 5%
    padding-right: 5%
    display: flex
    flex-direction: row
    justify-content: space-between
}


.card-wrapper
  border: solid 1px
  border-radius 10px
  width: 17%

.result-card {

  background-color: transparent;
  position: relative;
    height 135px
  width: 100%
  
}


.listcover-admin {
  border-top-left-radius 10px
  border-top-right-radius 10px
  height 100px !important
  width: 100%
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &.nocover-admin {
    vertical-align: middle;
    line-height: 1rem;
    width: calc(100% + 1px);
    background-color: $color-gray-light;
    display: table;

    .centertext {
      text-align: center;
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.final-wrapper
  padding-left: 5%
  padding-right: 5%
  margin-top: 20px
  margin-bottom: 20px

.final-wrapper-top
  padding-left: 5%
  padding-right: 5%
  margin-top: 10px
  margin-bottom: 20px

.bgcolor-l-admin {
  background-color: $zone-l;
}

.bgcolor-z-admin {
  // background-color $aijk //#f9f9f9
  // background-color #959FA1
  background-color: white;
}

.card-footer-admin {
  background-color: white;
  /* padding 14px */
  font-size: 13px;
  text-align: center;
  color: $aijk;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom-left-radius 10px
  border-bottom-right-radius 10px
}

.first-third 
  margin-bottom: 20px

.name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

@media (min-width: 1451px) and (max-width: 1650px) 
  .card-footer-admin 
    font-size: 11px


@media (max-width: 1450px) and (min-width: 1350px) 
  .card-footer-admin 
    font-size: 10px
    height: 30px  
  .result-card 
    height 120px
  .listcover-admin
    height: 90px !important


@media (max-width: 1350px) and (min-width: 1000px) 
  .card-footer-admin 
    font-size: 8px
    height: 30px
  
  .result-card 
    height 120px
  .listcover-admin
    height: 90px !important

@media (max-width: 999px) 
  .card-footer-admin 
    font-size: 7px;
    height: 30px
  
  .result-card 
    height 110px
  
  .listcover-admin
    height: 80px !important


@media (max-height: 800px) and (min-height: 730px) 
  .card-footer-admin 
    height: 30px
  
  .result-card 
    height 105px
  
  .listcover-admin
    height: 70px !important
  .final-span
    font-size: 26px

@media (max-height: 729px) and (min-height: 660px) 
  .card-footer-admin 
    height: 30px
  
  .result-card 
    height 90px
  
  .listcover-admin
    height: 55px !important
  .final-span
    font-size: 24px

@media (max-height: 659px)
  .card-footer-admin 
    font-size: 5px
    height: 20px
  
  .result-card 
    height 65px
  
  .listcover-admin
    height: 45px !important
  .final-span
    font-size: 17px


.final-letter
    margin: 10px

.final-span
  font-size: 30px

</style>