<template>
  <vote-buttons projectId='5bdbb998e02f5f7c33d09ea9'></vote-buttons>
</template>

<script>
  import { thing as thingRes} from '../resources'
  import locales from '../locales/things'
  import store from '../store'
  import * as _ from 'lodash'
  import VoteButtons from '../components/VoteButtons.vue'


  export default {
    locales,
    data() {
      return {
        
      }
    },
    components: {
      VoteButtons
    },

    computed:{
    },

  }
</script>
