<template>
  <content-module name="things">
    <el-breadcrumb separator="/" style="margin-bottom:.5rem">
      <el-breadcrumb-item to="/dashboard">{{$t('thing.breadcrumb.home')}}</el-breadcrumb-item>
      <el-breadcrumb-item>{{$t('thing.breadcrumb.current')}}</el-breadcrumb-item>
    </el-breadcrumb>



    <div style="margin-bottom:.5rem">
      <el-button type="primary" icon="plus" @click.native="createThing">{{$t('operation.create')}}</el-button>
      <el-card>
        <div style="display: flex; justify-content: space-between">
          <el-input  style="width: 300px" placeholder="Search by ID6" v-model="id6search" @change="fetch()"></el-input>

          <el-radio-group v-model="readinessFilter" @change="fetch()">
            <el-radio label="all">Все</el-radio>
            <el-radio label="started">Начатые</el-radio>
            <el-radio label="50">50%+</el-radio>
            <el-radio label="submitted">Sumbitted</el-radio>
          </el-radio-group>

          <div>Total: {{total}}</div>
        </div>
      </el-card>
    </div>

    <div>
      <el-table
              :data="things"
              style="width: 100%">
        <el-table-column
                prop="user.id6"
                fixed
                label="ID6">
        </el-table-column>
        <el-table-column
                prop="user.id4"
                label="ID4">
        </el-table-column>
        <el-table-column
                prop="user.email"
                width="200"
                label="email">
        </el-table-column>

        <el-table-column
                prop="readiness"
                label="Ready"
                width="120"
                >
          <template slot-scope="scope">
            <span style="margin-left: 10px; text-align: center">{{ scope.row.readiness }}%</span>
          </template>
        </el-table-column>
        <el-table-column
                prop="readinessAdmin"
                label="Admin Ready"
                width="120"
                >
          <template slot-scope="scope">
            <check-cell :data="scope.row.readinessAdmin"></check-cell>
          </template>
        </el-table-column>
        <el-table-column
                prop="isSubmitted"
                label="Submitted"
                width="120"
        >
          <template slot-scope="scope">
            <check-cell :data="scope.row.isSubmitted"></check-cell>
          </template>
        </el-table-column>
        <el-table-column
                prop="downloaded"
                label="Downloaded"
                width="120"
        >
          <template slot-scope="scope">
            <div v-if="!scope.row.download || !scope.row.download.total">
              <check-cell :data="false"></check-cell>
            </div>
            <div v-else-if="scope.row.download.total === scope.row.download.done">
              <check-cell :data="true"></check-cell>
            </div>
            <div v-else>
              {{scope.row.download.done}}/{{scope.row.download.total}} <span v-if="scope.row.download.errs">({{scope.row.download.errs}})</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
                prop="csv"
                label="CSV"
                width="120"
        >
          <template slot-scope="scope">
            <check-cell :data="scope.row.csv"></check-cell>
          </template>
        </el-table-column>
        <el-table-column
                prop="isApproved"
                label="Approved"
                width="120"
        >
          <template slot-scope="scope">
            <check-cell :data="scope.row.isApproved"></check-cell>
          </template>
        </el-table-column>
        <el-table-column
                prop="peopleFav"
                label="People Fav"
                width="120"
        >
          <template slot-scope="scope">
            <check-cell :data="scope.row.peopleFav"></check-cell>
          </template>
        </el-table-column>
        <el-table-column
                prop="editorFav"
                label="Editors Fav"
                width="120"
        >
          <template slot-scope="scope">
            <check-cell :data="scope.row.editorFav"></check-cell>
          </template>
        </el-table-column>
        <el-table-column
                fixed="right"
                label="Operations"
                width="120">
          <template slot-scope="scope">
            <!--<el-button @click="handleClick" type="text" size="small">Detail</el-button>-->
            <el-button type="text" size="small" @click="openThing(scope.row)">Edit</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
              :current-page="currentPage"
              :page-size="pageSize"
              @current-change="fetch"
              layout="prev, pager, next"
              :total="total">
      </el-pagination>
    </div>
    <el-dialog :title="'create project'" :visible.sync="formVisible" @close="cancelForm">
      <el-form :model="form" :rules="rules" ref="project"
               :close-on-click-modal="false" :close-on-press-escape="false">
        <el-form-item :label="'select user by ID6 or email'" prop="type">
          <el-select
                  v-model="form.user"
                  filterable
                  remote
                  placeholder="Please enter ID6 or email"
                  :remote-method="remoteMethod"
                  :loading="loading">
            <el-option
                    v-for="item in users"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click.native="formVisible=false">{{$t('confirm.cancel')}}</el-button>
        <el-button type="primary" @click.native="saveForm">{{$t('confirm.ok')}}</el-button>
      </span>
    </el-dialog>
  </content-module>
</template>
<script>
import { thing as thingRes, sid as sidRes, user as userRes, project as projectRes } from 'resources'
import locales from 'locales/things'
import CheckCell from '../components/CheckCell'
import store from '../store'
import * as _ from 'lodash'
var defaultSub1Item = { images:[]};
var defaultSub2Item = { images:[]};
var defaultSub3Item = { images:[]};
var defaultForm = {
  envType:'m',
  commonEvaluationFlat:null,
  commonEvaluationBlock:null,
  commonEvaluationBuilding:null,
  avgCost:null,
  sid:[],
  coverImage:[],
  images:[],
  panel:[],
  album:[]
}
export default {
  locales,
  components:{
    CheckCell
  },
  data () {
    return {
      id6search: null,
      readinessFilter: 'all',
      onlyCurrent: true,
      currentPage:1,
      pageSize:30,
      loading: false,
      total:0,
      headers: {
        'Authorization':`Bearer ${store.getters.accessToken}`
      },
      checkers: {},
      users: [],
      sidLoading:false,
      sidOptions:[],
      formVisible: false,
      activeSub2: 'as20',
      activeSub3: 'as30',
      form: _.cloneDeep(defaultForm),
      rules: {
        user: [
          { required: true, message: 'Please select user', trigger: 'blur' }
        ],
      },
      things: [],
      deletedSub3:null
    }
  },
  watch: {
    // 'onlyCurrent' () {
    //   this.currentPage = 1;
    //   this.fetch(this.currentPage)
    // },
    'form.envType' (val, nval) {

      let index = -1;
      _.each(this.form.sub2, (item, _index) => {
        if(item.id === '3'){
          index = _index;
        }
        return;
      });

      console.log('W', val, index, JSON.stringify(this.form.sub2));
      if(val==='l') {
        if(index<0){
          if(this.deletedSub3){
            this.form.sub2.push(this.deletedSub3[0])
          }else{
            this.form.sub2.push({
              id:'3',
              item:_.cloneDeep(defaultSub1Item)
            })
          }
        }
      } else {
        if(index>=0){
          this.deletedSub3 = this.form.sub2.splice(index, 1)
        }
      }
    }
  },
  computed:{
    allImages: function(){
      var allImgs =  _.map(['1','2','3'], (count)=>{
        return _.map(this.form['sub'+count], (sub)=>{
          return sub.item.images;
        })
      })
      return _.flattenDeep(allImgs);
    }
  },
  methods: {
    openThing(thing){
      this.$router.push({ path: `/admin/things/${thing._id}` })
    },
    refreshData(){
      this.$forceUpdate()
    },
    addSubItem(sub){
      var nid = Math.random().toString(36).substring(7);
//      while(_.find(sub.items, {id:nid})){
//        nid = Math.random().toString(36).substring(7);
//      }
      sub.item = {images:[]}
    },
    removeSubItem(sub, item){
      sub.item = {}
    },
    remoteMethod(query) {
      if (query !== '') {
        this.loading = true;
        userRes.query({ page: 0, emailOrId6: query, isAdmin: true })
          .then((data) => data.body.results)
          .then((users) => {
            this.loading = false;
            this.users = _.map(users, (user) => ({
              value: user._id,
              label: `[${user.id6}] ${user.email}`
            }))
          })
          .catch((err) => {
            console.error(err)
            this.loading = false;
          })


      } else {
        this.users = [];
      }
    },
    // fetchSids(query){
    //   this.sidLoading = true;
    //   sidRes.query({search:query}).then(data => data.json()).then(data => {
    //     console.log('! data', data)
    //     this.sidLoading = false;
    //     if (data && data.results){
    //       this.sidOptions = data.results
    //     }
    //
    //   })
    // },
    // fetchCheckers(){
    //   checkersRes.query().then(data => data.json()).then(data => {
    //     if (data && data.results){
    //       this.checkers = _.transform(data.results, (total, item) => {
    //         total[item._id] = item;
    //         return true;
    //       }, {})
    //       console.log('CHECKERS ', this.checkers, data.results)
    //     }
    //
    //   })
    // },
    // handleTabsEdit(targetName, action) {
    //   if (action === 'add') {
    //     let newTabName = ++this.tabIndex + '';
    //     this.editableTabs.push({
    //       title: 'New Tab',
    //       name: newTabName,
    //       content: 'New Tab content'
    //     });
    //     this.editableTabsValue = newTabName;
    //   }
    //   if (action === 'remove') {
    //     let tabs = this.editableTabs;
    //     let activeName = this.editableTabsValue;
    //     if (activeName === targetName) {
    //       tabs.forEach((tab, index) => {
    //         if (tab.name === targetName) {
    //           let nextTab = tabs[index + 1] || tabs[index - 1];
    //           if (nextTab) {
    //             activeName = nextTab.name;
    //           }
    //         }
    //       });
    //     }
    //
    //     this.editableTabsValue = activeName;
    //     this.editableTabs = tabs.filter(tab => tab.name !== targetName);
    //   }
    // },
    // handleRemove(file, fileList) {
    //   console.log('handleRemove', file, fileList);
    // },
    // handlePreview(file) {
    //   console.log('handlePreview', file);
    // },
    fetch (currentPage) {
      if(+currentPage >= 0){
        this.currentPage = +currentPage
      }
      projectRes.query({search: {'id6': this.id6search}, isAdmin: true, readinessFilter: this.readinessFilter, currentStage: false, page: this.currentPage - 1, count: this.pageSize}).then(data => data.json()).then(data => {
        this.things = data.results
        this.total = data.total
      }).catch(err => {
        console.error(err)
      })
    },
    createThing () {
      this.formVisible = true
    },
    cancelForm () {
      this.clearForm()
      this.formVisible = false
    },
    saveForm () {
      this.$refs.project.validate(valid => {
        if (valid) {
          let promise
          let data = JSON.parse(JSON.stringify(this.form))
          if (this.form._id) {
            // promise = projectRes.update({ _id: this.form._id }, data)
          } else {
            console.log(' >> ', this.form.user)
            promise = projectRes.save({}, { user: { _id: this.form.user }})
          }
          promise.then(() => {
            this.cancelForm()
            this.$message({
              type: 'success',
              message: this.form._id ? this.$t('message.updated') : this.$t('message.created')
            })
            this.fetch()
          }).catch(() => {})
        } else {
          this.$message({
            type: 'warning',
            message: this.$t('message.formErrors')
          })
        }
      })
    },
    editThing (thing) {
      console.log('edit', thing)
      this.clearForm();
      Object.assign(this.form, _.cloneDeep(thing))
      if (!this.form.cover) {
        this.form.cover = [];
      }
      this.form.sid = [this.form.sid];
      this.formVisible = true
    },
    deleteThing (thing) {
      this.$confirm(`This action will remove the selected work: ${thing.pid} forever, still going on?`, this.$t('confirm.title'), {
        type: 'warning'
      }).then(() => {
        thingRes.delete({ _id: thing._id }).then(() => {
          this.$message({
            type: 'success',
            message: this.$t('message.removed')
          })
          this.fetch()
        })
      }).catch(() => {})
    },
    clearForm(){
      this.form = _.cloneDeep(defaultForm)
    },
    handleClose(done){
      this.clearForm()
      done()
    },
    setModel(a, b){
//      console.log('AAA', a, b, c)
      this[b] = a
    }
  },
  created () {
    this.fetch()
    //this.fetchCheckers()
  }
}
</script>
<style lang="stylus" scoped>
@import "../assets/css/variable"
.listcover
  width 140px
  height 140px
  position relative
  background-size cover
  background-position center center
  background-repeat no-repeat
  &.nocover
    vertical-align middle
    line-height 1rem
    display table-cell
    opacity 0.5
    text-align center

.img
  width 100px
  height 100px
  position relative
  background-color $color-gray
  background-size contain
  background-position center center
  background-repeat no-repeat

.noimg
  text-align center
  width 100px
  height 100px
  background-color $color-gray
  vertical-align middle
  line-height 1rem
  display table-cell
  opacity 0.5

.checker-good
  border-left: green solid 4px;
  box-sizing: content-box;
  margin-left: -8px;
  padding-left: 4px;

.checker-warn
  border-left: yellow solid 4px;
  box-sizing: content-box;
  margin-left: -8px;
  padding-left: 4px;

.checker-bad
  border-left: red solid 4px;
  box-sizing: content-box;
  margin-left: -8px;
  padding-left: 4px;

.rightvalueform
  .el-form-item
    text-align right
.tab-icon
  margin-right 6px
.box-card
  display inline-block
  margin .5rem
  .icon
    float right
    margin-left .5rem
    color $color-silver
    cursor pointer
    &:hover
      color $color-primary
</style>
