<template>
    <el-container>

      <el-main :class="thing.envType">
        <content-module name="thing" style="height: 100%;">
            <el-container style="height: 100%;" id="thing-header">
                <el-header class="header" :class="{
                                                        h:thing.envType === 'h',
                                                        m:thing.envType === 'm',
                                                        l:thing.envType === 'l',
                                                    }">

                    <el-row type="flex" align="middle">
                        <el-col :span="4" style="    white-space: nowrap;">
                            <div @click="backtohome"  class="clickable" style="    display: flex; align-items: center;     padding-left: 6px;">
                                <i class="el-icon-arrow-left prevnexticon" style="vertical-align: middle;font-size: 18px;"></i>
                                <span style="font-size: 18px; padding-left: 6px">{{$t('back')}}</span>
                            </div>
                        </el-col>
                        <el-col :span="16" style="white-space: nowrap;display: flex; justify-content: center">
                            <div style="display: flex; align-items: center">

                                <div v-if="thing.isFinalist"
                                     style="display: flex;font-size: 16px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    line-height: 1px;
    font-size: 24px;
        margin-right: 10px;
    vertical-align: middle;">
                                    <!--<simple-svg-->

                                            <!--:filepath="'/static/icons/heart.svg'"-->
                                            <!--fill="#ffffff"-->
                                            <!--stroke="none"-->
                                            <!--class="people-fav"-->
                                            <!--:width="'24px'"-->
                                            <!--:height="'24px'"-->
                                    <!--/>-->
                                    <i class="el-icon-star-off"></i>
                                    <div>
                                    </div>
                                </div>

                                <div>
                                    <el-button class="prev-next-button prev" type="text" @click="goToPrev">
                                        <i class="el-icon-arrow-left prevnexticon" style="vertical-align: middle;"></i>
                                    </el-button>
                                </div>
                                <div style="padding-left: 0.5em; padding-right: 0.5em; font-size: 16px !important;">
                                    {{ thing.user.viewName }}
                                </div>
                                <div>
                                    <el-button class="prev-next-button next"  type="text" @click="goToNext">
                                        <i class="el-icon-arrow-right prevnexticon" style="vertical-align: middle;"></i></el-button>
                                </div>

                                <!--<div>-->
                                    <!--<div class="nav"  style="align-self: center;padding-left: 10px;padding-right: 10px;">-->

                                        <!--<span @click="switchLanguage('ru')"-->
                                              <!--class="lang"-->
                                              <!--:class="{hl: currentLang==='ru'}">RU</span> |-->
                                        <!--<span @click="switchLanguage('en')"-->
                                              <!--class="lang"-->
                                              <!--:class="{hl: currentLang==='en'}">EN</span>-->

                                    <!--</div>-->
                                <!--</div>-->



                                <!--<el-radio-group v-model="thing.like" @change="likeThing" id="likeradio">-->
                                    <!--<el-radio-button class="vote-bad-button" label="-" name="-">-->
                                        <!--<div class="likebutton-container">-->
                                            <!--<div style="flex:1">-->
                                                <!--{{$t('vote.bad')}}-->
                                            <!--</div>-->
                                            <!--<div style="flex:1">-->
                                                <!--<simple-svg-->
                                                            <!--:filepath="'/static/icons/n_dislike.svg'"-->
                                                            <!--:fill="(thing.like !== '-')?'#CE181E':'#ffffff'"-->
                                                            <!--stroke="none"-->
                                                            <!--class="likeicon dislike"-->
                                                            <!--:width="'16px'"-->
                                                            <!--:height="'16px'"-->
                                                            <!--:id="'custom-id'"-->
                                                <!--/>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</el-radio-button>-->
                                    <!--<el-radio-button class="vote-good-button" label="+" name="+">-->
                                        <!--<div class="likebutton-container">-->
                                            <!--<div style="flex:1">-->
                                                <!--{{$t('vote.good')}}-->
                                            <!--</div>-->
                                            <!--<div style="flex:1">-->
                                                <!--<simple-svg-->
                                                            <!--:filepath="'/static/icons/n_like.svg'"-->
                                                            <!--:fill="(thing.like !== '+')?'#79AD36':'#ffffff'"-->
                                                            <!--stroke="none"-->
                                                            <!--class="likeicon like"-->
                                                            <!--:width="'16px'"-->
                                                            <!--:height="'16px'"-->
                                                            <!--:id="'custom-id2'"-->
                                                <!--/>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</el-radio-button>-->
                                <!--</el-radio-group>-->

                            </div>
                        </el-col>
                        <el-col :span="4" style="white-space: nowrap;">

                          <!-- <div id="vote-buttons">
                            <label class="score-button left-button">
                               <input type="radio" v-model="vote" value="1" @click="voteClick">
                                <span>1</span>
                             </label>
    
                          <label class="score-button middle-button">
                            <input type="radio" v-model="vote" value="2" @click="voteClick">
                            <span>2</span>
                           </label>
    
                          <label class="score-button right-button">
                             <input type="radio" v-model="vote" value="3" @click="voteClick">
                            <span>3</span>
                              </label>
                         </div> -->
                          <div id="vote-buttons">
                                <label class="left-button vote-label"
                               @click="voteClick(1, $event)"
                                  :style="[{backgroundColor: firstChecked ? '#fff' : '#2f444e' }, 
                                   {color: firstChecked ? '#2f444e' : '#fff'}]"
                               >1</label>
                  
                                  <label
                                     class="middle-button vote-label"
                                      :style="[{backgroundColor: secondChecked ? '#fff' : '#2f444e' }, 
                                        {color: secondChecked ? '#2f444e' : '#fff'}]"
                                      @click="voteClick(2, $event)"
                                 >2</label>
                  
                              <label
                                  class="right-button vote-label"
                                   :style="[{backgroundColor: thirdChecked ? '#fff' : '#2f444e' }, 
                                    {color: thirdChecked ? '#2f444e' : '#fff'}]"
                                  @click="voteClick(3, $event)"
                                  >3</label>
                               </div>
                        </el-col>
                    </el-row>
                </el-header>
            <el-container >



                <el-main style="padding: 0px 10px 10px 10px" id="thingpage" >
                    <el-tabs v-model="activeVariant"
                             @tab-click="handleNodeClick"
                             style="min-height: 100%"
                             type="border-card"
                             >
                        <el-tab-pane
                                     v-for="(tab, tabIndex) in tabs"
                                     :key="tab.id"
                                     style="min-height: 100%"
                                     :label="$t(tab.label)"
                                     :name="tab.id">

                            <thing-details :data="tab"
                                           v-if="thing._id"
                                           :ref="`td_${tabIndex}`"
                                           :trigger="thing._id"
                                           @opengallery="openGalley"
                                           :envType="thing.envType"
                            ></thing-details>

                        </el-tab-pane>
                    </el-tabs>
                </el-main>

            </el-container>

            </el-container>

        </content-module>
      </el-main>
    </el-container>
    <!--<el-tabs tab-position="left">-->
    <!--<el-tab-pane :label="variant.dynamicLabel" v-for="variant in variants">-->
    <!--={{variant}}=-->
    <!--</el-tab-pane>-->

    <!--</el-tabs>-->
    <!--<div>User {{ $route.params.id }}</div>-->
  <!--<div class="flex flex-1" style="width:100%">-->
  <!--</div>-->
</template>
<script>
  import Promise from 'bluebird'
  import XHeader from '../components/Header'
  import { mapGetters, mapActions } from 'vuex'
  import ThingDetails from '../components/thing-details'
  import { project as projectRes} from 'resources'
  import locales from 'locales/things'
  import store from '../store'
  import * as _ from 'lodash'
  import VueGallery from 'vue-gallery';
  import panzoom from 'panzoom'
  import { checkerToNumber } from '../shared/checker-helper'
  import { checkers as checkersRes } from 'resources'
  import { EventBus } from '../eventbus.js';
  import VoteButtons from '../components/VoteButtons.vue'
  
  export default {
    locales,
    computed: {
      ...mapGetters(['userRole',
        'userFirstCount',
        'userSecondCount',
        'userThirdCount']),
      currentLang(){
        return this.$lang.split('-')[0]
      }
    },
    data () {
      return {
        like: 0,
        vote: 0,
        loaded: false,
        previousVote: 0,
        notLesser: false,
        firstChecked: false,
        secondChecked: false,
        thirdChecked: false,
        checkers:{},
        galleryIndex: null,
        galleryImages: [],
        zoomInstance: null,
        galleryOptions:{
          closeOnSlideClick:false,
          closeOnSwipeUpOrDown:false,
//          stopTouchEventsPropagation: true,
          disableScroll: true,
        },
        names:{
          blocks:{
            buildings25: {
              ru: ' среднего размера',
              en: ', medium size'
            },
            buildings30: {
              ru: ' увеличенного размера',
              en: ', large size'
            },
            flats25: {
              ru: ' среднего размера',
              en: ', medium size'
            },
            flats30: {
              ru: ' увеличенного размера',
              en: ', large size'
            },
          },
          subblocks:{
            urbanVilla:{
              ru: 'Малоквартирный дом',
              en: 'Urban villa'
            },
            sectionBuilding:{
              ru: 'Секционный дом',
              en: 'Section building'
            },
            galleryBuilding:{
              ru: 'Галерейный дом',
              en: 'Gallery building'
            },
            tower:{
              ru: 'Башня',
              en: 'Tower'
            },

            studio25:{
              ru: 'Студия',
              en: 'Studio'
            },
            oneBedAp45:{
              ru: 'Квартира с 1-ой спальней',
              en: '1-bedroom apartment'
            },
            oneBedAp65:{
              ru: 'Квартира с 1-ой спальней',
              en: '1-bedroom apartment'
            },
            twoBedAp85:{
              ru: 'Квартира с 2-мя спальнями',
              en: '2-bedroom apartment'
            },
            threeBedAp105:{
              ru: 'Квартира с 3-мя спальнями',
              en: '3-bedroom apartment'
            },
            studio30:{
              ru: 'Студия',
              en: 'Studio'
            },
            oneBedAp50:{
              ru: 'Квартира с 1-ой спальней',
              en: '1-bedroom apartment'
            },
            oneBedAp70:{
              ru: 'Квартира с 1-ой спальней',
              en: '1-bedroom apartment'
            },
            twoBedAp90:{
              ru: 'Квартира с 2-мя спальнями',
              en: '2-bedroom apartment'
            },
            threeBedAp110:{
              ru: 'Квартира с 3-мя спальнями',
              en: '3-bedroom apartment'
            },
          }
        },
        tabs:[
          {
            id:'common',
            label: 'thing.details.tabs.common',
            data:[]
          },
          {
            id:'buildings',
            label: 'thing.details.tabs.buildings',
            data:[]
          },
          {
            id:'flats',
            label: 'thing.details.tabs.flats',
            data:[]
          },
          {
            id:'panel',
            label: 'thing.details.tabs.panel',
            data:[]
          },
          {
            id:'album',
            label: 'thing.details.tabs.album',
            data:[]
          },
          {
            id:'video',
            label: 'thing.details.tabs.video',
            data:[]
          },
          {
            id:'data',
            label: 'thing.details.tabs.data',
            data:[]
          }          
        ],
        activeVariant:'common',
        defaultProps: {
          children: 'children',
          label: 'label'
        },
        headers: {
          'Authorization':`Bearer ${store.getters.accessToken}`
        },
        thing: {
          user:{}
        },
        variants: [],
        selectedItem: {}
      }
    },
    components: {
      XHeader,
      ThingDetails,
      'gallery': VueGallery,
      VoteButtons
    },
    watch:{

    },
    methods: {
      ...mapActions(['logout', 'updateGlobalConfig']),
      switchLanguage(lang){
        if (lang === 'ru') {
          this.updateGlobalConfig({lang:'ru-RU'})
        } else {
          this.updateGlobalConfig({lang:'en'})
        }
      },
      backtohome () {
        this.$router.push({ path: "/" })
      },
      fetch (tid) {    
        console.log('this.loaded', this.loaded)    
        projectRes.getLike({_id: tid || this.$route.params.id})
        .then(data => data.json())
          .then(data => {
            this.thing.user.viewName = data.name
            console.log('data like', data)
             this.like = data.like
            this.previousVote = data.like
            this.vote = data.like

            console.log('this.like', this.like)
            console.log('this.projectId', this.projectId)
            console.log('button first', this.first)
            this.vote = this.like ? parseInt(this.like) : 0;
             this.previousVote = this.like ? parseInt(this.like) : 0;

            switch (this.vote) {
             case 1:
              case '1':
               this.firstChecked = true;
                this.secondChecked = false;
                 this.thirdChecked = false;
                 break;
              case 2:
              case '2':
               this.secondChecked = true;
               this.firstChecked = false;
                this.thirdChecked = false;
                   break;
                case 3:
                case '3':
               this.thirdChecked = true;
               this.firstChecked = false;
                 this.secondChecked = false;
                   break;
             default:
                this.firstChecked = false;
                 this.secondChecked = false;
                 this.thirdChecked = false;
              break;
           }
           this.loaded = true
           console.log('this.loaded', this.loaded)  
          })
        return projectRes.query({_id: tid || this.$route.params.id})
          .then(data => data.json())
          .then(data => {
            console.log('thing', data)
            this.thing = data
            console.log( "userId", this.userId)
          //  this.$socket.emit('like', { "projectId": this.$route.params.id, "userId": this.userId } )
          //   this.like = data.like
          //   this.previousVote = data.like
          //   this.vote = data.like

          //   console.log('this.like', this.like)
          //   console.log('this.projectId', this.projectId)
          //   console.log('button first', this.first)
          //   this.vote = this.like ? parseInt(this.like) : 0;
          //    this.previousVote = this.like ? parseInt(this.like) : 0;

          //   switch (this.vote) {
          //    case 1:
          //      this.firstChecked = true;
          //       this.secondChecked = false;
          //        this.thirdChecked = false;
          //        break;
          //     case 2:
          //      this.secondChecked = true;
          //      this.firstChecked = false;
          //       this.thirdChecked = false;
          //          break;
          //         case 3:
          //      this.thirdChecked = true;
          //      this.firstChecked = false;
          //        this.secondChecked = false;
          //          break;
          //    default:
          //       this.firstChecked = false;
          //        this.secondChecked = false;
          //        this.thirdChecked = false;
          //     break;
          //  }



            const commonData  = this.getCommonData(data);
            this.tabs[0].data = commonData // this.getCommonData(data)
            this.tabs[1].data = commonData
            this.tabs[2].data = commonData
            this.tabs[3].data = _.chain([data.panel1converted, data.panel2converted]).map((p, i) => {
              return p?_.map(p.uploads, (u) => {
                return _.assign(u, {
                  name:{
                    ru: `Планшет ${i+1}`,
                    en: `Panel ${i+1}`
                  }
                })
              }) : null
            }).flatten().compact().value()
            this.tabs[4].data = data.albumConverted ? _.map(data.albumConverted.uploads, (u, i) => {
              return _.assign(u, {name: {
                ru: i+1,
                en: i+1
                }})
            }) : []
             this.tabs[5].data = data
             console.log('data.data', data)
            this.tabs[6].data = data
            console.log('tabs', this.tabs)
              this.$nextTick(() => {
                this.activeVariant = 'common'
                this.$nextTick(() => {
                  if(this.$refs['td_0']){
                    this.$refs['td_0'][0].setGalleryToZero()
                  }
                })
                this.$forceUpdate()
              })
              
            return data.like
          })
          .catch(err => {
            console.error(err)
          })
      },
      getCommonData(data){

        data.tepblocks = {};
        _.each(data.items, (block) => {
          let i =0;
          const type = _.startsWith(block.key, 'flat') ? 'flats' : 'buildings';
          console.log('block', type, block, data.tepblocks[type])
          if(!data.tepblocks[type]){
            data.tepblocks[type] = [];
          }
          _.each(block.items, (subblock) => {
              const newPart = _.chain(subblock.vis).map((v) => {

                return _.map(v.uploads, (u) => _.assign({}, u, {
                  teps: _.filter(subblock.items, (t) => t.isVisible),
                  isTep: true,
                  index: i++,
                  key: v.key,
                  name: {
                    ru: `${this.names.subblocks[subblock.key].ru}${this.names.blocks[block.key].ru}. ${v.name.ru}`,
                    en: `${this.names.subblocks[subblock.key].en}${this.names.blocks[block.key].en}. ${v.name.en}`,
                  },
                  parname: subblock.name
                }))
              }).flatten().compact().value()
            data.tepblocks[type] =_.concat(data.tepblocks[type], newPart)
          })
        })
        console.log('data.visConverted', data.visConverted)
        const schemas = _.map(data.schemas.uploads, (u, i) => {
            return _.assign(u, {
              isTep: false,
              key: "schema"+i,
              name: {
                  ru: `Схема ${i+1}`,
                  en: `Scheme ${i+1}`
              }})
        })

        console.log('schemas', data.schemas, schemas)
        let vi = 0;
          // _.assign(data.schemas.uploads, {name: data.schemas.name})
        const vis = _.chain(data.visConverted).map((v, i) => {
          console.log('vis',v)
          return _.map(v.uploads, (u, ii) =>{
            // if(!(v.name && v.name.length > 0)){
            vi++;
            // }
            return _.assign(u, {
                isTep: false,
                key: "vis"+i+"."+ii,
                name: {
                  ru: (v.name && v.name.ru ) ? v.name.ru : `Визуализация ${vi}`,
                  en: (v.name && v.name.en ) ? v.name.en : `Visualization ${vi}`
                }
            })
          })
        }).flatten().value()
        data.tepblocks.common = _.map(_.concat(vis, schemas), (item, i)=> {
          item.index = i;
          return item
        })
        console.log('getCommonData', data.tepblocks);
        return data;
      },
      handleNodeClick(item){
        console.log('item', item.index, this.$refs[`td_${item.index}`][0],  this.$refs[`td_${item.index}`][0].setGalleryToZero)

          this.$refs[`td_${item.index}`][0].setGalleryToZero()
          // this.$nextTick(() => {
            this.selectedItem = item
          // })
      },
      // likeThing(item){
      //   projectRes.like({_id: this.$route.params.id}, {value: item})
      //     .then((data)=>{
      //       if (data.body && data.body.results && data.body.results.disabled) {
      //         console.log('DISABLED')
      //         this.$message({
      //           message: this.$t('likeDisabled'),
      //           type: 'warning'
      //         });
      //         return;
      //       }
      //       this.thing.like = item;
      //       EventBus.$emit('thingVoted', this.$route.params.id, item)

      //       this.$nextTick(() => {
      //         this.$forceUpdate()
      //       })
      //     })
      //     .catch(err => {
      //       console.error(err)
      //     })
      // },
      convertToTable(d, variantId, subId){
        let res = [];
        let a = _.omit(JSON.parse(JSON.stringify(d)),'images');

        for(let key in a){
          let checkerLabel = variantId === 'sub1' ? key : key+'.'+subId;
          var checkNumber = checkerToNumber(this.checkers[checkerLabel], a[key], this.thing.envType, key);
          res.push({
            label: 'thing.model.'+variantId+'.'+key,
            value: a[key],
            prelabel: key,
            subId: subId,
            variantId: variantId,
            envType: this.thing.envType,
            checkerLabel: checkerLabel,
            eval: checkNumber
          })
        }
        let itemsToRemove = ['unsubmitted', 'commonEvaluation']
        if(variantId === 'sub2'){
          itemsToRemove = _.concat(itemsToRemove, ['baseArea', 'frontArea', 'glassArea', 'celHeight', 'drainage', 'heavyElevator'])

        } else if(variantId === 'sub3'){
          itemsToRemove = _.concat(itemsToRemove, ['windows', 'balcony', 'balconyGlass', 'rightShape'])
        }
        res = _.reject(res, (item) => {
          let _itemsToRemove;
          if (item.envType === 'l' && item.subId !== 3) {
            _itemsToRemove = _.concat(itemsToRemove, ['flatsQty', 'k2', 'doubleOriented', 'elevatorsQty', 'concierge', 'transEntrance', 'storage', 'sharedSpaces'])
          } else {
            _itemsToRemove = _.concat(itemsToRemove, [])
          }
          return _.indexOf(_itemsToRemove, item.prelabel)>=0
        });

        let orders = {
          sub1: [
            'commonEvaluation',
            'area',
            'length',
            'height',
            'developedPercent',
            'dens',
            'commers',
            'parking',
            'population',
            'edu'
          ],
          sub2: [
            'commonEvaluation',
            'buildingHeight',
            'liveArea',
            'flatArea',
            'buildingArea',
            'baseArea',
            'frontArea',
            'glassArea',
            'floorArea',
            'm2price',
            'k1',
            'k2',
            'k3',
            'k4',
            'k5',
            'celHeight',
            'flatsQty',
            'doubleOriented',
            'drainage',
            'heavyElevator',
            'elevatorsQty',
            'concierge',
            'transEntrance',
            'storage',
            'sharedSpaces'
          ],
          sub3: [
            'commonEvaluation',
            'area',
            'liveArea',
            'windows',
            'balcony',
            'balconyGlass',
            'rightShape'
          ]
        };
        res = _.sortBy(res, (val) => {
          return _.indexOf(orders[variantId], val.prelabel)
        });
        return res;
      },
//      onSlide(data){
//
//        data.slide.classList.add('slidehidden')
//        let allItems = document.querySelectorAll('.slide');
////        console.log(allItems)
////        if(!allItems[data.index]){
////          console.log('no item?')
////          return
////        }
//        let newInstance = {
//          panzoom:panzoom(allItems[data.index],{
//            maxZoom: 4,
//            minZoom: 1,
//            smoothScroll: false
//          }),
//          slide:data.slide
//        }
//        data.slide.classList.add('current')
//        if(this.zoomInstance){
//          this.zoomInstance.panzoom.zoomAbs(
//            0, // initial x position
//            0, // initial y position
//            1  // initial zoom
//          )
//          this.zoomInstance.panzoom.dispose()
//          this.zoomInstance.slide.classList.remove('current')
//        }
//        this.zoomInstance = newInstance
//      },
      openGalley(trg, data, titles, index){
        console.log('OG', data, titles, index)
        Promise.map(data, (dat, i) => {
          return new Promise((resolve, reject) => {
            console.log('titles[i].name[this.currentLang]', titles[i].name[this.currentLang])
            let img = new Image();
            let title = titles[i].name[this.currentLang]
            img.onload = function() {
              resolve({
                src: dat,
                title: title,
                w: img.width,
                h: img.height
              })
            }
            img.src = dat;
          })
        })
          .then((_data) => {
            console.log('this.$photoswipe', this.$photoswipe)
            // this.$photoswipe.listen('afterChange', function() {
            //   console.log('AFTER C')
            // });
            const pw = this.$photoswipe.open(index, _data, {maxSpreadZoom: 4,
              zoomEl:true,
              afterChange: () => {
                console.log('AFTER C')
              },
              fullscreenEl: true,
              closeOnScroll: false,
              shareEl:false})
              pw.listen('afterChange', function() {
                console.log('AFTER C',pw.getCurrentIndex(), trg)
                trg.setCarouselToIndex(pw.getCurrentIndex())
              });
            console.log('pw', pw)
          })
      },

      goToPrev(){
        projectRes.showPrev({_id:this.thing._id})
          .then(data => data.json())
          .then((thing) => {
              if(thing && thing._id){
                this.$router.push({ path: `/work/${thing._id}` })
                this.fetch(thing._id)
                  .then(()=>{
                    this.activeVariant = 'common'
                  })
              }
          })
      },
      goToNext(){
        projectRes.showNext({_id:this.thing._id})
          .then(data => data.json())
          .then((thing) => {
            if(thing && thing._id) {
              this.$router.push({path: `/work/${thing._id}`})
              this.fetch(thing._id)
                .then(()=>{
                  this.activeVariant = 'common'
                })
            }
          })
      },
    voteClick(num, e) {
      console.log("num", num);
      console.log("e", e);
      if (!this.loaded) {
        return
      }

      var current = parseInt(num);
      var previous = parseInt(this.previousVote);


      console.log(
        "this.firstChecked",
        this.firstChecked,
        "this.secondChecked",
        this.secondChecked,
        "this.thirdChecked",
        this.thirdChecked
      );

      console.log(
        "...",
        "previous",
        previous,
        "current",
        current,
        "previousVote",
        this.previousVote,
        "vote",
        this.vote
      );

      this.notLesser = false;
      if (this.previousVote === current) {
        EventBus.$emit("vote", this.thing._id, 0, previous);
        EventBus.$emit('vote-details', this.thing._id, current)    
        this.vote = 0;
        this.previousVote = 0;
        console.log("this.previousVote current equal", this.previousVote);
        switch (current) {
          case 1:
            this.firstChecked = !this.firstChecked;
            break;
          case 2:
            this.secondChecked = !this.secondChecked;
            break;
          case 3:
            this.thirdChecked = !this.thirdChecked;
            break;
        }
        this.likeThing(0)
      } else {
        switch (current) {
          case "1":
          case 1:
            if (parseInt(this.userFirstCount, 10) - 1 > -1) {
              console.log("...", " set this.notLesser");
              this.notLesser = true;
              //  this.vote = 1
            }
            break;
          case "2":
          case 2:
            if (parseInt(this.userSecondCount, 10) - 1 > -1) {
              this.notLesser = true;
              // this.vote = 2
            }
            break;
          case "3":
          case 3:
            if (parseInt(this.userThirdCount, 10) - 1 > -1) {
              this.notLesser = true;
              // this.vote = 3
            }
            break;
        }

        console.log("...", "this.notLesser", this.notLesser);
        if (this.notLesser === true) {
          console.log("...", "this.notLesser", this.notLesser);
          this.vote = current;
          this.previousVote = current;
          console.log("send event", "current", current, "previous", previous);
          EventBus.$emit("vote", this.thing._id, current, previous);
           EventBus.$emit('vote-details', this.thing._id, current)     
          switch (current) {
            case 1:
              this.firstChecked = !this.firstChecked;
              if (this.secondChecked) {
                this.secondChecked = false;
              }
              if (this.thirdChecked) {
                this.thirdChecked = false;
              }
              break;
            case 2:
              this.secondChecked = !this.secondChecked;
              if (this.firstChecked) {
                this.firstChecked = false;
              }
              if (this.thirdChecked) {
                this.thirdChecked = false;
              }
              break;
            case 3:
              this.thirdChecked = !this.thirdChecked;
              if (this.firstChecked) {
                this.firstChecked = false;
              }
              if (this.secondChecked) {
                this.secondChecked = false;
              }
              break;
          }
          console.log(' this.userFirstCount',  this.userFirstCount)
           console.log(' this.userSecondCount',  this.userSecondCount)
          this.likeThing(current);
        } else {
          console.log(
            "...",
            "set vote handle",
            "current",
            current,
            "previous",
            previous
          );
          //this.vote = 0;
          //this.previousVote = 0;
          //EventBus.$emit("vote", this.thing._id, -1, previous);
          console.log("false vote", this.vote);
        }
      }
      //e.stopPropagation()
      //this.previousVote = current;

      //if (current)

      // this.notLesser=true
    },

      likeThing(item){
         console.log('this.thing._id', this.thing._id)
        // if (this.thing._id) {
             projectRes.like({_id: this.thing._id}, {value: item})          
             .catch(err => {
               console.error(err)
             })
        // }
      },
    },
    created () {
    },
    computed: {
      ...mapGetters([
        'userId',
        'userFirstCount',
        'userSecondCount',
        'userThirdCount'
      ])
    },
    mounted () {
      this.$nextTick(() => {
        this.fetch()
      })
      console.log(' this.userFirstCount',  this.userFirstCount)
      console.log(' this.userSecondCount',  this.userSecondCount)
      this.firstCount =  this.userFirstCount
      this.secondCount = this.userSecondCount
      this.thirdCount = this.userThirdCount

      console.log('this.like', this.like)
     console.log('this.projectId', this.projectId)
       console.log('button first', this.first)
    this.vote = this.like ? parseInt(this.like) : 0;
    this.previousVote = this.like ? parseInt(this.like) : 0;
    // this.$nextTick(() => {
    //   console.log('button forceupdate')
    //         this.$forceUpdate()
    //       })
    switch (this.vote) {
             case 1:
              case '1':
               this.firstChecked = true;
                this.secondChecked = false;
                 this.thirdChecked = false;
                 break;
              case 2:
              case '2':
               this.secondChecked = true;
               this.firstChecked = false;
                this.thirdChecked = false;
                   break;
                case 3:
                case '3':
               this.thirdChecked = true;
               this.firstChecked = false;
                 this.secondChecked = false;
                   break;
             default:
                this.firstChecked = false;
                 this.secondChecked = false;
                 this.thirdChecked = false;
              break;
           }
    }
  }
</script>
<style lang="stylus" >
    @import "../assets/css/variable"
    .pswp__caption__center
        text-align center

    .slidehidden
        opacity 0
        &.current
            opacity 1
    .prevnexticon
        font-weight bold
        font-size 16px
    #thingpage
        .el-tabs__item {
            flex: 1 !important;
        }
        .el-tabs__nav {
            display: flex;
            width: 100%;
        }
        .el-tabs__item
            &.is-active
                color $aijk !important
    .el-tabs--border-card > .el-tabs__header .el-tabs__item:hover {
        color: $aijk;
    }
    #likeradio
        margin-top -6px
        height: 30px;
    .el-radio-button:focus:not(.is-focus):not(:active)
        box-shadow: none !important;
    .el-radio-button__orig-radio:checked + .el-radio-button__inner
        box-shadow: none !important;
        background-color none;
    .el-radio-button
        &:focus {
            outline:0 !important;
            box-shadow: none !important;
        }
        &.vote-bad-button
            .el-radio-button__inner
                height: 31px;
                padding 6px 20px !important
                &:focus {outline:0 !important;}
                color $tz-bad
            &.is-active
                .el-radio-button__inner
                    height: 31px;
                    padding 6px 20px !important
                    background-color $tz-bad !important
                    border-color $tz-bad !important
                    color white


        &.vote-good-button
            .el-radio-button__inner
                height: 31px;
                padding 6px 20px
                &:focus {outline:0 !important;}
                color $tz-good
            &.is-active
                .el-radio-button__inner
                    height: 31px;
                    padding 6px 20px !important
                    background-color $tz-good
                    border-color $tz-good
                    color white

</style>
<style lang="stylus" scoped >
  @import "../assets/css/variable"
  .people-fav
      margin 12px
  .el-main
    padding 0px

  .el-carousel__item h3
      color #475669
      font-size 18px
      line-height 300px
      margin 0


  .el-carousel__item:nth-child(2n) {
      /*background-color: #99a9bf;*/
  }

  .el-carousel__item:nth-child(2n+1) {
      /*background-color: #d3dce6;*/
  }
  .el-header
      padding 0px
      background-color $aijk
      &.h
          background-color $zone-h
      &.m
          background-color $zone-m
      &.l
          background-color $zone-l
  #thing-header
      .el-header
        padding: 0px 15px;
        text-align center;
        line-height 60px;
        font-size 40px;

  .header-bg
    text-align center
    height: 60px;
    line-height: 60px;

  .box-card

  .icon
    float right
    margin-left .5rem
    color $color-silver
    cursor pointer
    &:hover
      color $color-primary

  .listcover
    width 100%
    height 200px
    position relative
    background-size cover
    background-position center center
    background-repeat no-repeat
    &.nocover
      vertical-align middle
      line-height 1rem
      width 100%
      background-color $color-gray-light
      display table
      opacity 0.5
      .centertext
        text-align center
        display: table-cell;
        height: 100%;
        vertical-align: middle;

  .el-header
    color white
  .el-main

    &.l
        background-color $zone-l
    &.m
        background-color $zone-m
    &.h
        background-color $zone-h

  .prev-next-button
    width 100%
    color white
    &.prev
      float:left
      text-align: left;
      padding-left: 10px;
    &.next
      float:left
      text-align: right;
      padding-right: 10px;
    &:hover
      color white
      opacity 0.6


  .likebutton-container
      display flex
      flex-direction row-reverse
      justify-content center
      align-items center
  .vote-bad-icon
    background-image url('../assets/images/dislike.svg')
    background-repeat no-repeat
    background-size contain
    display inline-block
    width 20px
    height 20px
    margin-bottom -7px
    margin-right 7px

  .vote-good-icon
      display inline-block

  .header-number
      font-size 16px
      top 0px
      /*line-height 58px*/
      display inline-block
      vertical-align top
      padding-right 6px

  .likeicon
      /*padding-right 6px*/
      margin-bottom: -4px;
    &.dislike
        padding-right 6px
  .fradio
      font-size 14px !important
      vertical-align: middle;
      width 160px
      display inline-block
      height: 55px;
    .frcont
        width 110px
        height: 40px;
        display inline-flex
        line-height: 33px;

    .b
        background-color white
        flex 1
        height: 100%
        display flex
        cursor pointer
        align-items: center;
        justify-content: center;
        &.lb
            border-radius 6px 0px 0px 6px
            border-right: 1px solid rgba($aijk, 0.1);
            color $tz-good
            &.active
                color white
                background-color $tz-good
        &.rb
            border-radius 0px 6px 6px 0px
            color $tz-bad
            border-left: 1px solid rgba($aijk, 0.1);
            &.active
                color white
                background-color $tz-bad
</style>
<style lang="stylus" >
#vote-buttons 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 35px;
  max-height: 35px;


.vote-label 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  max-height: 35px;
  text-align: center;
  font-size: 20px;
  vertical-align: center;
  border: solid 1px  #fff
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


.middle-button 
  margin-left: 1px;
  margin-right: 1px;


.left-button 
  margin-right: 1px;


.right-button 
  margin-left: 1px;

</style>