<template>
  <!--<el-container>-->
  <!--<el-header class="header-bg">Dom Competition 2018</el-header>-->
  <el-container>
    <el-header>
      <x-header>
        <!--<filter-button></filter-button>-->
        <div style="display: flex; align-items: center; position: absolute; top: 10px; right: 170px; height: 40px; width: 170px;">
          <!-- <div style="cursor:pointer;" @click="closeSearch">
            <i class="el-icon-search" style="    font-size: 20px;"></i>
          </div>
          <div v-if="searchBarShown" style="margin-left: 10px">
            <el-input
              :placeholder="$t('thing.searchByIdPlaceholder')"
              style="width:200px"
              v-model="id4search"
              @change="id4SearchOnChange"
            ></el-input>
          </div> -->
          <span class="token-span" :style="[{backgroundColor: (firstCount===0 || firstCount==='0') ? '#2f444e' : '#fff'}, 
          {color: (firstCount===0 || firstCount==='0') ? '#fff' : '#2f444e'}]">1</span>
          <span class="count-token-span" >{{this.firstCount}}</span>
          <span class="token-span" :style="[{backgroundColor: (secondCount===0 || secondCount==='0') ? '#2f444e' : '#fff'}, 
          {color: (secondCount===0 || secondCount==='0') ? '#fff' : '#2f444e'}]">2</span>
          <span class="count-token-span">{{this.secondCount}}</span>
          <span class="token-span" :style="[{backgroundColor: (thirdCount===0 || thirdCount==='0') ? '#2f444e' : '#fff'}, 
          {color: (thirdCount===0 || thirdCount==='0') ? '#fff' : '#2f444e'}]">3</span>
          <span class="count-token-span">{{this.thirdCount}}</span>
        </div>
      </x-header>
    </el-header>
    <el-main style="overflow-y: hidden">
      <!--<div style="width:100%; display: flex;">-->
      <!--<div v-for="(env, index) in envs"-->
      <!--:key="env.id"-->
      <!--class="env-tab clickable"-->
      <!--:class="{-->
      <!--'selected': selectedEnv === env.id,-->
      <!--'last': index === envs.length - 1,-->
      <!--'first': index === 0,-->
      <!--}"-->
      <!--@click="selectEnv(env)"-->
      <!--style="flex:1; width:100%">-->
      <!--<div v-if="env.id==='search'">-->
      <!--<i class="el-icon-search"></i>-->
      <!--</div>-->
      <!--<div v-else>-->
      <!--{{$t('thing.model.prizeType.'+env.id)}}-->
      <!--&lt;!&ndash;<span v-if="selectedEnv === env.id" :style="{'margin-left':sortByLike?'10px':'0px', 'margin-right':sortByLike?'0px':'10px'}">&ndash;&gt;-->
      <!--&lt;!&ndash;<i :class="sortByLike?'el-icon-sort-down':'el-icon-sort-up'" ></i>&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <content-module
        name="things"
        style="overflow-y: scroll; height: 100%; padding: 20px; padding-bottom: 60px; box-sizing: border-box"
        class="bgcolor-z"
        id="scrollcont"
      >
        <!--<div v-if="selectedEnv==='search'" class="search-input-container">-->
        <!--<input type="text"-->
        <!--v-model.trim="searchPid"-->
        <!--name="lname"-->
        <!--class="search-input"-->
        <!--:placeholder="$t('thing.searchByIdPlaceholder')">-->
        <!--</div>-->
        <div>
          <!--==<div class="search-input-container">-->
          <!--<input type="text"-->
          <!--v-model.trim="searchPid"-->
          <!--name="lname"-->
          <!--class="search-input"-->
          <!--:placeholder="$t('thing.searchByIdPlaceholder')">-->
          <!--</div>&#45;&#45;-->
        </div>
        <el-row :gutter="20" style="padding-bottom: 60px;">
          <el-col :span="6" v-for="thing in things" :key="thing._id">
            <el-card :body-style="{ padding: '0px'}" class="box-card">
              <div
               
                class="clickable"
              >
                <div
                  v-if="thing.cover"
                  :style="{
                      backgroundImage: 'url(' + getImageUrl(thing.cover) +')',
                    }"
                  class="listcover"
                  @click="openTheWork(thing._id)"
                ></div>
                <div v-else class="listcover nocover">
                  <div class="centertext">No cover set yet</div>
                </div>
              </div>
              <div v-if="search.envType==='search'" class="like-sign" :class="thing.envType"></div>
              <!--<div v-else-if="thing.myVote===0" class="like-sign bad"></div>-->
              <div class="card-footer">
                <vote-buttons :projectId="thing._id" 
                :like="thing.like ? thing.like : 0"
                :first="firstCount"
                :second="secondCount"
                :third="thirdCount"
                ></vote-buttons>
                
                <div class="name-wrapper">
                  <span class="icon-area">
                    <simple-svg
                      v-if="thing.peopleFav"
                      :filepath="'/static/icons/heart-outline.svg'"
                      fill="none"
                      :stroke="(thing.like === 1 || thing.like === 0)?'#ffffff':'#30454e'"
                      class="people-fav icon-area-item"
                      :width="'22px'"
                      :height="'22px'"
                    />
                  </span>
                  <div class="thing-item-likes">
                    <div v-if="thing.isFinalist" class="thing-item-editor icon-area-item">
                      <i
                        class="el-icon-star-off"
                        :style="{
                          color: (thing.like === 1 || thing.like === 0)?'#ffffff':'#30454e'
                          }"
                      ></i>
                    </div>
                    <!--<simple-svg-->
                    <!--v-if="thing.isFinalist"-->
                    <!--:filepath="'/static/icons/domrf.svg'"-->
                    <!--fill="none"-->
                    <!--class="domrf-fav icon-area-item"-->
                    <!--:width="'36px'"-->
                    <!--:height="'36px'"-->
                    <!--/>-->
                    <span
                      class="thing-item-like-num"
                      v-if="thing.customLikes>=0"
                    >{{thing.customLikes}}</span>
                    <!--<span class="thing-item-like-num">{{thing.score}}</span>-->
                  </div>

                  <span class>{{thing.name}}</span>
                </div>
              </div>
            </el-card>
          </el-col>
        </el-row>
        <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading" spinner="waveDots">
          <span slot="no-more"></span>
        </infinite-loading>
      </content-module>
    </el-main>
  </el-container>
  <!--</el-container>-->
  <!--<div class="flex flex-1" style="width:100%">-->
  <!--</div>-->
</template>
<script>
  import XHeader from '../components/Header'
  import { mapGetters, mapActions } from 'vuex'
  import FilterButton from '../components/FilterButton.vue'
  import InfiniteLoading from 'vue-infinite-loading';
  import { project as projectRes, user as userRes, me as meRes} from 'resources'
  import locales from 'locales/things'
  import store from '../store'
  import * as _ from 'lodash'
  import { EventBus } from '../eventbus.js';
  import VoteButtons from '../components/VoteButtons.vue'

  export default {
    locales,
    data () {
      return {
        firstCount: 0,
        secondCount: 0,
        thirdCount: 0,
        searchBarShown: false,
        id4search: null,
        sortByLike: false,
        performance:null,
        searchPid: null,
        distance: 0,
        envs:[
          {id:'1'},
          // {id:'2'},
          // {id:'3'},
          {id:'search'}
        ],
        selectedEnv: '1',
        filters:[],
        currentPage: 0,
        pageSize: 120,
        search: {
          prizeType: '1'
        },
        headers: {
          'Authorization':`Bearer ${store.getters.accessToken}`
        },
        things: []
        // debouncedScrollHandler: _.throttle(this.scrollHandler, 500)

      }
    },
    computed: {
      ...mapGetters([
        'userId',
        'globalConfig',
        'userFirstCount',
        'userSecondCount',
        'userThirdCount'
      ])
    },
    watch: {
      'searchPid': function(nv, ov){
        this.search.pid = nv;
        this.things = []
        this.currentPage = 0
        this.$nextTick(() => {
          this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
        });
//        this.$nextTick(() => {
//        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
//        });
      }
    },
    components: {
      XHeader,
      FilterButton,
      InfiniteLoading,
      VoteButtons
    },
    methods: {
//      fetch () {
//        thingRes.query({search: this.search, page: this.currentPage, count: this.pageSize})
//          .then(data => data.json())
//          .then(data => {
//            this.things = data.results
//          })
//          .catch(err => {
//            console.error(err)
//          })
//      },
...mapActions(['setCounts']),
      closeSearch() {
        this.searchBarShown =! this.searchBarShown;
        if (!this.searchBarShown) {
          this.id4SearchOnChange(null)
        }

      },
      id4SearchOnChange(data){
        this.search.id4=data
        this.things = []
        this.currentPage = 0
        this.$nextTick(() => {
          this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
        });
        if (!data) {
          this.searchBarShown = false;
        }
      },
      getImageUrl(file) {
          if (!_.endsWith(file.url, '.png') && !_.endsWith(file.url, '.jpg') && !_.endsWith(file.url, '.jpeg')) {
            return '';
          }
          return _.startsWith(file.url, 'http') ? file.url : `/images/${file.url}`
        },
      openTheWork(id){
        console.log("openwork")
        this.$router.push({ path: `/work/${id}` })
      },
      infiniteHandler: _.debounce(
        function($state){
          console.log('!',this.search.prizeType)
          let srch = {
            id4:this.search.id4
          };

          // if (this.search.pid && this.search.pid.length>0) {
          //   srch.pid = this.search.pid;
          // }
          // if (this.search.prizeType && this.search.envType.length>0 && this.search.envType !== 'search') {
          //   srch.prizeType = this.search.prizeType;
          // }
//          if(srch.envType === 'search'){
//            srch.envType = null;
//          }
//          if(!srch.pid || srch.pid === ''){
//             srch.pid = null;
//          }
          projectRes.query({search: srch, includeLikes: true, currentStage:false, page: this.currentPage, count: this.pageSize})
            .then(data => data.json())
            .then(data => {
              if (data.results && data.results.length) {

                this.things.push(...data.results);
                if(this.sortByLike){
                  this.things.sort((a, b) => {
                    return b.newScore-a.newScore
                  })
                }

                $state.loaded();
                if (data.results.length < this.pageSize){
                  $state.complete();
                }
              } else {
                console.log('no data')
                $state.complete();
              }
            })
            .catch(err => {
              console.error(err)
              $state.loaded();
            })
          this.currentPage++;
      }, 500),
      selectEnv(env){
        console.log('Select ENV')
        // if(this.selectedEnv === env.id) {
        //   this.sortByLike = !this.sortByLike;
        // } else {
        //   this.sortByLike = false;
        // }
        this.selectedEnv = env.id
        this.search.prizeType = env.id
        this.search.pid = null;
        this.searchPid = null;
        this.things = []
        this.currentPage = 0
        this.$nextTick(() => {
          this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
        });
      },
      fetch() {
        location.reload()
        //   let srch = {
        //     id4:this.search.id4
        //   };
        //  projectRes.query({search: srch, includeLikes: true, currentStage:false, page: 0, count: this.pageSize})
        //     .then(data => data.json())
        //     .then(data => {
        //       console.log('data.results', data)
        //       if (data.results && data.results.length) {
        //         console.log('data.results', data.results)
        //        // this.things = []
        //        for (var i=0; i<20; i++) {
        //          this.things.pop()
        //        }
        //         this.things.push(...data.results);
                
        //       }                
        //     })
        //     .catch(err => {
        //       console.error(err)
        //     })          
      },
      fetchPerformance(){
        userRes.performance()
          .then((data) => {
            this.performance = data.body;
          })
      },
      scrollHandler(e){
        if(this.activated){
          const el = document.getElementById('scrollcont');
          this.distance = el.scrollTop
        }
      },
      onSearchByIdChanged(data){
        console.log('data ', data);
        this.search = {pid: 12}
      }
    },
    created () {

    },
    mounted () {
      // this.$nextTick(() => {
      //    console.log('mounted $forceUpdate()')
      //   this.fetchPerformance()
      // })
    //   this.$socket.on('project:liked', data => {
    //   console.log('project:liked', data)     
    // })
      console.log("userFirstCount", this.userFirstCount, "userId", this.userId)
      EventBus.$on('thingVoted', (thingId, vote) => {
        let t = _.find(this.things, {_id: thingId});
        if(t){
          t.like = vote==='+' ? 1 : 0
          this.$forceUpdate()
        }
      })
      EventBus.$on('fetchAuth', () => {
        console.log('fetch auth')
         this.fetch()
      })
      EventBus.$on('vote', (thingId, currentVote, previousVote ) => {      
        console.log("userFirstCount", this.userFirstCount, "userId", this.userId)
        console.log("event bus vote", "thingId", thingId, "previous", previousVote, "current", currentVote)
        if (currentVote==='-1' || currentVote===-1) {
          return
        }
        if (currentVote === 0 || currentVote === '0') {
          switch(previousVote) {
            case 1: 
            case '1': 
            console.log('plus previous')
            this.firstCount += 1
            break
            case 2: 
            case '2': 
            this.secondCount += 1
            break
            case 3: 
            case '3': 
            this.thirdCount += 1
            break  
          }
        } else {
           switch(currentVote) {
            case 1: 
            case '1': 
            console.log("minus 1")
            this.firstCount -= 1
            break
            case 2: 
            case '2': 
            this.secondCount -= 1
            break
            case 3: 
            case '3': 
            this.thirdCount -= 1
            break  
          }
          switch(previousVote) {
            case 1: 
            case '1': 
            this.firstCount += 1
            break
            case 2: 
            case '2': 
            this.secondCount += 1
            break
            case 3: 
            case '3': 
            this.thirdCount += 1
            break  
          }
        }
        meRes.tokenCount({ firstCount: this.firstCount, secondCount: this.secondCount, thirdCount: this.thirdCount })          
          .catch(err => {
            console.error(err)
          })
          //this.$forceUpdate()
          this.setCounts( {'firstCount': this.firstCount, 'secondCount': this.secondCount, 'thirdCount': this.thirdCount })
          this.things.forEach(function(thing) {
             if (thing._id===thingId) {
               console.log('cycle thing._id', thing._id)
               thing.like = parseInt(currentVote)
             }
          });
         // this.$forceUpdate()
          console.log('this.$forceUpdate()')
      })
      //this.$forceUpdate()
      console.log(' this.userFirstCount',  this.userFirstCount)
      this.firstCount=  this.userFirstCount
       this.secondCount= this.userSecondCount
       this.thirdCount= this.userThirdCount
    },
    activated () {
      const el = document.getElementById('scrollcont');
      this.activated = true;
    //  el.addEventListener('scroll', this.debouncedScrollHandler);
    //  el.scrollTo(0, this.distance);
    },
    deactivated () {
      this.activated = false;
    }
  }
</script>

<style lang="stylus" scoped>
@import '../assets/css/variable';

.namee {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  max-width: 80%;
  color: $aijk;
  display: inline-block;
  /* white-space: nowrap; */
}

.icon-area {
  position: absolute;
  right: 10px;
  bottom: 7px;
  height: 30px;
  display: flex;
  /* justify-content: flex-end; */
}

.icon-area-item {
  /* width: 30px; */
  margin-right: 8px;
  text-align: left;
  align-items: center;
}

.thing-item-likes {
  left: 10px;
  display: flex;
  position: absolute;
  margin-top: 0px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  /* justify-content flex-end */
}

.thing-item-editor {
  display: inline;
  color: $aijk;
  font-size: 22px;
}

.people-fav {
  padding-top: 2px;
}

.domrf-fav {
  margin-top: -3px;
}

.thing-item-thumb {
  display: inline-block;
  padding-right: 4px;
}

.thing-item-like-num {
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  right: 15px;
  margin-right: 10px;
  padding: 0px 2px;
}

.search-input-container {
  width: 100%;
  text-align: center;
  padding: 40px 0px;
}

.search-input {
  font-size: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $aijk;
  color: $aijk;
  font-weight: 200;
  text-align: center;
  outline: none;
  margin: auto;
  width: 90%;
}

.el-main {
  padding: 10px 10px;
}

.like-sign {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 80px;
  height: 70px;
  color: #fff;
  transform: rotate(45deg);
  border: 2px solid rgba(255, 255, 255, 0.9);

  &.h {
    background-color: $zone-h;
  }

  &.m {
    background-color: $zone-m;
  }

  &.l {
    background-color: $zone-l;
  }
}

.clickable {
  cursor: pointer;
}

.el-header {
  padding: 0px;
  height: 120px;
}

.header-bg {
  text-align: center;
  height: 120px;
  line-height: 120px;
  /* background-size cover */
  /* background-position 100% */
  /* background-image url('../assets/images/bg1.gif') */
}

.box-card {
  /* height 240px */
  margin-bottom: 20px;
  background-color: transparent;
  position: relative;
}

.icon {
  float: right;
  margin-left: 0.5rem;
  color: $color-silver;
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}

.listcover {
  width: calc(100% + 1px);
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &.nocover {
    vertical-align: middle;
    line-height: 1rem;
    width: calc(100% + 1px);
    background-color: $color-gray-light;
    display: table;

    .centertext {
      text-align: center;
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.env-tab {
  width: 100%;
  flex: 1;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
  // $color-gray
  /* background-color #959FA1 */
  background-color: $aijk-green2;

  &.selected {
    // background-color #959FA1
    background-color: white;
    color: $aijk !important;
  }

  &.first {
    border-top-left-radius: 10px;
  }

  &.last {
    border-top-right-radius: 10px;
  }
}

.bgcolor-h {
  background-color: $zone-h;
}

.bgcolor-m {
  background-color: $zone-m;
}

.bgcolor-l {
  background-color: $zone-l;
}

.bgcolor-z {
  // background-color $aijk //#f9f9f9
  // background-color #959FA1
  background-color: white;
}

.card-footer {
  background-color: white;
  /* padding 14px */
  font-size: 15px;
  text-align: center;
  color: $aijk;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

&.h {
  background-color: $zone-h;
}

&.m {
  background-color: $zone-m;
}

&.l {
  background-color: $zone-l;
}

&.good {
  background-color: $tz-good;
  color: white;
}

&.bad {
  background-color: $tz-bad;
  color: white;
}

.name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 45px;
}

@media (max-width: 1400px) and (min-width: 1350px) {
  .card-footer {
    font-size: 14px;
  }
}

@media (max-width: 999px) {
  .card-footer {
    font-size: 11px;
  }
}

@media (max-width: 1350px) and (min-width: 1000px) {
  .card-footer {
    font-size: 13px;
  }
}

#vote-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 35px
}

#vote-buttons label {
  background-color: #2f444e;
  color: #fff;
   display: flex;
   flex-direction: row
   justify-content: center
   align-items: center
}

#vote-buttons label input {
  position: absolute;
  top: -20px;
  color: #fff;
}

#vote-buttons input:checked + span {
  background-color: #fff;
  color: #2f444e;
}

#vote-buttons label span {
  text-align: center;
  font-size: 20px;
  margin: auto;
 vertical-align: baseline
  display: inline;
  color: #fff;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
 user-select: none;
}

#vote-buttons .score-button {
  background-color: #2f444e;
  color: #fff;
}

.middle-button {
  margin-left: 1px;
  margin-right: 1px;
}

.left-button {
  margin-right: 1px;
}
.right-button {
  margin-left: 1px;
}

.token-span
  font-size: 25px
  border: solid 1px
  border-radius: 50%
  width: 32px
  text-align center

.count-token-span
  font-size: 12px
  width: 14px
  margin-right: 5px
  text-align center
  align-self flex-start
</style>