<template>
    <div style="width: 100%" v-loading="!project || loading">
        <el-card v-if="project">
            <div class="row">
                <div class="name">User:</div>
                <div class="value">{{project.user.email}}</div>
            </div>
            <div class="row">
                <div class="name">ID6:</div>
                <div class="value">{{project.user.id6}}</div>
            </div>
            <div class="row">
                <div class="name">ID4:</div>
                <div class="value">
                    <div v-if="project.user.id4">
                        {{project.user.id4}}
                    </div>
                    <div v-else>
                        <el-button size="mini" @click="assignID4">Assign ID4</el-button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="name">Readiness:</div>
                <div class="value">{{project.readiness}}%</div>
            </div>

            <div class="row">
                <div class="name">Deadline till:</div>
                <div class="value">
                    <el-button size="mini" @click="revokeDeadline" v-if="!isDeadlineMissed"> Revoke</el-button>
                    <span style="text-align: center; padding: 0px 1em">
                        <div>{{deadlineDur}}</div>
                        <div style="opacity: 0.5;">{{project.editionAllowedTill}}</div>

                        </span>
                    <el-button size="mini" @click="prolongDeadline"> +1 Day</el-button>
                </div>
            </div>

            <div class="row">
                <div class="name">Downloads:</div>
                <div class="value">
                    <div v-if="project.download && project.download.total">

                        <div v-if="project.download.done === project.download.total">
                            <span>Done </span><el-button size="mini" type="text" @click="download" :disabled="dlPressed">
                                Re-Download
                            </el-button>
                        </div>
                        <div v-else>{{project.download.done}} / {{project.download.total}}</div>
                    </div>
                    <div v-else>
                        <el-button size="mini" @click="download" :disabled="dlPressed">
                            <span v-if="dlPressed">
                                Downloading...
                            </span>
                            <span v-else>
                                Start download
                            </span>
                        </el-button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="name">Files path:</div>
                <div class="value">
                    {{project.paths.files}}
                </div>
            </div>

            <div class="row">
                <div class="name">CSV:</div>
                <div class="value">
                    <div v-if="project.csv">
                        <span>Done </span><el-button size="mini" type="text" @click="csv" :disabled="csvPressed">
                        Re-Generate
                    </el-button>
                    </div>
                    <div v-else>
                        <el-button size="mini" @click="csv" :disabled="csvPressed">
                            Generate
                        </el-button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="name">Converts:</div>
                <div class="value">
                    <!--<div v-if="project.csv">-->
                        <!--<span>Done </span><el-button size="mini" type="text" @click="csv" :disabled="csvPressed">-->
                        <!--Re-Generate-->
                    <!--</el-button>-->
                    <!--</div>-->
                    <!--<div v-else>-->
                        <el-button size="mini" @click="converts">
                            Convert
                        </el-button>
                    <!--</div>-->
                </div>
            </div>


            <div class="row">
                <div class="name">CSV path:</div>
                <div class="value">
                    {{project.paths.csv}}
                </div>
            </div>

            <el-card>
                <header>Editor part <el-badge v-if="!project.readinessAdmin" :value="getAdminReadiness()"></el-badge></header>
                <div class="row">
                    <div class="name">Cover:</div>
                    <div class="value">
                        <uploader
                                v-model="project.cover"
                                id="cover"
                                :pid="project._id"
                                :notePosition="'left'"
                                :compress="true"
                                :isCover="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('cover')"
                        >
                        </uploader>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Стоимость:</div>
                    <div class="value">
                        <tri-radio v-model="project.editorPrice" :items="tris.price" @change="updateProject('editorPrice')"></tri-radio>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Соответствие ТЗ Квартира:</div>
                    <div class="value">
                        <tri-radio v-model="project.editorTzFlat" :items="tris.hml" @change="updateProject('editorTzFlat')"></tri-radio>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Соответствие ТЗ Здание:</div>
                    <div class="value">
                        <tri-radio v-model="project.editorTzBuilding" :items="tris.hml" @change="updateProject('editorTzBuilding')"></tri-radio>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Планировочная структура зданий:</div>
                    <div class="value">
                        <tri-radio v-model="project.editorPlannedStructure" :items="tris.hml" @change="updateProject('editorPlannedStructure')"></tri-radio>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Инженерные и конструктивные системы:</div>
                    <div class="value">
                        <tri-radio v-model="project.editorEnginiringSystems" :items="tris.hml" @change="updateProject('editorEnginiringSystems')"></tri-radio>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Выбор редакции :</div>
                    <div class="value">
                        <el-checkbox v-model="project.editorFav" @change="updateProject('editorFav')"></el-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Выбор народа :</div>
                    <div class="value">
                        <el-checkbox v-model="project.peopleFav" @change="updateProject('peopleFav')"></el-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Финалист :</div>
                    <div class="value">
                        <el-checkbox v-model="project.isFinalist" @change="updateProject('isFinalist')"></el-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Баллы :</div>
                    <div class="value">
                        <el-input type="number" v-model="project.customLikes" @change="updateProject('customLikes')"></el-input>
                    </div>
                </div>
                <div class="row">
                    <div class="name">Опубликован :</div>
                    <div class="value">
                        <el-checkbox v-model="project.isSubmitted" @change="updateProject('isSubmitted')"></el-checkbox>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="name">Тех экспертиза пройдена :</div>-->
                    <!--<div class="value">-->
                        <!--<el-checkbox v-model="project.isApproved" @change="updateProject('isApproved')"></el-checkbox>-->
                    <!--</div>-->
                <!--</div>-->
            </el-card>
        </el-card>
        <div style="width: 100%; margin-top: 2em">
            <project-editor
                    v-if="project"
                    :isAdmin="true"
                    :project="project"
                    @onUpdateProject="updateProject"></project-editor>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import ProjectEditor from '../components/projectEditor'
    import Uploader from '../components/Uploader'
    import { project as projectRes, system as systemRes } from '../resources'
    import TriRadio from '../components/TriRadio'
  export default {
    name: "ThingEdit",
    components:{
      ProjectEditor,
      TriRadio,
      Uploader
    },
    computed:{
      isDeadlineMissed(){
        return new Date().getTime() > new Date(this.project.editionAllowedTill).getTime()
      },
      deadlineDur(){
        return moment(this.project.editionAllowedTill).fromNow();
      }
    },
    data(){
      return {
        loading: false,
        dlPressed: false,
        csvPressed: false,
        project: null,
        tris:{
          yesNo: [
            { label: 'N/A', value: null},
            { label: 'Yes', value: true},
            { label: 'No', value: false},
          ],
          hml: [
            { label: 'N/A', value: null},
            { label: 'Low', value: 'l'},
            { label: 'Mid', value: 'm'},
            { label: 'High', value: 'h'},
          ],
          price: [
            { label: 'N/A', value: null},
            { label: '₽', value: 'l'},
            { label: '₽₽', value: 'm'},
            { label: '₽₽₽', value: 'h'},
          ]
        }
      }
    },
    methods:{
      getAdminReadiness(){
        const fields = ['editorPrice', 'editorTzFlat', 'editorTzBuilding', 'editorPlannedStructure', 'editorEnginiringSystems', 'cover']
        const done = _.reduce(fields, (acc, field) => {
          let v;
          if(field === 'cover'){
            v = (this.project.cover && this.project.cover.uploads && this.project.cover.uploads.length > 0) ? 1 : 0;
          } else {
            v = _.isNil(this.project[field]) ? 0 : 1;
          }

          return acc + v;
        }, 0)

        return `${done} / ${fields.length}`
      },
      prolongDeadline(){
        this.loading = true;
        projectRes.prolongDeadline({_id: this.project._id}, {minutesPlus: 60 * 24})
          .then(() => {
            return this.fetchProject()
          })
          .then(() => {
            this.loading = false;
            return null;
          })
      },
      revokeDeadline(){
        this.loading = true;
        projectRes.prolongDeadline({_id: this.project._id}, {})
          .then(() => {
            return this.fetchProject()
          })
          .then(() => {
            this.loading = false;
            return null;
          })
      },
      fetchProject(){
        projectRes.get({ _id: this.$router.history.current.params.thingId })
          .then((project) => {
            console.log('Current ', project.body)
            const p = _.cloneDeep(project.body)
            this.computeTotalMarked(p)
            if(!p.albumConverted){
              p.albumConverted = {}
            }
            p.albumConverted.filesLimit = 999
            p.albumConverted.extensions = "png,jpg,jpeg"
            p.albumConverted.extensions = "png,jpg,jpeg"
            p.albumConverted.accept = "image/png,image/gif,image/jpeg,image/webp"
            p.albumConverted.sizeLimit = 5
            p.albumConverted.mongoKey = 'albumsConverted'
            this.project = p;
          })
      },
      computeTotalMarked(p){
        console.log('CTM')
        _.each(p.items, (block) => {
          block.totalMarked = _.reduce(block.items, (total, subBlock) => {
            return total + (subBlock.marked ? 1 : 0)
          }, 0)
        })
      },
      updateProject(fieldName, data){
        console.log('fieldName, data', fieldName, data)
        const obj2update = _.isUndefined(fieldName) ? {} : { [fieldName]: _.isUndefined(data)?this.project[fieldName]:data }
        projectRes.update({_id: this.project._id }, obj2update)
          .then((project) => {
            // this.project.reqs = project.body.reqs;
            _.merge(this.project, project.body);
            this.computeTotalMarked(this.project)
            this.$nextTick(() => {
              this.$forceUpdate()
            })

            console.log('Current ', project.body)
          })
      },
      download(){
        this.dlPressed = true;
        projectRes.download({_id: this.project._id }, {})
          .then((resp) => {
            console.log('Response ', resp)

          })
      },
      csv(){
        this.csvPressed = true;
        projectRes.csv({_id: this.project._id }, {})
          .then((resp) => {
            console.log('Response ', resp)

          })
      },
      assignID4(){
        projectRes.assignID4({_id: this.project._id }, {})
          .then((resp) => {
            console.log('Response ', resp)
            this.updateProject()
          })
      },
      converts(){
        systemRes.totalConvertsById({_id: this.project._id }, {})
          .then((resp) => {
            console.log('Response ', resp)
            // this.updateProject()
          })
        // onUpdateProject
      }
    },
    mounted(){
      this.fetchProject()
      console.log(this.$router)
    }
  }
</script>

<style lang="scss" scoped>
    .row{
        display: flex;
        padding: 1em;
        min-height: 32px;
        .name{
            flex: 1;
        }
        .value{
            flex: 1;
            text-align: right;
            display: flex;
            justify-content: flex-end;
        }
    }

</style>