<template>
  <content-module name="top">

      <el-table
              :data="top"
              height="250"
              style="width: 100%">
          <el-table-column
                  label="#"
                  width="80">
              <template slot-scope="scope">
                  {{scope.$index + 1}}.
              </template>
          </el-table-column>
          <el-table-column
                  prop="project.id4"
                  label="ID4"
                  width="180">
          </el-table-column>
          <el-table-column
                  prop="project.id6"
                  label="ID6"
                  width="180">
          </el-table-column>
          <el-table-column
                  prop="score"
                  label="Score"
                  width="180">
          </el-table-column>
      </el-table>



  </content-module>
</template>
<script>
import DataTable from 'components/DataTable'
import { stages as stageRes, system as systemRes} from 'resources'
import locales from 'locales/voting'
import moment from 'moment'
export default {
  locales,
  data () {
    return {
      top:[]
    }
  },
  computed: {

  },
  components: {
    DataTable
  },
  methods: {

    fetchCurrentThings(){
      stageRes.top100()
        .then((things) => {
            console.log('Current things', things.body)
            this.top = _.chain(things.body.results)
              .map((thing) => {
                return _.assign(thing, thing.thing)
              })
              .sortBy([function(o) { return -o.score; }])
              .value()

        })
    },
  },
  mounted () {
    this.$nextTick(() => {
      this.fetchCurrentThings()

    })
  }
}
</script>

<style lang="stylus">
    @import "../assets/css/variable"
    .el-transfer
        display flex
    .el-transfer-panel
        flex 1

</style>