<template>
  <content-module name="votes">
    
      <el-table :data="votes" border height="100%">
        <el-table-column property="viewName" label min-width="290">
          <template slot-scope="scope">
            <span
              style="font-size: 13px; font-weight: normal; word-wrap: normal !important; word-break: normal !important;"
            >{{ scope.row.viewName }}</span>
          </template>
        </el-table-column>

        <!-- <el-table-column property="voter"  min-width="180">
        <template slot="header" slot-scope="scope">
        <span class="jury-head">ВИТАЛИЙ ЛЕОНТЬЕВИЧ МУТКО / VITALIY MUTKO</span>
      </template></el-table-column>
        <el-table-column property="voter2"  min-width="180">
        <template slot="header" slot-scope="scope">
        <span class="jury-head">ВИТАЛИЙ ЛЕОНТЬЕВИЧ МУТКО / VITALIY MUTKO</span>
        </template></el-table-column>-->


        <el-table-column property="mutko" min-width="230" align="center">
          <template slot="header" slot-scope="scope">
            <span
              class="jury-head"
            >ВИТАЛИЙ ЛЕОНТЬЕВИЧ МУТКО / VITALIY MUTKO</span>
          </template>
        </el-table-column>


        <el-table-column property="yakushev" min-width="280" align="center">
          <template slot="header" slot-scope="scope">
            <span
              class="jury-head"
            >ВЛАДИМИР ВЛАДИМИРОВИЧ ЯКУШЕВ / VLADIMIR YAKUSHEV</span>
          </template>
        </el-table-column>
        <el-table-column property="plutnik" min-width="280" align="center">
          <template slot="header" slot-scope="scope">
            <span
              class="jury-head"
            >АЛЕКСАНДР АЛЬБЕРТОВИЧ ПЛУТНИК / ALEKSANDR PLUTNIK</span>
          </template>
        </el-table-column>
        <el-table-column property="aleksakova" min-width="170" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">ОЛЬГА АЛЕКСАКОВА / OLGA ALEKSAKOVA</span>
          </template>
        </el-table-column>
        <el-table-column property="bosshardе" min-width="200" align="center">
          <template slot="header" slot-scope="scope">
            <span
              class="jury-head"
            >АЛЕССАНДРО БОССХАРД / ALESSANDRO BOSSHARDЕ</span>
          </template>
        </el-table-column>
        <el-table-column property="devries" align="center" width="150">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">НАТАЛИ ДЕ ВРИС / NATHALIE DEVRIES</span>
          </template>
        </el-table-column>

        <el-table-column property="lyashenko" min-width="170" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">НИКОЛАЙ ЛЯШЕНКО / NIKOLAY LYASHENKO</span>
          </template>
        </el-table-column>
        <el-table-column property="ricciardi" min-width="170" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">КЛАУДИА РИЧЧАРДИ / CLAUDIA RICCIARDI</span>
          </template>
        </el-table-column>
        <el-table-column property="tsimailo" min-width="180" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">АЛЕКСАНДР ЦИМАЙЛО / ALEXANDER TSIMAILO</span>
          </template>
        </el-table-column>
        <el-table-column property="burdova" min-width="150" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">ЮЛИЯ БУРДОВА / JULIA BURDOVA</span>
          </template>
        </el-table-column>
        <el-table-column property="goldhoorn" min-width="150" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">БАРТ ГОЛДХООРН / BART GOLDHOORN</span>
          </template>
        </el-table-column>
        <el-table-column property="plotkin" align="center" min-width="170">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">ВЛАДИМИР ПЛОТКИН / VLADIMIR PLOTKIN</span>
          </template>
        </el-table-column>

        <el-table-column property="shapiro" min-width="150" align="center">
          <template slot="header" slot-scope="scope">
            <span class="jury-head">АННА ШАПИРО / ANNA SHAPIRO</span>
          </template>
        </el-table-column>
        <el-table-column property="carnevali" min-width="190" align="center">
          <template slot="header" slot-scope="scope">
            <span
              class="jury-head"
            >ДЖОВАННА КАРНЕВАЛИ / GIOVANNA CARNEVALI</span>
          </template>
        </el-table-column>
        <el-table-column property="stasishin" min-width="260" align="center">
          <template slot="header" slot-scope="scope">
            <span
              class="jury-head"
            >СТАСИШИН НИКИТА ЕВГЕНЬЕВИЧ / NIKITA STASISHIN</span>
          </template>
        </el-table-column>

        <!--<template scope="scope">-->
        <!--<el-button type="text" @click.native="deleteUser(scope.row)">{{$t('operation.remove')}}</el-button>-->
        <!--</template>-->
      </el-table>
   
  </content-module>
</template>
<script>
import DataTable from "components/DataTable";
import { user as userRes, likes as likeRes } from "resources";
import locales from "locales/users";
export default {
  locales,
  data() {
    return {
      timer: "",
      votes: []
    };
  },
  components: {
    DataTable
  },
  methods: {
    fetch() {
      likeRes
        .groupedList()
        .then(list => {
          console.log("votes", list.body.results);
          this.votes = list.body.results
        })
        .catch(err => {
          console.error(err);
        });
    }
  },
  mounted() {
    this.timer = setInterval(this.fetch, 10000);
    this.$nextTick(() => {
      this.fetch();
    });
  },
  beforeDestroy() {
    clearInterval(this.timer);
  }
};
</script>
<style lang="stylus" scoped>
@import '../assets/css/variable';

.column-head {
  font-size: 15;
}

.jury-head
   font-size: 13px
   font-weight: bold
   word-wrap: normal !important
   word-break: normal !important
</style>