<template>
    <div  class="login-wrapper">

    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import locales from 'locales/login'
export default {
  locales,
  data () {
    return {

    }
  },
  methods: {
    ...mapActions(['logout']),
    doLogout () {
      this.logout().then(() => {
        this.$router.push('/login')
      })
    }
  },
  mounted(){
    this.doLogout()
  }
}
</script>
<style lang="stylus">

</style>
