// prefix declarations
@mixin prefixed($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

// prefix keyframes
@mixin keyframes($name) {

    @-webkit-keyframes #{$name} {
      @content;
    }


    @-moz-keyframes #{$name} {
      @content;
    }



    @-ms-keyframes #{$name} {
      @content;
    }

    @-o-keyframes #{$name} {
      @content;
    }

    @content;
}