

<template>
    <div>
        <el-tree
                :data="data"
                default-expand-all
                :props="treeProps"
                node-key="key"
                draggable
                :expand-on-click-node="false"
                :allow-drop="allowDrop"
                :allow-drag="allowDrag"
                @node-drag-end="handleDragEnd"
                @node-drag-start="handleDragStart"
                >
            <!---->
            <!--:expand-on-click-node="true"-->
            <!--@node-drag-start="handleDragStart"-->
            <!--@node-drag-enter="handleDragEnter"-->
            <!--@node-drag-leave="handleDragLeave"-->
            <!--@node-drag-over="handleDragOver"-->
            <!--@node-drag-end="handleDragEnd"-->
            <!---->
            <!---->
            <!--@node-drop="handleDrop"-->
      <span class="custom-tree-node" slot-scope="{ node, data }">
            <span v-if="node.level === 1">
                <span class="block-type">[БЛОК]</span> {{ data.name.ru }}
            </span>
            <span v-else-if="node.level === 2">
                <span class="block-type">[ПОДБЛОК]</span>
                {{ data.name.ru }}
            </span>
          <span v-else><span class="block-type">[ТЭП]</span>
              <el-checkbox v-model="data.isVisible" size="mini" @change="tepChanged(data)">visible</el-checkbox>
              <el-checkbox v-model="data.isRequired" size="mini" @change="tepChanged(data)">required   </el-checkbox>
              {{ data.name.ru }} ({{data.type}})
          </span>


        <span>
          <el-button
                    v-if="node.level === 2"
                    type="text"
                    size="mini"
                    @click="() => openNewItemDialog('tep', data._id)">
            Add TEP
          </el-button>
          <el-button
                    v-if="node.level === 1"
                    type="text"
                    size="mini"
                    @click="() => openNewItemDialog('subBlock',data._id)">
            Add SubBlock
          </el-button>
          <el-button
                  type="text"
                  size="mini"
                  @click="() => editItem(getTypeByLevel(node.level), data)">
            Edit
          </el-button>
          <el-button
                  type="text"
                  size="mini"
                  @click="() => removeItem(getTypeByLevel(node.level), data)">
            Delete
          </el-button>
        </span>
      </span>
        </el-tree>
    </div>
</template>

<script>

    export default {
    name: "BlocksTree",
    props: ['data'],
    data(){
      return {
        treeProps:{
          children: "items"
        },
        draggingNodeParent: null,
      }
    },
    methods:{
      tepChanged(data){
        // ttRes.update({ _id: data._id }, data)
        //   .then((result) => {
        //     return result.body
        //   })
        //   .then((result) => {
        //     console.log('ttc', result)
        //   })
      },

      getTypeByLevel(level){
        if (level === 1) {
          return 'block'
        } else if(level === 2){
          return 'subBlock'
        } else {
          return 'tep'
        }
      },

      allowDrop(draggingNode, dropNode, type){
        return (type === 'next' || type === 'prev') && draggingNode.level === dropNode.level && draggingNode.parent === this.draggingNodeParent;
      },
      allowDrag(){
        return true;
      },
      handleDrop(draggingNode, dropNode, type){
        console.log(' > ', draggingNode, dropNode, type)
      },
      editItem(type, data){
        console.log('>e', data)
        this.$emit('edit-item', type, data)
      },
      removeItem(type, data){
        this.$emit('remove-item', type, data)
      },
      openNewItemDialog(type, id){
        this.$emit('add-item', type, id)
      },
      handleDragStart(draggingNode){
        const parentOriginal = draggingNode.parent;
        this.draggingNodeParent = draggingNode.parent
      },
      handleDragEnd(draggingNode, underNode, c,d){
        const parent = underNode.parent
        this.$emit('moved-item', this.getTypeByLevel(parent.level), parent.data._id, _.map(parent.data.items, '_id'))
        if (parent !== this.draggingNodeParent) {
          this.$emit('moved-item', this.getTypeByLevel(this.draggingNodeParent.level), this.draggingNodeParent.data._id, _.map(this.draggingNodeParent.data.items, '_id'))
        }
      }
    }
  }
</script>

<style lang="scss">
    .el-tree{
        &.is-drop-not-allow{
            .custom-tree-node {
                cursor: not-allowed;
            }
        }
    }
    .custom-tree-node{
        flex: 1;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        display: flex;

    }
    .el-tree-node__content{
        height: 36px !important;
    }
</style>
<style lang="scss" scoped>
    .block-type{
        opacity: 0.5;
    }
</style>