<template>
        <el-collapse v-model="activeName">
            <el-collapse-item :title="block.name[currentLang]"
                              :ref="`collapse_${block._id}`"
                              :name="block._id" v-for="(block, bIndex) in data"
                              :key="`bb${bIndex}`">
                <template slot="title" >

                    <span style="padding-left: 1em">{{block.name[currentLang]}}<progress-badge class="mark" :data="block.reqs"></progress-badge>
                    </span>
                </template>
                <span v-if="block.shouldSelected>0">
                        <div class="text-smaller" style="padding: 2em">
                                    {{$t('project.subItemChoice')}}
                                </div>
                    </span>
                <sub-block-item :data="sb"
                                :totalMarked="block.totalMarked"
                                :projectId="projectId"
                                :isAdmin="isAdmin"
                                :blockKey="block.key"
                                :selectable="block.shouldSelected>0"
                                v-for="(sb, sbIndex) in block.items"
                                class="sbi"
                                @change="onChange"
                                :key="`sb${sbIndex}`"></sub-block-item>
            </el-collapse-item>
        </el-collapse>
</template>

<script>
  import locales from 'locales/project'
  import subBlockItem from '../components/subBlockItem'
  import progressBadge from '../components/ProgressBadge'

  export default {
    locales,
    name: "cabItems",
    components:{
      subBlockItem,
      progressBadge
    },
    computed:{
      currentLang(){
        return this.$lang.split('-')[0]
      }
    },
    props: ['data', 'projectId', 'isAdmin'],
    data(){
      return {
        activeName: ''
      }
    },
    methods:{
      onChange(key,data){
        this.$emit('change', key,data)
      }
    }
  }
</script>

<style lang="scss" >

    .el-collapse-item__header{
        padding-left: 20px;
    }
    .el-collapse-item__content{
        padding: 20px;
    }
    .el-card + .el-card{
        margin-top: 20px;
    }

</style>