<template>
    <div>
        <div class="carousel-arrows-wrapper" :style="{height: `calc(100vh - 200px)`}" v-if="picnames && picnames.length">
            <div class="carousel-arrows left" @click="carouselPrev">
                <i class="el-icon-arrow-left"></i>
            </div>
            <div class="carousel-arrows right" @click="carouselNext">
                <i class="el-icon-arrow-right"></i>
            </div>
        </div>
        <div class="carousel-arrows-wrapper" :style="{height: `calc(100vh - ${heightDiff - 50}px)`}">
            <div class="picnames" ref="scrollnames">
                <div class="picname"
                     :class="{selected: currentCarouselItem === i}"
                     v-for="(n, i) in picnames"
                     :key="n._id" @click="selectItem(i)">
                    {{n.name[currentLang]}}
                </div>
            </div>
        </div>
        <el-carousel
                arrow="never"
                ref="carousel"
                :height="`calc(100vh - ${heightDiff}px)`"
                indicator-position="none"
                trigger="click"
                class="preview-img-list"
                :autoplay="false">
            <el-carousel-item v-for="(item, i) in items"
                              :key="item._id">
                <!--<div class="cinfo">{{$t('taptozoom')}}</div>-->
                <!--<div class="params" v-if="item.params && item.params.length > 0">-->
                    <!--<div class="par" v-for="par in item.params">-->
                        <!--<div class="label">-->
                            <!--{{($lang === 'ru-RU') ? par.ru : par.en}}-->
                        <!--</div>-->
                        <!--<div class="divider"></div>-->
                        <!--<div class="value">-->
                            <!--{{par.value}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <v-touch style="width:100%; height:100%" v-on:swipeleft="onSwipeLeft" v-on:swiperight="onSwipeRight">
                    <!--@click="openGallery(i, item)"-->


                    <div class="image preview-img-item" :style="{backgroundImage: 'url(/images/' + item.url+')'}"  @tap="openGallery(i, item)"></div>
                    <div class="spinner-bg">
                        <div class="spinner" v-loading="true"></div>
                    </div>
                </v-touch>
            </el-carousel-item>
        </el-carousel>
    </div>
</template>

<script>
    import _ from 'lodash'
  export default {
    name: "carousel",
    props: ['data', 'items', 'heightDiff'],
    data(){
      return {
        currentCarouselItem: 0
      }
    },
    computed:{
      currentLang(){
        return this.$lang.split('-')[0]
      },
      imageUrls(){
        return _.chain(this.data.data.tepblocks[this.data.id])
          .map((item) => {
            console.log('sss', item)
            // return _.map(tb.images, (item) => {
            return '/images/' + item.url+''
            // })
          })
          .flatten()
          .value()
      },
      panelUrls(){
        if(this.data.data){
          return _.map(this.data.data, (item) => {
            return '/images/' + item.url+''
          })
        }
        return []
      },
      picnames(){
        if(this.data.id==='common' || this.data.id==='buildings' || this.data.id==='flats'){
          if (this.data && this.data.data && this.data.data.tepblocks){
            return this.data.data.tepblocks[this.data.id]
          }
        } else if(this.data.id === 'album' || this.data.id === 'panel') {
          return this.data.data
        }
        return null
      },
    },
    methods:{
      selectItem(i){
        this.currentCarouselItem = i;
        this.carouselChange()
      },
      gotoFirstFrame(){
        this.currentCarouselItem = 0;
        const labelsCont = this.$refs['scrollnames']
        const el = labelsCont.children[this.currentCarouselItem];



        // this.$emit('change', this.currentCarouselItem)
        this.$refs.carousel.setActiveItem(this.currentCarouselItem)
        setTimeout(() => {
          this.$refs.carousel.setActiveItem(this.currentCarouselItem)
          if(this.$refs.tepdesc) {
            this.$refs.tepdesc.scrollTop = 0;
          }
          if(labelsCont && labelsCont.children && labelsCont.children[this.currentCarouselItem]) {
            const scrollTo = labelsCont.children[this.currentCarouselItem].offsetLeft - window.innerWidth / 2 + labelsCont.children[this.currentCarouselItem].offsetWidth / 2
            labelsCont.scroll(
              {
                left: scrollTo,
                behavior: 'smooth'
              })
          }
        }, 1)

      },
      carouselChange(nextFrame, prevFrame){
        // @change="carouselChange"
        console.log('nextFrame, prevFrame', nextFrame, prevFrame)
        if(!_.isUndefined(nextFrame)){
          this.currentCarouselItem = nextFrame
          return null;
        }
        const lastFrame = (this.data.id === 'album' || this.data.id === 'panel') ? this.data.data.length : this.data.data.tepblocks[this.data.id].length;
        if(this.currentCarouselItem >= lastFrame){
          this.currentCarouselItem = 0
        } else if (this.currentCarouselItem < 0) {
          this.currentCarouselItem = lastFrame - 1
        }

        const labelsCont = this.$refs['scrollnames']
        const el = labelsCont.children[this.currentCarouselItem];
        // console.log(' . ', el.offsetLeft, el.offsetWidth, el.clientLeft, el.clientWidth)
        const scrollTo = labelsCont.children[this.currentCarouselItem].offsetLeft - window.innerWidth/2  + labelsCont.children[this.currentCarouselItem].offsetWidth/2
        labelsCont.scroll(
          {
            left: scrollTo,
            behavior: 'smooth'
          })
        this.$emit('change', this.currentCarouselItem)
        setTimeout(() => {
          this.$refs.carousel.setActiveItem(this.currentCarouselItem)
          if(this.$refs.tepdesc) {
            this.$refs.tepdesc.scrollTop = 0;
          }
        }, 1)
        //
      },
      carouselPrev(){
        this.currentCarouselItem--
        this.carouselChange()
      },
      carouselNext(){
        this.currentCarouselItem++
        this.carouselChange()
      },
      openGallery(i, item){
        if(this.data.id === 'common' || this.data.id === 'flats' || this.data.id === 'buildings'){
          console.log('pog', item.index, item)
          this.$emit('opengallery', this.imageUrls, this.picnames, item.index)
        }else if(this.data.id === 'panel' || this.data.id === 'album'){
          this.$emit('opengallery', this.panelUrls, this.picnames, i)
        }
      },
      onSwipeLeft(){
        // if(this.$refs.carousel.activeIndex >= this.$refs.carousel.items.length-1){
        //   return
        // }
        // this.$refs.carousel.next()
        this.carouselNext()
      },
      onSwipeRight(){
        this.carouselPrev()
        // if(this.$refs.carousel.activeIndex === 0){
        //   return
        // }
        // this.$refs.carousel.prev()
      },
    }
  }
</script>

<style lang="stylus">
    @import "../assets/css/variable"
    .el-carousel__indicators--labels .el-carousel__button
        font-size 12px
    .el-carousel__indicators
        max-height: 44px;
        overflow-x: auto;
        white-space: nowrap;
    .el-carousel__indicators--outside button
        opacity 0.7
        color $aijk
        background-color transparent
    .el-carousel__indicators--outside .is-active button
        background-color $aijk
        color white
    .el-carousel__arrow
        background-color: transparent;
        color: $aijk
        font-size: 40px;
        &:hover
            background-color: transparent;
</style>

<style lang="stylus" scoped>
    @import "../assets/css/variable"
    .spinner-bg
        position: absolute
        width 100%
        height: 100%
        background-color: transparent
        display: flex
        justify-content: center
        align-items center
        top 0
        z-index -1
    .carousel-arrows-wrapper
        pointer-events none
        position: absolute
        width: calc(100% - 30px)
        z-index 999
        display: flex
        justify-content space-between
    .carousel-arrows
        pointer-events initial
        display flex
        font-size: 30px
        align-items: center
        padding: 10px;
        height 100%
        cursor pointer
    .picnames
        position absolute
        bottom 15px
        /*display flex*/
        /*justify-content center*/
        flex-wrap nowrap
        overflow-x auto
        text-align center
        pointer-events all
        white-space: nowrap;
        /*height 40px*/
        width 100%
        .picname
            display: inline-block;
            text-align center
            pointer-events all
            /*background-color #a7bbbe*/
            /*color: white*/
            color rgba($aijk, 0.5)
            //background-color
            padding: 6px 16px
            white-space nowrap
            cursor pointer
            &.selected
                /*color white*/
                color $aijk
            &:hover
                color $aijk
        .picname + .picname
            margin-left 10px
    .cinfo
        pointer-events none
        background-color: rgba(255,255,255,0.8);
        width: calc(100% - 20px);
        text-align: center;
        position: absolute;
        padding: 10px;
</style>