<template>
    <div style="width: 100%; text-align: center">
      <i v-if="!data" style="opacity: 0.5" class="el-icon-circle-close-outline"></i>
      <i v-else style="color: #79AD36" class="el-icon-circle-check"></i>
    </div>
</template>

<script>
  export default {
    name: "CheckCell",
    props: ['data']
  }
</script>

<style scoped>

</style>