<template>
    <a v-if="id6" :href="`mailto:dom-competition@strelka-kb.com?subject=Problem with ${id6}`"></a>
    <a v-else href="mailto:dom-competition@strelka-kb.com?subject=Error"></a>
</template>

<script>
  export default {
    name: "HelpButton",
    props: ['id6']
  }
</script>

<style scoped>

</style>