<template>
    <el-tooltip class="item" effect="dark" placement="right" v-if="data">
        <div slot="content" class="tt-content">
            <!--<div v-html="content"></div>-->
            <div style="white-space: pre-line">{{content}}</div>
        </div>
        <div class="help">
            <div>?</div>
        </div>
    </el-tooltip>
</template>

<script>
  export default {
    name: "help",
    props: ['data'],
    computed:{
      content(){
        return this.data?this.data[this.$lang.split('-')[0]]:null;
      }
    }
  }
</script>

<style lang="stylus" scoped>
    @import "../assets/css/variable"
    $helpsize = 0.5em
    .help{
        cursor default;
        border-radius: 99px;
        padding: $helpsize;
        border: 1px solid $color-black;
        width: $helpsize;
        height: $helpsize;
        display: inline-flex;
        justify-content: center
        align-items: center
        line-height: $helpsize;
        text-align: center;
        font-size: 10px;

    }
    .tt-content{
        max-width: 300px;
        overflow hidden
    }
</style>

<style>
    .el-tooltip__popper.is-dark{
        background-color: #2f444e !important;
    }
</style>