<template>
    <div class="line">
        <div :style="{opacity:data.isRequired?1:0.5}">
        <help style="margin-right: 1em"></help><span >{{data.name[currentLang]}}</span>
            <span v-if="!data.isRequired">({{$t('project.optional')}})</span>
            <!--<span v-if="!data.isRequired">*</span>-->
        </div>
        <span>

            <uploader
                    v-model="data"
                    :id="`${subBlockKey}_${data._id}`"
                    :notePosition="'left'"
                    :compress="true"
                    :showDownloadButton="isAdmin"
                    :pid="projectId"
                    @onUploadComplete="uploadComplete"
                    @change="onChange"
                    >
            </uploader>
        </span>
    </div>
</template>

<script>
  import config from '../../../config'
  import Uploader from '../components/Uploader'
  import Help from '../components/help'
  import locales from '../locales/project'
  import { upload as uploadRes } from '../resources'

  export default {
    locales,
    name: "PicItem",
    props: ['data', 'projectId', 'subBlockKey', 'isAdmin'],
    components: {
      Uploader,
      Help
    },
    computed:{
      currentLang(){
        return this.$lang.split('-')[0]
      }
    },
    data(){
      return {
        apiUrl: config.frontend.apiUrl,
        files: []
      }
    },
    methods:{
      onChange(){
        this.$emit('change', this.data.mongoKey, this.data)
      },
      uploadComplete(upload){
        this.$emit('onUploadComplete', upload)
        // uploadRes.save(upload._id, upload)
      }
    }
  }
</script>

<style lang="scss" scoped>
    .line{
        display: flex;
        justify-content: space-between;
    }
</style>