<template>
    <span class="pb-cont">
        <span class="pb" v-if="data.done<data.total" :class="{highlighted}">
            {{data.done}} / {{data.total}}
        </span>
        <span v-else class="pb done">
            <i class="el-icon-circle-check"></i>
        </span>
    </span>
</template>

<script>
  import { EventBus } from '../eventbus.js';
  export default {
    name: "ProgressBadge",
    props: ['data'],
    data() {
      return {
        highlighted: false
      }
    },
    mounted() {
      EventBus.$on('badgeFire', () => {
        console.log('bf')
            this.highlighted = true;
            setTimeout(() => {
              this.highlighted = false;
            },2000)
      })
      EventBus.$on('badgeUpdate', () => {
        console.log('fup')
        this.$forceUpdate()
      })
    }
  }
</script>

<style lang="scss" scoped>
    $red: #CE181E;
    $black:  #1F2D3D;
    .pb-cont{
        display: inline-block;
        white-space: normal;
        margin-left: 0.5em;
    }
.pb{
    font-size: 12px;
    padding: 0.2em 0.6em;
    line-height: initial;
    color: $black;
    border-radius: 100px;
    display: inline-block;
    border: 1px solid $black;
    vertical-align: super;
    .highlighted{
        color: white;
        background-color: orangered;
    }
    &.done{
        color: #5daf34;
        font-size: 1.5em;
        background-color: transparent;
        padding: 0px;
        border: none;
    }
}
.red{
    background-color: $red;
    color: white
}
$ease: linear;
$dur: 1s;
    .highlighted {
        -webkit-animation-name: blinker;
        -webkit-animation-duration: $dur;
        -webkit-animation-timing-function: $ease;
        -webkit-animation-iteration-count: 1;

        -moz-animation-name: blinker;
        -moz-animation-duration: $dur;
        -moz-animation-timing-function: $ease;
        -moz-animation-iteration-count: 1;

        animation-name: blinker;
        animation-duration: $dur;
        animation-timing-function: $ease;
        animation-iteration-count: 1;
    }

    @-moz-keyframes blinker {
        0% { background-color: $red; color: white;  border: 1px solid transparent;}
        30% { background-color: transparent; color: $black; border: 1px solid transparent;}
        60% { background-color: $red; color: white;  border: 1px solid transparent;}
        100% { background-color: transparent; color: $black; border: 1px solid $black;}
    }

    @-webkit-keyframes blinker {
        0% { background-color: $red; color: white;  border: 1px solid transparent;}
        30% { background-color: transparent; color: $black; border: 1px solid transparent;}
        60% { background-color: $red; color: white;  border: 1px solid transparent;}
        100% { background-color: transparent; color: $black; border: 1px solid $black;}
    }

    @keyframes blinker {
        0% { background-color: $red; color: white;  border: 1px solid transparent;}
        30% { background-color: transparent; color: $black; border: 1px solid transparent;}
        60% { background-color: $red; color: white;  border: 1px solid transparent;}
        100% { background-color: transparent; color: $black; border: 1px solid $black;}
    }

</style>