<template>
    <div style="height: inherit;">
        <div class="help-cont">
            <el-tooltip class="item" effect="dark" placement="right">
                <div slot="content" class="supdesc-cont">{{$t('project.supportDesc')}}</div>
                <el-button size="mini" @click="support">
                    {{$t('project.support')}}
                </el-button>
            </el-tooltip>

            <div class="show-help-button" @click="showTutor" v-if="userRole==='voter'">
                <div style="font-size: 15px;">i</div>
            </div>
        </div>
        <el-form :model="project" ref="form"
                 label-position="top"
                 style="height: inherit;"
                 v-if="project._id"
                 :close-on-click-modal="false" :close-on-press-escape="false">

            <el-tabs v-model="activeTab">
                <!-- COMMON -->
                <el-tab-pane label="common" name="common">
                  <span slot="label">{{$t('heads.general')}}
                      <progress-badge :data="this.project.reqs['common']"></progress-badge>
                  </span>
                  <div class="tab-cont">


                    <help class="helptune" :data="helps.desc"></help>
                    <el-form-item  :label="$t('project.desc')" prop="desc">
ru
                        <el-input v-model="project.desc.ru"
                                  type="textarea"
                                  autosize
                                  max="1200"
                                  maxlength="1200"
                                  @change="updateDesc('desc')"
                                  :rows="2"></el-input>
                        en
                        <el-input v-model="project.desc.en"
                                  v-if="isAdmin"
                                  type="textarea"
                                  autosize
                                  max="1200"
                                  maxlength="1200"
                                  @change="updateProject('desc')"
                                  :rows="2"></el-input>
                    </el-form-item>


                    <div class="header">
                        {{$t('project.versionDigital')}}
                    </div>
                    <help class="helptune" :data="helps.album"></help>
                    <el-form-item :label="$t('project.album')" prop="album">
                        <uploader
                                v-model="project.album"
                                id="album"
                                :pid="project._id"
                                :showDownloadButton="isAdmin"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('album')"
                        >
                        </uploader>
                    </el-form-item>

                    <help class="helptune" :data="helps.panel"></help>
                    <el-form-item :label="$t('project.panel1')" prop="panel1">
                        <uploader
                                v-model="project.panel1"
                                id="panel1"
                                :isHighRes="true"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('panel1')"
                        >
                        </uploader>
                    </el-form-item>

                    <help class="helptune" :data="helps.panel"></help>
                    <el-form-item :label="$t('project.panel2')" prop="panel2">
                        <uploader
                                v-model="project.panel2"
                                id="panel2"
                                :isHighRes="true"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('panel2')"
                        >
                        </uploader>
                    </el-form-item>

                      <div class="item-head" :class="{optional:true}" >
                    <help class="helptune" :data="helps.schemas"></help>
                    <el-form-item :label="$t('project.schemas')" prop="schemas">
                        <uploader
                                v-model="project.schemas"
                                id="schemas"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('schemas')"
                        >
                        </uploader>
                    </el-form-item>
                      </div>

                    <help class="helptune" :data="helps.decl"></help>
                    <el-form-item :label="$t('project.decl')" prop="decl">
                        <uploader
                                v-model="project.decl"
                                id="decl"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('decl')">
                        </uploader>
                    </el-form-item>

                      <div class="item-head">
                    <help class="helptune" :data="helps.consent"></help>
                    <el-form-item :label="$t('project.consent')" prop="consent">
                        <uploader
                                v-model="project.consent"
                                id="consent"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('consent')">
                        </uploader>
                    </el-form-item>
                      </div>

                    <help class="helptune" :data="helps.note"></help>
                    <el-form-item :label="$t('project.note')" prop="note">
                        <uploader
                                v-model="project.note"
                                id="note"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('note')"
                        >
                        </uploader>
                    </el-form-item>

                    <help class="helptune" :data="helps.blueprint"></help>
                    <el-form-item :label="$t('project.blueprint')" prop="blueprint">
                        <uploader
                                v-model="project.blueprint"
                                id="blueprint"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                :compress="true"
                                @change="updateProject()"
                                @orderChanged="updateProject('blueprint')"
                        >
                        </uploader>
                    </el-form-item>
                    <div class="header">
                        {{$t('project.versionPrint')}}
                    </div>
                    <help class="helptune" :data="helps.album"></help>
                    <el-form-item :label="$t('project.album')" prop="albumPrint">
                        <uploader
                                v-model="project.albumPrint"
                                id="albumPrint"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                @change="updateProject()"
                                @orderChanged="updateProject('albumPrint')"
                        >
                        </uploader>
                    </el-form-item>

                    <help class="helptune" :data="helps.panel"></help>
                    <el-form-item :label="$t('project.panel1Print')" prop="panel1Print">
                        <uploader
                                v-model="project.panel1Print"
                                id="panel1Print"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                @change="updateProject()"
                                @orderChanged="updateProject('panel1Print')"
                        >
                        </uploader>
                    </el-form-item>

                    <help class="helptune" :data="helps.panel"></help>
                    <el-form-item :label="$t('project.panel2Print')" prop="panel2Print">
                        <uploader
                                v-model="project.panel2Print"
                                id="panel2Print"
                                :showDownloadButton="isAdmin"
                                :pid="project._id"
                                @change="updateProject()"
                                @orderChanged="updateProject('panel2Print')"
                        >
                        </uploader>
                    </el-form-item>
                  </div>
                </el-tab-pane>


                <!-- VIS -->
                <el-tab-pane label="Visualisations" name="vis">
                    <span slot="label">{{$t('heads.vis')}}
                        <progress-badge :data="this.project.reqs['vis']" :highlighted="badgeHighlighted"></progress-badge>
                    </span>
                    <div class="tab-cont">
                        <help class="helptune" :data="helps.vis"></help>
                        <el-form-item :label="$t('project.vis')" prop="vis">
                                <vis-items :data="project.visConverted"
                                           :projectId = "project._id"
                                           :isAdmin="isAdmin"
                                           :compress="true"
                                           @onItemAdded="addVis"
                                           @change="updateProject"
                                           @onItemRemoved="removeVis"
                                ></vis-items>
                        </el-form-item>
                    </div>
                </el-tab-pane>

                <!-- ALBUMS -->
                <el-tab-pane label="Albums" name="album" v-if="isAdmin" :disabled="!project.albumConverted">
                    <span slot="label">{{$t('heads.albums')}}
                    </span>
                    <div class="tab-cont">
                        <el-form-item :label="$t('heads.albums')" prop="album">
                            <uploader
                                    v-model="project.albumConverted"
                                    id="albumConverted"
                                    :pid="project._id"
                                    :notePosition="'left'"
                                    :showDownloadButton="isAdmin"
                                    :compress="true"
                                    @change="updateProject()"
                                    @orderChanged="updateProject('albumConverted')"
                            >
                            </uploader>
                        </el-form-item>
                    </div>
                </el-tab-pane>

                <!-- ITEMS -->
                <el-tab-pane label="Data" name="data">
                    <span slot="label">{{$t('heads.baa')}}
                        <progress-badge :data="this.project.reqs['data']" :highlighted="badgeHighlighted"></progress-badge>
                    </span>
                    <div class="tab-cont">
                        <cab-items :data="project.items"
                                   :isAdmin="isAdmin"
                                   :projectId="project._id" @change="updateProject"></cab-items>
                    </div>
                </el-tab-pane>


            </el-tabs>
        </el-form>
    </div>
</template>

<script>

  import cabItems from '../components/CabItems'
  import VisItems from '../components/VisItems'
  import Uploader from '../components/Uploader'
  import { mapGetters, mapActions } from 'vuex'
  import Help from '../components/help'
  import locales from '../locales/project'
  import { EventBus } from '../eventbus.js';
  import ProgressBadge from '../components/ProgressBadge'
  export default {
    locales,
    name: "projectEditor",
    props: ['project', 'isAdmin'],
    components:{
      cabItems,
      Uploader,
      VisItems,
      ProgressBadge,
      Help,
    },
    computed:{
      ...mapGetters(['userRole']),
      currentLang(){
        return this.$lang.split('-')[0]
      },
      oppLang(){
        return this.currentLang === 'ru' ? 'en' : 'ru'
      }
    },
    data(){
      return {
        helps:{
          desc: {
            ru: 'Описание концепции должно включать идею проекта и основные архитектурно-планировочные решения',
            en: 'The description of the concept should include the main idea and the key architectural and layout solutions'
          },
          album: {
            ru: 'Альбом формата А3. Должен содержать пояснительную записку, концептуальные схемы, комплект чертежей и технико-экономические показатели по каждому зданию, детальную квартирографию и дополнительные материалы в количестве, масштабе и виде, необходимом для оценки Конкурсного Предложения',
            en: 'Album in А3 format, containing explanatory note, concept diagrams, set of drawings and table of parameters for each building, apartment catalogue and other additional materials in appropriate scale and presentation for evaluation of concept design'
          },
          panel: {
            ru: 'Презентационный планшет формата А0 с вертикальной ориентацией должен содержать визуализации, квартирографию, чертежи и технические показатели. Рекомендуется соблюдать композицию Презентационных планшетов так, как указано в Техническом задании, но небольшие изменения в размещении и составе материалов допустимы. Также рекомендуется разместить на планшете самые репрезентативные материалы, а остальные включить в Альбом',
            en: 'Presentation panel with vertical layout in A0 format, containing visualizations, apartment catalogue, drawings and parameters. It is recommended to organize Presentation panels as in the Brief but it is allowed to make some changes in selection and placement of graphical materials. It is recommended to place the most representative materials and put remaining in the Album'
          },
          schemas: {
            ru: 'Концептуальные схемы, иллюстрирующие ключевые решения по организации пространства, а также схемы иллюстрирующие конструктивные и инженерные решения и решения по повышению энергоэффективности зданий (включая систему вентиляции, отопления, кондиционирования и пр)',
            en: 'Concept diagrams illustrating key solutions for spatial organisation and diagrams Illustrating structural and engineering solutions and suggestions on increasing building energy efficiency (including heating, ventilation, air conditioning, etc)'
          },
          decl: {
            ru: 'Форму для декларации об авторстве можно скачать в личном кабинете',
            en: 'Form for the declaration of authorship could be found in the personal account'
          },
          consent: {
            ru: 'Форму для заявления об ознакомлении и согласии с конкурсной документацией можно скачать в личном кабинете',
            en: 'Form for the letter of consent to the competition documentation could be found in the personal account'
          },
          note: {
            ru: 'Пояснительная записка должна включать описание концепции, основные подходы к организации планировочной структуры квартир и проектированию зданий',
            en: 'Explanatory note should include main concept and design approach, principle organisation of planning layouts and residential development'
          },
          blueprint: {
            ru: 'Комплект чертежей по каждому из зданий (М 1:200), должен включать: план первого этажа, планы всех типовых этажей, разрезы (не менее двух), фасады (не менее двух), экспликацию помещений и квартирографию',
            en: 'A set of drawings for each of the buildings (1:200) should include ground floor plan, all standard floor plans, sections (minimum two) and facades (minimum two), explication and apartment catalogue'
          },
          vis:{
              ru: 'Визуализации, иллюстрирующие общий вид на жилую застройку, интерьеры подъездов и общих помещений зданий, интерьеры квартир',
              en: 'Visualizations of general view of residential development, interior view of the entranceway and collective spaces of the buildings, interior views of apartments'
          }
        },
        activeTab: 'common',
        badgeHighlighted: true,
      }
    },
    methods: {
      showTutor(){
        EventBus.$emit('showTutor')
      },
      support(){
        const link = `mailto:dom-competition@strelka-kb.com?subject=Problem with #${this.project.user.id6}`
        window.open(link, '_blank')
      },
      getProjectReq(key){
        const r = this.project.reqs[key];
        return r.done<r.total?`${r.done} / ${r.total}`:null;
      },
      addVis(vis){
        this.project.visConverted.push(vis)
        //this.updateProject()
      },
      removeVis(vis){
        this.$confirm(this.$t('confirm.remove',{content: this.$t('confirm.image')}), this.$t('confirm.title'), {
          confirmButtonText: this.$t('confirm.yes'),
          cancelButtonText: this.$t('confirm.cancel'),
          type: 'warning'
        }).then(() => {
          this.project.visConverted = _.filter(this.project.visConverted, (v) => {
            return v._id !== vis._id;
          })
          this.updateProject({})
        }).catch(() => {

        });
      },
      updateProject(fieldname, data){
        this.$emit('onUpdateProject', fieldname, data)
      },
      updateDesc(fieldname, data){
          console.log('fieldname', fieldname)
          console.log('data', data)
          console.log('desc', this.project.desc[this.currentLang])
           console.log('oppLang desc', this.project.desc[this.oppLang])
        // if(!this.isAdmin){
        //   this.project.desc[this.oppLang] = this.project.desc[this.currentLang]
        // }
        this.updateProject('desc')
      }
    }
  }
</script>

<style lang="scss" scoped>
    $helpsize: 20px;
    $color-black: #1F2D3D;
    .supdesc-cont{
        width: 200px;
    }
    .help-cont{
        position: absolute;
        right: 0;
        padding: 2em;
        z-index: 1111111;
        padding-top: 0px;
        text-align: right;
        box-sizing: border-box;


    }
    .tab-cont{
        /*max-height: 850px;*/
        max-height: initial;
        overflow-y: scroll;
        overflow-x: hidden;

    }
    .helptune{
        margin-right: 1em;
        float: left;
        height: 100%;
        margin-top: 1em;
    }
    .header{
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: $color-black;
    }
    .show-help-button{
        border-radius: 99px;
        padding: 0px;
        border: 1px solid $color-black;
        color: white;
        background-color: $color-black;
        width: $helpsize;
        height: $helpsize;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: $helpsize;
        margin-left: 1em;
        text-align: center;
        cursor: pointer;
        font-size: 10px;

    }
</style>
<style lang="scss">
    .el-tabs{
        height: inherit;
    }
    .el-tabs__content{
        height: inherit;
    }
    .el-tab-pane{
        height: inherit;
    }
    .tab-cont{
        height: inherit;
        padding-bottom: 150px;
        box-sizing: border-box;
    }
    .tab-cont .item-head{

        &.optional{
            .help{
                opacity: 0.5;
            }
            .el-form-item__label{
                opacity: 0.5;
            }
        }
        white-space: pre-line;
        /deep/ label{
        font-size: 13px;
        }
    }
</style>