<template>
    <div>
        <el-collapse v-model="activeName">
            <el-collapse-item :title="data.name[currentLang]"
                              :ref="`csb_${data._id}`"
                              :disabled='selectable && !data.marked'
                              :class="{disabled: selectable && !data.marked}"
                              :name="data._id"
                              :key="`sb${data._id}`">

                <template slot="title" >
                    <el-checkbox
                            style="pointer-events: all"
                            v-model="data.marked"
                            v-if="selectable"
                            @change="updateMarked(data)"
                            :disabled="isMarkDisabled(data)"></el-checkbox>
                    <span style="padding-left: 1em">{{data.name[currentLang]}}<progress-badge class="mark" :data="data.reqs"></progress-badge>
                    </span>
                </template>
                <div v-if="!isMarkDisabled(data)">
                    <pic-item :data="vis"
                              v-for="(vis, index) in data.vis"
                              :key="`vis${index}`"
                              :subBlockKey="`${blockKey}_${data.key}`"
                              class="sbi"
                              :isAdmin="isAdmin"
                              :projectId="projectId"
                              @change="onChange"
                              onUploadComplete="onUploadComplete"></pic-item>
                    <tep-item :data="tep"
                              :ref="`tep_${tep._id}`"
                              v-for="(tep, index) in data.items"
                              class="sbi"
                              @change="onChange"
                              :key="`tep${index}`"></tep-item>
                    <tep-item :data="note"
                              :ref="`note_${note.key}`"
                              v-for="(note, index) in data.notes"
                              class="sbi"
                              :key="`note${index}`"></tep-item>
                </div>

            </el-collapse-item>
        </el-collapse>
    </div>
</template>

<script>
    import tepItem from './tepItem'
    import picItem from './PicItem'
    import progressBadge from './ProgressBadge'
    import { me as meRes } from '../resources'
    const precision = 2;
  export default {
    name: "subBlockItem",
    components:{
      tepItem,
      picItem,
      progressBadge
    },
    computed:{
      currentLang(){
        return this.$lang.split('-')[0]
      }
    },
    props: ['data', 'totalMarked', 'selectable', 'projectId', 'blockKey', 'isAdmin'],
    watch:{
      data:{
        // immediate: true,
        // handler (val, oldVal) {
        //   this.$nextTick(() => {
        //     console.log('WATCH')
        //     _.each(this.watchers, watcher => watcher())
        //     _.each(this.data.items, (item) => this.setWatchers(item))
        //   })
        // }
      }
    },
    data(){
      return{
        activeName: '',
        watchers: [],
      }
    },
    methods:{
      onChange(key,data){
        this.$emit('change', key,data)
      },
      onUploadComplete(data){

            // sbRes.save(id, {data})
      },
      isMarkDisabled(bb){
        return this.totalMarked >= 3 && !bb.marked
      },
      updateMarked(block){
        const c = this.$refs[`csb_${block._id}`];
        this.$nextTick(() => {
          if(c.isActive){
            c.handleHeaderClick()
          }
        })

        const path  = `${block.mongoKey}.marked`; //`items.${bIndex}.marked`
        // meRes.updateProject({ [path]: block.marked })
        //   .then((project) => {
            console.log('ЙЙ ',  path, block.marked)
        this.$emit('change', path, block.marked)
          // })
      },
      setWatchers(item){
        let indexA;
        let indexB;
        let indexC;
        let indexD;

        switch(item.key){
          case 'k1':
            let indexA = _.findIndex(this.data.items, {key: 'netArea'})
            let indexB = _.findIndex(this.data.items, {key: 'totalApsArea'})
            let k1f = function(){
              const newValue = this.data.items[indexA].value / this.data.items[indexB].value;
              item.value = _.isNaN(newValue) ? null : newValue.toFixed(precision);
              this.$nextTick(() => {

                if(this.$refs[`tep_${item._id}`]){
                  this.$refs[`tep_${item._id}`][0].$forceUpdate()
                }
              })
            }
            k1f = k1f.bind(this)
           this.watchers.push(this.$watch(`data.items.${indexA}.value`, (nv) => {
                k1f()
            }))
            this.watchers.push(this.$watch(`data.items.${indexB}.value`, (nv) => {
                k1f()
            }))
            k1f();
            break;
          case 'k2':

            indexA = _.findIndex(this.data.items, {key: 'grossArea'})
            indexB = _.findIndex(this.data.items, {key: 'totalApsArea'})
            let k2f = function(){
              const newValue = this.data.items[indexA].value / this.data.items[indexB].value;
              item.value = _.isNaN(newValue) ? null : newValue.toFixed(precision);
              this.$nextTick(() => {
                if(this.$refs[`tep_${item._id}`]){
                  this.$refs[`tep_${item._id}`][0].$forceUpdate()
                }

              })
            }
            k2f = k2f.bind(this)
            this.watchers.push(this.$watch(`data.items.${indexA}.value`, (nv) => {
                  k2f()
            }))
            this.watchers.push(this.$watch(`data.items.${indexB}.value`, (nv) => {
                k2f()
            }))
            k2f()
            break;
          case 'totalArea':

            indexA = _.findIndex(this.data.items, {key: 'livingArea'})
            indexB = _.findIndex(this.data.items, {key: 'nonLivingArea'})
            indexC = _.findIndex(this.data.items, {key: 'sunroomsAreaBT'})
            indexD = _.findIndex(this.data.items, {key: 'sunroomsAreaLoggies'})
            const BTCoef = 0.3;
            const loggiesCoef = 0.5;

            let totalAreaFoo = function(){
              const newValue = this.data.items[indexA].value + this.data.items[indexB].value + (this.data.items[indexC].value*BTCoef) + (this.data.items[indexD].value*loggiesCoef);
              item.value = _.isNaN(newValue) ? null : newValue.toFixed(precision);
              this.$nextTick(() => {
                if(this.$refs[`tep_${item._id}`]) {
                  this.$refs[`tep_${item._id}`][0].$forceUpdate()
                }
              })
            }
            totalAreaFoo = totalAreaFoo.bind(this);

            this.watchers.push(this.$watch(`data.items.${indexA}.value`, (nv) => {
                totalAreaFoo()
            }))
            this.watchers.push(this.$watch(`data.items.${indexB}.value`, (nv) => {
                totalAreaFoo()
            }))
            this.watchers.push(this.$watch(`data.items.${indexC}.value`, (nv) => {
                totalAreaFoo()
            }))
            this.watchers.push(this.$watch(`data.items.${indexD}.value`, (nv) => {
                totalAreaFoo()
            }))
            totalAreaFoo();
            break;
        }
      }
    },
    mounted(){
      this.$nextTick(() => {
        _.each(this.watchers, watcher => watcher())
        _.each(this.data.items, (item) => this.setWatchers(item))
      })
    },
    destroyed(){
        _.each(this.watchers, watcher => watcher())
    }
  }
</script>

<style lang="scss" scoped>
    .sbi + .sbi{
        margin-top: 10px;
    }
    .disabled{
        pointer-events: none;
    }
</style>