<template>
    <div>
        <div class="cont">
            <div :style="{opacity:data.isRequired?1:0.5}">
                <!--<help style="margin-right: 1em"></help>{{data.name.ru}} <span v-if="!data.isRequired">*</span>-->
                <help style="margin-right: 1em" :data="data.help" ></help>
                <!--v-if="data.help"-->
                <span style="white-space: pre-wrap;">{{data.name[currentLang]}}</span>
                <span v-if="!data.isRequired && data.type!=='numCalculated' && data.type!=='note'">({{$t('project.optional')}})</span>
            </div>
            <div>
                <div v-if="data.type==='num'">
                    <el-input-number v-model="data.value" size="mini" controls-position="right" @change="onChange"></el-input-number>
                </div>
                <div v-if="data.type==='numCalculated'" style="opacity: 0.5">
                    {{data.value}}
                </div>
                <div v-else-if="data.type==='bol'">
                    <!--<el-switch v-model="data.value">-->
                    <!--</el-switch>-->
                    <!--<el-checkbox v-model="data.value" @change="onChange">Option</el-checkbox>-->
                    <tri-radio v-model="data.value" :items="tris.yesNo" @change="onChange"></tri-radio>
                </div>
                <div v-else-if="data.type==='tri'">
                    tri
                </div>
                <div v-else-if="data.type==='range'">
                    {{$t('project.min')}}: <el-input-number v-model="data.value[0]" size="mini" controls-position="right" @change="onChange"></el-input-number>
                    {{$t('project.max')}}: <el-input-number v-model="data.value[1]" size="mini" controls-position="right" @change="onChange"></el-input-number>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Help from '../components/help'
    import TriRadio from '../components/TriRadio'
    import locales from '../locales/project'
  export default {
    locales,
    name: "tepItem",
    props: ['data'],
    components:{
      Help,
      TriRadio
    },
    computed:{
      currentLang(){
        return this.$lang.split('-')[0]
      }
    },
    data(){
      return {
        tris: {
          yesNo: [
            {label: this.$t('na'), value: undefined},
            {label: this.$t('yes'), value: true},
            {label: this.$t('no'), value: false},
          ],
        }
      }
    },
    methods:{
      onChange(){
        this.$emit('change', this.data.mongoKey, this.data)
      }
    }
  }
</script>

<style lang="scss" scoped>
.cont{
    display: flex;
    justify-content: space-between;
}
</style>