<template>
    <div :class="limitClass" class="tvcont">
        <div v-if="tep.type==='num'" >
           {{perc(tep.value)}}<span v-if="diff" class="diff"> ({{diff}})</span>
        </div>
        <div v-if="tep.type==='numCalculated'">
            {{calcCalculated(tep.value)}}<span v-if="diff" class="diff"> ({{diff}})</span>
        </div>
        <div v-else-if="tep.type==='bol'" >
            <!--<tri-radio v-model="data.value" :items="tris.yesNo" @change="onChange"></tri-radio>-->
            <check-cell style="font-size:16px":data="tep.value"></check-cell>
        </div>
        <div v-else-if="tep.type==='tri'">
            tri{{tep.value}}
            <trismile v-if="tep.value" class="tri" label=""  type="smile" :value="tep.value"></trismile>
        </div>
        <div v-else-if="tep.type==='range'">
            <span v-if="tep.value[0] === tep.value[1]">
                {{perc(tep.value[0])}}<span v-if="diff[0]" class="diff"> ({{diff[0]}})</span>
            </span>
            <span v-else>
             {{perc(tep.value[0])}} - {{perc(tep.value[1])}}
            </span>


        </div>
        <!--<div style="width:60px; text-align: right;">-->
            <!--&lt;!&ndash;&ndash;&gt;-->
            <!--<span v-if="diff" class="diff"> ({{diff}})</span>    -->
        <!--</div>-->
        <!--<div style="width: 40px; text-align: center;">-->
            <!--<tri-smile v-if="isLimit" class="trismile" type="smile" :value="limitClass"></tri-smile>-->
        <!--</div>-->
    </div>
</template>

<script>
  import CheckCell from '../components/CheckCell'
  import TriSmile from '../components/TriSmile'
  export default {
    name: "TepValue",
    props: ['tep', 'items'],
    components:{
      CheckCell,
      TriSmile
    },
    computed: {
      isLimit(){
        return this.tep.limits
      },
      diff(){
        if(this.tep.limits && this.tep.limits.target){
          if (this.tep.type === 'range') {
            let d1 = null
            let d2 = null

            if(this.tep.value[0] < this.tep.limits.target[0]){
              d1 = this.tep.value[0] - this.tep.limits.target[0]
            } else if (this.tep.value[0] > this.tep.limits.target[1]){
              d1 = this.tep.value[0] - this.tep.limits.target[1]
            }

            if(this.tep.value[1] < this.tep.limits.target[0]){
              d2 = this.tep.value[1] - this.tep.limits.target[0]
            } else if (this.tep.value[1] > this.tep.limits.target[1]){
              d2 = this.tep.value[1] - this.tep.limits.target[1]
            }

            return [this.addPlus(_.isNull(d1)?null:this.perc(d1)),
              this.addPlus(_.isNull(d2)?null:this.perc(d2))]
          } else  { //if (this.tep.type==='num' || this.tep.type==='numCalculated')
            const val = this.tep.type==='numCalculated' ? +this.calcCalculated() : +this.tep.value
            if (this.tep.limits && this.tep.limits.colors && (val>=this.tep.limits.colors[1] && val<=this.tep.limits.colors[2])) {
              // green zone
              return null
            }
            if(val < this.tep.limits.target[0]){
              return this.addPlus(this.perc(val -  this.tep.limits.target[0]))
            }else if(val > this.tep.limits.target[1] ){
              return this.addPlus(this.perc(val -  this.tep.limits.target[1]))
            }
          }
            return null
        }
        return null
      },
      limitClass(){
        const val = this.tep.type==='numCalculated' ? +this.calcCalculated() : +this.tep.value;
        if((this.tep.type !=='range' && this.tep.type!=='num' && this.tep.type !== 'numCalculated')
          || !this.tep.limits
        ){
          return null
        } else if(this.tep.type!=='range' && (_.isString(val) || _.isUndefined(val) || _.isNull(val) || _.isNaN(val))){
          return null
        } else if(this.tep.limits && this.tep.limits.colors){
          if(this.tep.type==='range'){
            if((_.isString(this.tep.value[0]) || _.isUndefined(this.tep.value[0]) || _.isNull(this.tep.value[0]) || _.isNaN(this.tep.value[0]))
              && (_.isString(this.tep.value[1]) || _.isUndefined(this.tep.value[1]) || _.isNull(this.tep.value[1]) || _.isNaN(this.tep.value[1]))){
              return null
            }
            if(this.tep.value[0] < this.tep.limits.colors[0] || this.tep.value[0] > this.tep.limits.colors[3] ||
              this.tep.value[1] < this.tep.limits.colors[0] || this.tep.value[1] > this.tep.limits.colors[3]){
              return 'l'
            } else if (this.tep.value[0] < this.tep.limits.colors[1] || this.tep.value[0] > this.tep.limits.colors[2] ||
              this.tep.value[1] < this.tep.limits.colors[1] || this.tep.value[1] > this.tep.limits.colors[2]){
              return 'm'
            } else {
              return 'h'
            }
          } else {
            if(val < this.tep.limits.colors[0] || val > this.tep.limits.colors[3]){
              return 'l'
            } else if (val < this.tep.limits.colors[1] || val > this.tep.limits.colors[2]){
              return 'm'
            } else {
              return 'h'
            }
          }
        }
        // if(this.tep.type==='range'){
        //
        // } else {
        //   if(this.tep.limits && this.tep.limits.colors){
        //     return 'm'
        //   }
        // }

        return null
      }
    },
    methods:{
      addPlus(num){
        if(_.isNull(num)) return num
        if(num>0){
          return `+${num}`
        }
        return num
      },
      perc(num){
        if(this.tep.precision < 0){
          let signs = Math.pow(10, Math.abs(this.tep.precision))
          return (num || this.tep.couldByZero) ? (Math.round((num || 0) / signs) * signs) : this.$t('noData')
        }
        return (num || this.tep.couldByZero) ? (num || 0).toFixed(this.tep.precision || 0) : this.$t('noData')
      },
      calcCalculated(){
        let res = null;
        let indexA;
        let indexB;
        let indexC;
        let indexD;
          switch(this.tep.key){
            case 'k1':
              let indexA = _.findIndex(this.items, {key: 'netArea'})
              let indexB = _.findIndex(this.items, {key: 'totalApsArea'})
              if(this.items[indexB].value){
                const k1 = this.items[indexA].value / this.items[indexB].value;
                res = _.isNaN(k1) ? null : this.perc(k1);
              } else {
                res = null
              }

              break;
            case 'k2':

              indexA = _.findIndex(this.items, {key: 'grossArea'})
              indexB = _.findIndex(this.items, {key: 'totalApsArea'})
              if(this.items[indexB].value){
                const k2 = this.items[indexA].value / this.items[indexB].value;
                res = _.isNaN(k2) ? null : this.perc(k2);
              } else {
                res = null
              }
              break;
            case 'totalArea':

              indexA = _.findIndex(this.items, {key: 'livingArea'})
              indexB = _.findIndex(this.items, {key: 'nonLivingArea'})
              indexC = _.findIndex(this.items, {key: 'sunroomsAreaBT'})
              indexD = _.findIndex(this.items, {key: 'sunroomsAreaLoggies'})
              const BTCoef = 0.3;
              const loggiesCoef = 0.5;
              const totalAreaFoo = this.items[indexA].value + this.items[indexB].value + (this.items[indexC].value*BTCoef) + (this.items[indexD].value*loggiesCoef);
              res = _.isNaN(totalAreaFoo) ? null : this.perc(totalAreaFoo);
              break;
          }
        return res ? res : this.$t('noData');
      }
    }
  }
</script>

<style lang="stylus" scoped>
    @import "../assets/css/variable"
    .diff
        /*padding-left 6px*/
        /*opacity: 0.5;*/
    .tvcont
            display: flex
            align-items center
    .trismile
        width: 30px !important;
        height: 30px !important;
        display: inline-block;

    .l
        color: $tz-bad
    .m
        color: $tz-warn
    .h
        color: $tz-good
</style>