<template>
    <div>
        <div v-if="(data.id==='common' || data.id==='flats' || data.id==='buildings') && data.data && data.data.tepblocks" ref="tab_common">
            <carousel ref="carousel" :data="data" :heightDiff="270" :items="data.data.tepblocks[data.id]" @opengallery="openGallery" @change="commonCarouselChange"></carousel>

            <div style="display: flex; padding-top: 50px;">
                <div class="tepdesc-prewrapper"
                     @click="openTepDescWrapper">
                    <div
                         class="tepdesc-wrapper"
                         ref="tepdesc"
                         :class="{opened: tepDescPressed}"
                    >
                        <div v-if="data.data.tepblocks[data.id][currentCarouselItem] && data.data.tepblocks[data.id][currentCarouselItem].isTep">
                            <div v-for="t in data.data.tepblocks[data.id][currentCarouselItem].teps"
                                 :key="t.key"
                                 v-if="((t.limits || data.id==='flats') || t.type==='numCalculated') && !(t.hideIfNull && !t.value)"
                                 class="tepdesc">
                                <div class="tepdesc-name">{{t.name[currentLang]}}</div>
                                <div class="tep-filler"></div>
                                <div class="tepdesc-value">
                                    <!--{{t.value}}-->
                                    <tep-value :tep="t" :items="data.data.tepblocks[data.id][currentCarouselItem].teps"></tep-value>
                                </div>
                            </div>
                        </div>
                        <div v-else style="text-justify: inter-word;" class="desc">{{data.data.desc[currentLang]}}</div>
                    </div>
                    <div class="tepdesc-more" v-if="!tepDescPressed">
                        <!--<div>...</div>-->
                        <i class="el-icon-arrow-down"> </i>
                    </div>
                </div>
                <trismile class="tri smile" :label="$t('thing.model.commonEvaluationBuilding')"  type="smile" :value="data.data.editorTzBuilding"></trismile>
                <trismile class="tri smile" :label="$t('thing.model.commonEvaluationFlat')" type="smile" :value="data.data.editorTzFlat"></trismile>
                <trismile class="tri smile" :label="$t('thing.model.commonEvaluationPlanned')"  type="smile" :value="data.data.editorPlannedStructure"></trismile>
                <trismile class="tri smile" :label="$t('thing.model.commonEvaluationEngeniring')" type="smile" :value="data.data.editorEnginiringSystems"></trismile>
                <trismile class="tri" :label="$t('thing.model.avgCost.label')"  type="rub" :value="data.data.editorPrice"></trismile>
            </div>
        </div>

        <!-- VIDEO -->
        <div v-else-if="data.id==='video' && data.data && data.data.videoId != ''" id="tab_video" >

            <youtube
                    ref="youtube"
                    style="height:calc(100vh - 200px)"
                    height="calc(100vh - 150px)"
                    player-width="100%"
                    player-height="100%"
                    :video-id="data.data.videoId"></youtube>
            <!---->
        </div>

        <!-- PANEL -->
        <div v-else-if="data.id==='panel' && data.data" id="tab_pannel">
            <carousel ref="carousel" :data="data" :items="data.data" :heightDiff="165" @opengallery="openGallery" style="padding-bottom: 25px"></carousel>
        </div>

        <div v-else-if="data.id==='album' && data.data">
            <carousel ref="carousel" :data="data" :items="data.data" :heightDiff="165" @opengallery="openGallery" style="padding-bottom: 25px"></carousel>
        </div>


        <div v-else-if="data.id==='data'" >
            <el-collapse v-model="activeName" accordion id="detailtable">
                <el-collapse-item :title="block.name[currentLang]"
                                  :name="block._id"
                                  :class="{disabled: getDisabled(block)}"
                                  :key="block._id" v-for="block in data.data.items">
                    <template slot="title">
                        <span :class="{'accord-header': true}">{{block.name[currentLang]}}</span>
                    </template>

                    <el-collapse v-model="activeNameSub" accordion id="detailtable2">
                        <el-collapse-item style="padding-left:2em" :title="sub.name[currentLang]"
                                          :name="sub._id"
                                          :key="sub._id"
                                          v-if="!block.shouldSelected || sub.marked"
                                          v-for="sub in block.items">
                            <template slot="title" >
                                <span :class="{'accord-header': true}">{{sub.name[currentLang]}} </span>
                            </template>
                            <div>

                                <div v-for="tep in sub.items" style="display: flex" v-if="!(tep.hideIfNull && !tep.value)">
                                    <div class="tep-cont">

                                        <div :style="">
                                            <help style="margin-right: 1em" :data="tep.help" ></help>
                                            <span style="white-space: pre-wrap;">{{tep.name[currentLang]}}</span>
                                            <span v-if="!tep.isRequired && tep.type!=='numCalculated' && tep.type!=='note'">({{$t('project.optional')}})</span>
                                        </div>
                                        <div class="tep-filler"></div>
                                        <div>
                                            <tep-value :tep="tep" :items="sub.items"></tep-value>
                                        </div>
                                    </div>
                                </div>
                                <div v-for="tep in sub.notes" style="display: flex">
                                    <div class="tep-cont">
                                        <div :style="{opacity:tep.isRequired?1:0.5}">
                                            <help style="margin-right: 1em" :data="tep.help" ></help>
                                            <span style="white-space: pre-wrap;">{{tep.name[currentLang]}}</span>
                                            <span v-if="!tep.isRequired && tep.type!=='numCalculated' && tep.type!=='note'">({{$t('project.optional')}})</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </el-collapse-item>
                    </el-collapse>
                </el-collapse-item>
            </el-collapse>
        </div>

    </div>
</template>
<script>
  import * as _ from 'lodash'
  import locales from '../locales/things'
  import Help from '../components/help'
  import Carousel from '../components/carousel'
  import TepValue from '../components/TepValue'
  import trismile from './TriSmile.vue'
  export default {
    locales,
    props: {
      data: {
        type: Object
      },
      variants: {
        type: Array
      },
      variantId: {
        type: String
      },
      subId: {
        type: String
      },
      envType: {
        type: String
      },
      checkers: {
        type: Object
      },
      trigger: {
        type: String
      }
    },
    data() {
      return {
        activeName: null,
        shouldShowDescMore: true,
        som: 3,
        activeNameSub: null,
        tepDescPressed: false,
        currentCarouselItem: 0,
        currentBlockJustSwitched: false,
//        checkers: {},
        itemOrder: {
          common: [
            'commonEvaluationFlat',
            'commonEvaluationBuilding',
            'commonEvaluationPlanned',
            'commonEvaluationEngeniring',            
            'commonEvaluationBlock',
            'avgCost'
          ],
          sub1: [
            [
              'commonEvaluation',
              'area',
              'length',
              'height'
            ],
            [
              'developedPercent',
              'dens',
              'commers',
              'parking',
              'population',
              'edu'
            ]
          ]
        }
      }
    },
    watch:{

    },
    components:{
      trismile,
      Help,
      TepValue,
      Carousel
    },
    computed:{
      currentLang(){
        return this.$lang.split('-')[0]
      },
    },
    methods:{
      getDisabled(block){
        console.log('block', block)
        if(block.shouldSelected){
          return _.reduce(block.items, (total, sb)=> {
            return total += sb.marked ? 1 : 0
          }, 0) === 0// < block.shouldSelected
        }
        return false
      },
      setGalleryToZero() {
        if (this.$refs.carousel) {
          this.$refs.carousel.gotoFirstFrame()
        }
        this.commonCarouselChange(0)
        this.tepDescPressed = false;
        return null;
      },
      openGallery(imageUrls, titles, index){
        this.$emit('opengallery', this, imageUrls, titles, index)
      },
      openTepDescWrapper(){
        this.som = Math.random()
        this.tepDescPressed = !this.tepDescPressed;
        if(!this.tepDescPressed){
          this.$refs.tepdesc.scrollTop = 0;
        }
      },
      te(label){
        return _.startsWith(this.$t(label), 'thing.')
      },

//      fetchCheckers(){
//        checkersRes.query().then(data => data.json()).then(data => {
//          if (data && data.results){
//            this.checkers = _.transform(data.results, (total, item) => {
//              total[item._id] = item;
//              return true;
//            }, {})
//            this.$forceUpdate()
//          }
//
//        })
//      },
      showInfo(row, table){
        row.showInfo = !row.showInfo
        this.$refs[table].doLayout()
      },
      commonCarouselChange(i){
        //this.shouldShowDescMore = this.$refs.tepdesc.children[0].offsetHeight > 72;
        this.currentCarouselItem = i;
      },
      setCarouselToIndex(index){
          this.$nextTick(() => {
            this.$refs.carousel.selectItem(index)
              this.tepDescPressed = false;
          })
      },
      setCarouselToFirst(){
        if(this.data.id === 'common'){
          this.$nextTick(() => {
            this.$refs.carousel.prev()
            this.$nextTick(() => {
              this.$refs.carousel.setActiveItem(0);
              this.tepDescPressed = false;
            })
//          this.$forceUpdate()
          })

        }
      }
    },
    mounted(){
      this.$nextTick(() => {
        this.shouldShowDescMore = this.$refs.tepdesc && this.$refs.tepdesc.children && this.$refs.tepdesc.children[0].offsetHeight > 72;
      })
    }
  }

</script>
<style lang="stylus">
    @import "../assets/css/variable"

    #detailtable
        .el-collapse
            border: none

        .el-collapse-item__header
            height: initial;
            line-height: inherit;
        .el-collapse-item__arrow
            line-height: 60px;
            float: left;


</style>
<style lang="stylus" scoped>
    @import "../assets/css/variable"
    /*.el-collapse-item*/
        /*&*/

    /*#tab_pannel*/
    /*.el-carousel*/
    /*.el-carousel__container*/
    //height calc(100vh - 275px) !important
    .tep-cont
        width 100%
        font-size: 14px
        display flex
        align-items center
        justify-content space-between
    .params
        position absolute;
        bottom 0px;
        width 100%;
        background-color rgba(255, 255, 255, 0.8);
        display flex;
        flex-wrap: wrap;
        .par
            display flex;
            /*flex: 0.5*/
            width: 45%;

            justify-content: space-between;
            padding: 20px;
            font-size: 18px;
            .label

                white-space nowrap;
            .divider
                border-bottom: 1px $aijk dotted;
                width: 90%;
            .value
                font-weight bold;
                white-space nowrap;


    .image
        background-size contain
        background-repeat no-repeat
        background-position center center
        width 100%
        height 100%
    .noborder
        border-color white
    .accord-label
        color $aijk
        min-height: 60px;
        display: inline-table;
        vertical-align: middle;
        line-height: 60px;
        word-break: break-word;
    .accord-header
        font-size: 14px !important;
        color $aijk
        min-height: 60px;
        display: inline-table;
        vertical-align: middle;
        line-height: 60px;
        &.unsub
            opacity 0.3
        /*font-weight bold;*/

    ///*.el-carousel__indicators--labels .el-carousel__button*/
        /*font-size: 12px !important;*/

    .tri
        flex: 1
        margin auto
        margin-top 0px


    .clickable
        cursor pointer
    .info
        width: 18px
        height: 18px
        text-align center
        line-height 20px
        border-radius 40px
        background-color $aijk
        color white
        background-image url('../assets/images/info-01.svg')
        background-size contain
    .item
        text-align center
        font-size 18px
        padding-top 6px
        padding-bottom 6px

        .tri
            width 40px;
            float center
            height 40px
        &.checker-bad

            color $tz-bad
        &.checker-warn
            color $tz-warn
        &.checker-good
            color $tz-good

.tepdesc-prewrapper
    flex:2;
    height: 80px;
    cursor pointer



.tepdesc-wrapper
    overflow-y: hidden;
    margin-top: 6px;
    height: 72px
    text-align: justify;
    padding-right: 10px;
    .desc
        white-space: pre-line;
    &.opened
        overflow-y: auto;
        height: 87px;
.tepdesc
    display: flex
    justify-content: space-between
    align-items: center;
    padding-right: 10px
    padding-bottom 10px
.tepdesc-value
    /*font-weight: 900*/
.tepdesc-more
    font-size 16px;
    line-height: 6px;
    color: gray
    text-align center
.tep-filler
    /*background-color: #ccc;*/
    border-bottom 1px dotted rgba(0,0,0,0.2)
    flex: 1;
    width: 100%;
    margin-left: 6px;
    margin-right: 6px;
    height: 1px;
.disabled
    pointer-events none
    opacity 0.5
</style>