<template>
        <div>
            <el-radio-group v-model="data" size="mini"  @change="onChange">
                <el-radio-button  :label="item.value" v-for="item in items" :key="item.value">{{item.label}}</el-radio-button>
            </el-radio-group>
        </div>

</template>
<script>
  import * as _ from 'lodash'
  export default {
    components: {},
    props: ['items', 'value'], // items: label, value
    data() {
      return {
        data: this.value
      }
    },

    methods:{
      onChange(){
        this.$emit('input', this.data)
        this.$emit('change')
      }
    }
  }

</script>
<style lang="stylus" scoped>
    @import "../assets/css/variable"
</style>