<template>
    <div class="container">
        <div v-if="(value!==null && value!==undefined) && (value>=0 || value==='h' || value==='m' || value==='l')" :class="getImageClass(value)">
        </div>
        <div v-else class="novalue">
            <div v-if="type==='smile'" style="width:100%">
                -
            </div>
            <div v-else class="novaluetext">
                {{$t('noData')}}
            </div>
        </div>
        <div style="text-align: center; font-size: 14px;" class="label">
            {{label}}
        </div>
    </div>
</template>
<script>
  import * as _ from 'lodash'
  export default {
    components: {},
    props: {
      label: {
        type: String
      },
      value: {
      },
      type: {
        type: String //smile or ruble
      }
    },
    data() {
      return {
        imgPath:'smile-h.svg'
      }
    },
    methods: {
      getImageClass() {
        let res = 'img ';
        if(this.type==='smile'){
          res+=' smile'
        }else{
          res+= ' rub '
        }
        if(this.value === 0 || this.value==='l'){
          return res+' l'
        }else if(this.value === 1 || this.value==='m'){
          return res+' m'
        }else{
          return res+' h'
        }
      }
    }
  }

</script>
<style lang="stylus" scoped>
    @import "../assets/css/variable"
    .novalue
        font-size 40px
        height 60px
        line-height 60px
        text-align center
        opacity 0.6
        display flex
     .novaluetext
        font-size: 20px;
        /*height: 60px;*/
        line-height: 24px;
        width: 200px;
        margin: auto;
        /*vertical-align: middle;*/
        display: block;
        align-self: center;
        justify-self: center;
    .container
        width: 60px
        height 60px
    .img
        width: 100%
        height 100%
        background-size: contain
        background-repeat: no-repeat
        background-position center center
    .smile
        &.smile
            background-size: 69% 69%
            margin-top -2

        &.l
            background-image url('../assets/images/smile-l.svg')
        &.m
            background-image url('../assets/images/smile-m.svg')
        &.h
            background-image url('../assets/images/smile-h.svg')
    .rub
        &.l
            background-image url('../assets/images/rub-l.svg')
        &.m
            background-image url('../assets/images/rub-m.svg')
        &.h
            background-image url('../assets/images/rub-h.svg')


</style>