<template>
    <div class="cont tutor" v-if="visible || (!isTutorShown && userRole==='voter')">
        <!---->
        <div class="close-button" @click="close">
            <i class="el-icon-circle-close"></i>
        </div>
        <!--<div class="bg" @click="visible=false"></div>-->
        <el-carousel trigger="click" :height="height" :autoplay="false">
            <el-carousel-item v-for="item in langItems" :key="item" >
                <div class="item" :style="{backgroundImage: `url('/static/${item}')`}"></div>
            </el-carousel-item>
        </el-carousel>
    </div>

</template>

<script>

  import { mapGetters, mapActions } from 'vuex'
  import { EventBus } from '../eventbus.js';
  export default {
    name: "tutorial",
    computed: {
      ...mapGetters(['isTutorShown', 'userRole']),
      height(){
        return '550px'
      },
      langItems(){
        return this.$lang === 'ru-RU' ? this.items.ru : this.items.en
      }
    },
    data(){
        return {
            visible: false,
            items: {
              ru:[
                '/tutor/mru1.jpg',
                '/tutor/mru2.jpg',
                '/tutor/mru3.jpg',
                '/tutor/mru4.jpg',
                '/tutor/mru5.jpg',
                '/tutor/mru6.jpg',
                '/tutor/mru7.jpg',
              ],
              en:[
                '/tutor/men1.jpg',
                '/tutor/men2.jpg',
                '/tutor/men3.jpg',
                '/tutor/men4.jpg',
                '/tutor/men5.jpg',
                '/tutor/men6.jpg',
                '/tutor/men7.jpg',
              ]
            }
        }
    },
    methods:{
      ...mapActions(['markTutorAsShown']),
      show(){
        this.visible = true;
      },
      close(){
        this.visible = false;
        this.markTutorAsShown()
      }
    },
    mounted(){
      EventBus.$on('showTutor', () => {
        this.show()
        this.markTutorAsShown()
      })
    }
  }
</script>
<style lang="scss">
    .tutor{
        .el-carousel__container{
            height: 100vh !important
        }
    }
</style>
<style class="scss" scoped>
    .bg{
        /*background-color: red;*/
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .close-button{
        position: fixed;
        color: #1F2D3D;
        top: 0.5em;
        right: 0.5em;
        font-size: 3em;
        z-index: 3332;
        cursor: pointer;
    }
    .item{
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
    }
    .cont{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 23423434;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
</style>