<template>
    <div class="uploader">
        <div class="upload" >
            <ul class="img-list">
                <!-- Draggable list -->
                <draggable :list="value.uploads" @end="onDragEnd" :options="{draggable:'.img-item'}">
                    <!-- uploaded -->
                    <li v-for="(file, index) in value.uploads" :key="file._id"  class="img-item">
                        <upload-item
                            :file="file"
                            :hidePreview="compress"
                            :showDownloadButton="showDownloadButton"
                            :id="id"
                            :single="value.filesLimit===1"
                            @onRemove="removeUploaded(file)">
                        </upload-item>
                    </li>
                    <!-- toUpload -->
                    <li v-for="(file, index) in files" :key="file._id"  v-if="!file.success" class="img-item">
                        <div>
                            <upload-item
                                    :image="file.thumb"
                                    :file="file"
                                    :id="id"
                                    :single="value.filesLimit===1"
                                    @onRemove="$refs.dropbox.remove(file)">
                            </upload-item>
                        </div>
                    </li>
                </draggable>
            </ul>
            <div v-if="filesSelected < value.filesLimit">

                <div v-if="value.filesLimit===1" class="upb">
                    <div class="uploader-small left" v-if="notePosition=='left'">
                        {{filesLimitStringified(value.filesLimit)}}. {{extensionsProcess(value.extensions)}}. {{$t('project.max')}}: {{value.sizeLimit}} {{$t('project.mb')}}
                    </div>
                    <label :for="id">
                        <div class="el-button el-button--default el-button--mini">{{$t('project.choiceFile')}}</div>
                    </label>
                    <div class="uploader-small" v-if="notePosition!=='left'">
                        {{filesLimitStringified(value.filesLimit)}}. {{extensionsProcess(value.extensions)}}. {{$t('project.max')}}: {{value.sizeLimit}} {{$t('project.mb')}}
                    </div>
                </div>

                <!-- MUTI -->
                <div v-else class="upb">
                    <label :for="id">
                        <div class="el-button el-button--default el-button--mini">{{$t('project.choiceFiles')}}</div>
                    </label>
                    <div class="uploader-small">
                        {{$t('project.upto')}} {{value.filesLimit}} {{$t('project.files')}}. {{extensionsProcess(value.extensions)}}. {{$t('project.max')}}: {{value.sizeLimit}} {{$t('project.mb')}}
                    </div>
                </div>
            </div>
            <file-upload
                    class="btn btn-primary dropdown-toggle"
                    :input-id="id"
                    :post-action="`/api/vis/${value._id}/uploads`"
                    :extensions="value.extensions"
                    :accept="value.accept"
                    :multiple="!value.filesLimit || value.filesLimit>1"
                    :maximum="value.filesLimit"
                    :directory="directory"
                    :size="value.sizeLimit ? 1024*1024*value.sizeLimit : 1024*1024"
                    :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                    :headers="headers"
                    :data="{pid, type: id}"
                    :drop="true"
                    :drop-directory="dropDirectory"
                    :add-index="addIndex"
                    v-model="files"
                    @input-filter="inputFilter"
                    @input-file="inputFile"
                    ref="dropbox">
            </file-upload>
        </div>
    </div>
</template>


<script>
  import Cropper from 'cropperjs'
  import { images as imagesRes, upload as uploadRes, vis as visRes } from 'resources'
  import ImageCompressor from '@xkeshi/image-compressor'
  import FileUpload from 'vue-upload-component'
  import draggable from 'vuedraggable'
  import UploadItem from '../components/UploadItem'
  import locales from '../locales/project'
  import ElDialog from "../../../node_modules/element-ui/packages/dialog/src/component.vue";
  import store from '../store'
  import * as _ from 'lodash'
  export default {
    locales,
    name: 'Uploader',
    components: {
      ElDialog,
      FileUpload,
      draggable,
      UploadItem
    },
    props: ['value', 'id', 'compress', 'isHighRes', 'isCover', 'notePosition', 'showDownloadButton', 'pid', 'type'],
    computed:{
      filesSelected(){
        const filesUploaded = _.reduce(this.value.uploads, (total, item) => {
          total += item.url ? 1 : 0
          return total
        }, 0)
        const filesToUpload = _.reduce(this.files, (total, item) => {
          total += item.success ? 0 : 1;
          return total
        }, 0)
        return filesUploaded + filesToUpload;
        //(this.value && this.value.length>0) || (this.files && this.files.length>0);
      }
    },
    data() {
      return {
        orderCount: 0,
        tempFiles: [],
        files: [],
        uploadedFiles:[],
        // accept: 'image/png,image/gif,image/jpeg,image/webp',
        // extensions: ['gif', 'jpg', 'jpeg','png', 'webp'],
        // extensions: /\.(gif|jpe?g|png|webp)$/i,
        minSize: 1024,
        size: 1024 * 1024 * 10,
        directory: false,
        drop: true,
        dropDirectory: true,
        addIndex: false,
        thread: 3,
        name: 'file',
        headers: {
          'Authorization':`Bearer ${store.getters.accessToken}`
        },
        data: {
        },
        autoCompress: 1024 * 1024,
        uploadAuto: true,
        isOption: false,
        editFile: {
          show: false,
          name: '',
        }
      }
    },
    methods: {
      filesLimitStringified(fl){
        if(!fl){
          return ''
        } else if(fl===1){
          return this.$t('project.oneFile')
        }
        return `${this.$t('project.upto')} ${fl} ${this.$t('project.files')}`
      },
      // getImageUrl(file){
      //   if(!_.endsWith(file.url, '.png') && !_.endsWith(file.url, '.jpg') && !_.endsWith(file.url, '.jpeg')){
      //     return '';
      //   }
      //   return _.startsWith(file.url,'http') ? file.url : `/images/${file.url}`
      // },
      extensionsProcess(exts){
        const res  = _.map(exts.split(','), _.toUpper)
        return res.join(', ')

      },
      onDragEnd(a,b){
        _.sortBy(this.each, (item, index) => {
          item.order = index;
        });
        //this.$emit('orderChanged')
        this.saveOrder()
      },
      setCover(file){
        this.$emit('setcover', file)
      },
      inputFilter(newFile, oldFile, prevent) {
        console.log('qwe', newFile, oldFile, prevent)

        this.orderCount++;
        if(newFile){
          newFile.order = this.orderCount;
        }
        if (newFile && !oldFile) {
          // Before adding a file
          // Filter system files or hide files
          if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
            return prevent()
          }
          // Filter php html js file
          if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
            return prevent()
          }
          // Automatic compression
          if (this.compress && newFile.file && newFile.type.substr(0, 6) === 'image/' && this.autoCompress > 0 && this.autoCompress < newFile.size) {
            newFile.error = 'compressing'
            let imageCompressor = new ImageCompressor();
            let compOptions;
            if (this.isHighRes) {
              console.log('IS PANEL')
              compOptions = {
                convertSize: Infinity,
                quality: .9,
                mimeType: 'image/jpeg',
                maxWidth: 2048*2,
                maxHeight: 2048*2,
              }
            } else if (this.isCover) {
              compOptions = {
                convertSize: Infinity,
                quality: .9,
                mimeType: 'image/jpeg',
                maxWidth: 600,
                maxHeight: 600,
              }
            } else {
              compOptions = {
                convertSize: Infinity,
                quality: .9,
                mimeType: 'image/jpeg',
                maxWidth: 2048,
                maxHeight: 2048,
              }
            }


              imageCompressor.compress(newFile.file, compOptions)
                .then((file) => {
                  console.log('file.size', file.size)
                  this.$refs.dropbox.update(newFile, { error: '', file, size: file.size, type: file.type })
                })
                .catch((err) => {
                  this.$refs.dropbox.update(newFile, { error: err.message || 'compress' })
                })
            }
//            else{
//              this.$refs.dropbox.update(newFile, { error: '', file:newFile, size: newFile.size, type: newFile.type })
//            }

        }
        if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
          // Create a blob field
          newFile.blob = ''
          let URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            newFile.blob = URL.createObjectURL(newFile.file)
          }
          // Thumbnails
          newFile.thumb = ''
          if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
            newFile.thumb = newFile.blob
          }
        }
      },
      // add, update, remove File Event
      inputFile(newFile, oldFile) {
        if (newFile && oldFile) {
          // update
          if (newFile.active && !oldFile.active) {
            // beforeSend
            // min size
            if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
              this.$refs.dropbox.update(newFile, { error: 'size' })
            }
          }
          if (newFile.progress !== oldFile.progress) {
            // progress
          }
          if (newFile.error && !oldFile.error) {
            // error
            console.log('errrrrrr', newFile.error)
            // remove img
            this.$refs.dropbox.remove(newFile);
            // show message
            this.$message.error(this.$t('project.sizeError'));
          }
          if (newFile.success && !oldFile.success) {
            // success
            const newItems = []
            console.log('a')
            if(_.isArray(newFile.response)){
              _.each(newFile.response, (upload) => {
                // this.model.push()
                newItems.push({ url:upload.url,  _id:upload._id, fileId: newFile._id });
              })
            }else{
              // this.model.push({ url:newFile.response.url,  _id:newFile.response._id, fileId: newFile._id })
              newItems.push( { url:newFile.response.url,  _id:newFile.response._id, fileId: newFile._id })
            }
            // const obj2send = _.cloneDeep(this.value)
            // obj2send.uploads = _.concat(this.value.uploads || [], newItems)
            this.$set(this.value, 'uploads',_.concat(this.value.uploads || [], newItems));
            // this.$emit('input',  obj2send)
            this.$emit('change')
          }
        }
        if (!newFile && oldFile) {
          // remove
          if (oldFile.success && oldFile.response.filename) {
            // var index = _.indexOf(this.value, )
            // this.value.splice(index, 1)
            // const obj2send = _.cloneDeep(this.value)
            // obj2send.uploads = _.without(this.value.uploads, {url:oldFile.response.filename})
            this.$set(this.value, 'uploads', _.reject(this.value.uploads, {url:oldFile.response.filename}));
            // this.$emit('input',  obj2send)
            this.$emit('change')
          }
        }
        // Automatically activate upload
        if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
          if (this.uploadAuto && !this.$refs.dropbox.active) {
            this.$refs.dropbox.active = true
          }
        }

      },
      saveOrder(){
        visRes.updateUpload({_id: this.value._id}, _.map(this.value.uploads, '_id'))
          .then(() => {
            console.log('saved')
          })
      },
      removeUploaded(file){
        this.$set(this.value, 'uploads', _.reject(this.value.uploads, {_id:file._id}));
        visRes.removeUpload({_id: this.value._id, uploadId: file._id})
          .then(() => {
            console.log('removed')
            this.$emit('change')
          })
      }
    }
  }
</script>

<style lang="stylus">
    @import "../assets/css/variable"
    .upb{
        display flex;
        align-items: center;
    }
    .uploader-small{
        font-size: 10px;
        opacity 0.5;
        padding-left 1em;
        padding-right: 1em;
        line-height: initial;
        &.left{
            padding-right 1em;
            padding-left initial;
        }
    }
    .capture{
        bottom: -74px;
        display: block;
        position: absolute;
    }
    .upload-spinner{
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(255,255,255,0.95)
        padding 6px
    }
    .dropbox{
        outline 2px dashed $color-silver /* the dash box */
        outline-offset -10px
        background $color-white-dark
        color $color-silver
        display block
        padding 2px 2px
        position relative
        cursor pointer
        text-align center
    }

    .dropbox:hover {
        background $color-gray /* when mouse over to the drop zone, change color */
    }
    .dropbox .label {
        font-size 1.2em
        text-align center
    }
    .img-list{
        margin 0
        padding 2px
        display flex
        flex-wrap wrap
        line-height: initial;
    }
    .img-list .img-item{
        display inline-block
    }
    .img-list .img-item .remove-button{
        position absolute
        top -6px
        right -6px
        padding: 6px 6px;
        z-index 11
        /*right: 40px;*/
        /*z-index: 100;*/
        /*color: red;*/
        /*top: 10px;*/
    }

    .img-list .img-item .img{
        width 100%
        height 100%
        position relative
        background-size contain
        background-position center center
        background-repeat no-repeat
    }
    .img-list .img-item.dropbox{
        display flex
        align-items center
        justify-content center
        outline-offset -4px
        box-sizing border-box
    }

    .uploader{
        display: inline-block;
        /*width: 100%;*/
    }
    .uploader .edit-image img {
        max-width: 100%;
    }
    .uploader .edit-image-tool {
        margin-top: .6rem;
    }
    .uploader .edit-image-tool .btn-group{
        margin-right: .6rem;
    }
    .uploader .footer-status {
        padding-top: .4rem;
    }
    .highlight-button{
        position absolute
        width 100%
        bottom -30px
        left -0.65rem
    }

</style>