<template>
    <div>
        <div class="image-item">
            <div class="file-icon">
                <i class="el-icon-document"></i>
            </div>
            <div
                 v-bind:style="{ backgroundImage: 'url('+imageUrl+')'}"
                 class="img">
                <el-button
                        icon="el-icon-download"
                        round
                        size="small"
                        v-if="showDownloadButton"
                        @click.prevent="download"></el-button>
                <el-button
                        icon="el-icon-close"
                        round
                        size="small"
                        class="remove-button"
                        @click.prevent="onRemove"></el-button>
            </div>
            <transition name="el-fade-in" >
                <div class="upload-spinner" v-if="file && file.progress && (file.active || !file.success)">
                    <el-progress type="circle" :percentage="+file.progress" :status="file.success?'success':file.error?'exception':''"></el-progress>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
  import locales from '../locales/project'
  export default {
    locales,
    name: "UploadItem",
    props: ['id', 'hidePreview', 'single', 'file', 'showDownloadButton'],
    computed:{
      isImage(){
        return _.endsWith(this.file.url, '.png') || _.endsWith(this.file.url, '.jpg') || _.endsWith(this.file.url, '.jpeg')
      },
      imageUrl(){
        if(this.isImage && this.hidePreview){
          return _.startsWith(this.file.url,'http') ? this.file.url : `/images/${this.file.url}`
        }
        return ''
      },
      downloadUrl(){
        return _.startsWith(this.file.url,'http') ? this.file.url : `/images/${this.file.url}`
      }
    },
    methods:{
      onRemove(){
        this.$confirm(this.$t('confirm.remove',{content: this.$t('confirm.image')}), this.$t('confirm.title'), {
          confirmButtonText: this.$t('confirm.yes'),
          cancelButtonText: this.$t('confirm.cancel'),
          type: 'warning'
        }).then(() => {
          this.$emit('onRemove')
        }).catch(() => {

        });
      },
      download(){
        console.log('dwl', this.file, this.downloadUrl)
        const link = document.createElement('a');
        link.href = this.downloadUrl; //this.file.url;
        link.download = `download.${_.takeRight(link.href.split('.'))}`;
        document.body.appendChild(link);
        link.click();
      }
    }
  }
</script>

<style lang="stylus" scoped>
    @import "../assets/css/variable"
    .image-item{
        width: 140px;
        height: 140px;
        margin-right: 4px;
        margin-bottom: 4px;

        position: relative;
    }
    .file-icon{
        font-size 40px
        text-align: center;
        vertical-align: middle;
        line-height: 140px;
        opacity: 0.2;
        color: $color-black
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
    }
</style>