<template>
    <div>
        <div class="">
            {{$t('project.visRequired')}}
        </div>
        <draggable :list="data" @end="onDragEnd" :options="{draggable:'.visitem'}">
        <div class="visitem" v-for="(item, $index) in data" :key="item._id" >
            <div style="flex:1">

                <div style="width: 50%;    max-width: 400px;">
                    <el-select v-model="item.selectedName" placeholder="Select" style="width:100%" @change="onNameSelectorChange(item)">
                        <el-option
                                v-for="n in names"
                                :key="n.key"
                                :label="n.name[currentLang]"
                                :value="n.key">
                        </el-option>
                    </el-select>

                    <div style="display: flex">
                        ru
                        <el-input :placeholder="`name ru`"
                                  style="margin-bottom: 2em;"
                                  autocomplete="off"
                                  @change="updateVis(item)"
                                  v-model="item.name.ru" v-if="item.selectedName === 'other'"></el-input>
                    </div>
                    <div style="display: flex">
                    en
                    <el-input :placeholder="`name en`"
                              style="margin-bottom: 2em;"
                              autocomplete="off"
                              @change="updateVis(item)"
                              v-model="item.name.en" v-if="isAdmin && item.selectedName === 'other'"></el-input>
                    </div>
                </div>
            </div>
            <uploader
                    v-model="data[$index]"
                    :id="`vis_${item._id}`"
                    :pid="projectId"
                    :showDownloadButton="isAdmin"
                    :compress="compress"
                    @change="onChange"
                    >
            </uploader>
            <div >
                <el-button v-if="!item.isRequired"
                           circle
                           icon="el-icon-delete" size="mini" @click="removeItem(item)">

                </el-button>
            </div>
        </div>
        </draggable>
        <el-button @click="addItem()" :disabled="!addVisEnabled">
            {{$t('project.addVis')}}
        </el-button>


        <!--<el-dialog-->
                <!--title="Tips"-->
                <!--:visible.sync="dialogVisible"-->
                <!--width="30%"-->
                <!--:before-close="handleClose">-->
            <!--<el-select v-model="selectedName" placeholder="Select" style="width:100%" @change="onNameSelectorChange">-->
                <!--<el-option-->
                        <!--v-for="item in names"-->
                        <!--:key="item.key"-->
                        <!--:label="item.name.ru"-->
                        <!--:value="item.key">-->
                <!--</el-option>-->
            <!--</el-select>-->

            <!--<el-input placeholder="Name ru" v-model="newItem.name[currentLang]" v-if="selectedName === 'other'"></el-input>-->
            <!--<span slot="footer" class="dialog-footer">-->
                <!--<el-button @click="dialogVisible = false">Cancel</el-button>-->
                <!--<el-button type="primary" @click="addItem()">Confirm</el-button>-->
            <!--</span>-->
        <!--</el-dialog>-->
    </div>

</template>

<script>
  import { me as meRes, project as projectRes } from 'resources'
  import config from '../../../config'
  import Uploader from './Uploader'
  import draggable from 'vuedraggable'
  import locales from '../locales/project'
  export default {
    locales,
    name: "VisItem",
    props: ['data', 'projectId', 'isAdmin', 'compress'],
    components: {
      Uploader,
      draggable
    },
    watch:{
      data: {
        immediate: true,
        handler (val, oldVal) {
          this.$nextTick(() => {
            this.setSelector()
          })
        }
      }
    },
    data(){
      return {
        dialogVisible: false,
        apiUrl: config.frontend.apiUrl,
        newItem: {
            name: {
              ru: '',
              en: ''
            }
        },
        selectedName: null,
        names:[
          {
          key:'BirdsView',
          name:{
            ru: 'Вид с высоты птичьего полета ',
            en: 'Bird’s eye view'
            }
          },
          {
            key:'Isometric',
            name:{
              ru: 'Аксонометрия',
              en: 'Isometric view'
            }
          },
          {
            key:'streetView',
            name:{
              ru: 'Вид с улицы',
              en: 'View from the street'
            }
          },
          {
            key:'courtyard',
            name:{
              ru: 'Вид со стороны двора',
              en: 'View from the courtyard'
            }
          },
          {
            key:'Apartment',
            name:{
              ru: 'Интерьер квартиры',
              en: 'Apartment interior'
            }
          },
          {
            key:'Collective',
            name:{
              ru: 'Интерьер коллективного пространства',
              en: 'Collective space interior'
            }
          },
          {
            key:'Entrance',
            name:{
              ru: 'Интерьер подъезда',
              en: 'Entrance interior'
            }
          },
          {
            key:'other',
            name:{
              ru: 'Другое',
              en: 'Other'
            }
          }
        ]
      }
    },
    mounted(){

    },
    computed:{
      addVisEnabled(){
        return this.data.length<=9
      },
      currentLang(){
        return this.$lang.split('-')[0]
      },
      oppLang(){
        return this.currentLang === 'ru' ? 'en' : 'ru'
      }
    },
    methods:{
      onDragEnd(a,b){
        // _.sortBy(this.each, (item, index) => {
        //   item.order = index;
        // });
        //this.$emit('orderChanged')
        //this.saveOrder()
        this.$emit('change', 'visConverted')
      },
      setSelector(){
        _.each(this.data, (item) => {
          const itemKey = _.find(this.names, (name) => {
            return name.name.ru === item.name.ru || name.name.en === item.name.en
          })

          item.selectedName = itemKey?itemKey.key:'other'
        })
        this.$forceUpdate()
      },
      openDialog(){
        this.newItem = this.names[0]
        this.dialogVisible = true;
      },
      updateVis(item){
        projectRes.updateVis({ _id: this.projectId, visId: item._id }, item)
          .then((data) => {
            this.$emit('change')
          })
      },
      onChange(){
        this.$emit('change', this.data.mongoKey, this.data)
      },
      addItem(){
        if(!this.addVisEnabled){
          return;
        }
        projectRes.saveVis({ _id: this.projectId }, _.omit(this.newItem, ['key']))
          .then((data) => data.body)
          .then((savedItem)=>{
            this.$emit('onItemAdded', savedItem)
            this.dialogVisible = false;
          })
      },
      editItem(item){
            meRes.updateVis({_id: item._id}, item)
              .then((result) => {
                console.log(result)
              })
      },
      removeItem(item){
        projectRes.removeVis({ _id: this.projectId, visId: item._id })
          .then(() => {
            this.$emit('onItemRemoved', item)
          })

      },
      handleClose(done) {
        this.$confirm('Are you sure to close this dialog?')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
      onNameSelectorChange(item){
        console.log(item, item.selectedName)

        if(item.selectedName === 'other' ){
          item.name ={
              ru: '',
              en: ''
            }
        }else{
          item.name = _.find(this.names, {key: item.selectedName }).name;
        }
        this.$forceUpdate()
        this.updateVis(item)
      }
    }
  }
</script>

<style lang="scss" scoped>
    .visitem{
        display: flex;
    }
</style>
