<template>
  <div id="vote-buttons">
    <label
      class="left-button vote-label"
      @click="voteClick(1, $event)"
      :style="[{backgroundColor: firstChecked ? '#fff' : '#2f444e' }, 
          {color: firstChecked ? '#2f444e' : '#fff'}]"
    >1</label>
    
    <label
      class="middle-button vote-label"
      :style="[{backgroundColor: secondChecked ? '#fff' : '#2f444e' }, 
          {color: secondChecked ? '#2f444e' : '#fff'}]"
      @click="voteClick(2, $event)"
    >2</label>
    
    <label
      class="right-button vote-label"
      :style="[{backgroundColor: thirdChecked ? '#fff' : '#2f444e' }, 
          {color: thirdChecked ? '#2f444e' : '#fff'}]"
      @click="voteClick(3, $event)"
    >3</label>
  </div>
</template>

<script>
import { thing as thingRes } from "../resources";
import locales from "../locales/things";
import * as _ from "lodash";
import { project as projectRes } from "resources";
import { EventBus } from "../eventbus.js";

export default {
  locales,
  props: ["projectId", "like", "first", "second", "third"],

  data() {
    return {
      vote: this.like ? parseInt(this.like) : 0,
      previousVote: this.like ? parseInt(this.like) : 0,
      notLesser: false,
      fromEvent: false,
      checkedButtons: [false, false, false, false],
      firstChecked: false,
      secondChecked: false,
      thirdChecked: false
    };
  },
  mounted() {
    console.log('button mounted')
    this.vote = this.like ? parseInt(this.like) : 0;
    this.previousVote = this.like ? parseInt(this.like) : 0;

    switch (this.vote) {
             case 1:
              case '1':
               this.firstChecked = true;
                this.secondChecked = false;
                 this.thirdChecked = false;
                 break;
              case 2:
              case '2':
               this.secondChecked = true;
               this.firstChecked = false;
                this.thirdChecked = false;
                   break;
                case 3:
                case '3':
               this.thirdChecked = true;
               this.firstChecked = false;
                 this.secondChecked = false;
                   break;
             default:
                this.firstChecked = false;
                 this.secondChecked = false;
                 this.thirdChecked = false;
              break;
           }
    EventBus.$on("vote-details", (thingId, currentVote) => {
      // console.log('vote inside event', thingId)
      var current = parseInt(currentVote)
      this.fromEvent = true;
      if (this.projectId === thingId) {
        console.log("vote inside event currentVote this.previousVote equal", thingId, currentVote, this.previousVote);
        console.log('this.firstChecked', 'this.secondChecked', 'this.thirdChecked', this.firstChecked, this.secondChecked, this.thirdChecked )
        if (this.previousVote === current) {
           switch (current) {
          case 1:
            this.firstChecked = !this.firstChecked;
            break;
          case 2:
            this.secondChecked = !this.secondChecked;
            break;
          case 3:
            this.thirdChecked = !this.thirdChecked;
            break;
        }
         this.previousVote = 0
        this.vote = 0
        } else {
          console.log("vote inside event currentVote this.previousVote", thingId, currentVote, this.previousVote);
         switch (current) {
            case 1:
              this.firstChecked = !this.firstChecked;
              if (this.secondChecked) {
                this.secondChecked = false;
              }
              if (this.thirdChecked) {
                this.thirdChecked = false;
              }
              break;
            case 2:
              this.secondChecked = !this.secondChecked;
              if (this.firstChecked) {
                this.firstChecked = false;
              }
              if (this.thirdChecked) {
                this.thirdChecked = false;
              }
              break;
            case 3:
              this.thirdChecked = !this.thirdChecked;
              if (this.firstChecked) {
                this.firstChecked = false;
              }
              if (this.secondChecked) {
                this.secondChecked = false;
              }
              break;
          }
          this.previousVote = current
          this.vote = current
        }
        console.log('after this.firstChecked', 'this.secondChecked', 'this.thirdChecked', this.firstChecked, this.secondChecked, this.thirdChecked )
        
      }
    });
  },
  watch: {

  },
  computed: {},

  methods: {
    voteClick(num, e) {
      
      var current = parseInt(num);
      var previous = parseInt(this.previousVote);
      // this.checkedButtons[current] = true;
      // this.secondChecked = !this.secondChecked;

      // switch (current) {
      //   case 1:
      //     this.firstChecked = !this.firstChecked;
      //     if (this.secondChecked) {
      //       this.secondChecked = false;
      //     }
      //     if (this.thirdChecked) {
      //       this.thirdChecked = false;
      //     }
      //     break;
      //   case 2:
      //     this.secondChecked = !this.secondChecked;
      //     if (this.firstChecked) {
      //       this.firstChecked = false;
      //     }
      //     if (this.thirdChecked) {
      //       this.thirdChecked = false;
      //     }
      //     break;
      //   case 3:
      //     this.thirdChecked = !this.thirdChecked;
      //     if (this.firstChecked) {
      //       this.firstChecked = false;
      //     }
      //     if (this.secondChecked) {
      //       this.secondChecked = false;
      //     }
      //     break;
      // }

      console.log(
        "current",
        current,
        "this.checkedButtons[current]",
        this.checkedButtons[current]
      );
      console.log(
        "this.firstChecked",
        this.firstChecked,
        "this.secondChecked",
        this.secondChecked,
        "this.thirdChecked",
        this.thirdChecked
      );

      console.log(
        "...",
        "previous",
        previous,
        "current",
        current,
        "previousVote",
        this.previousVote,
        "vote",
        this.vote
      );

      this.notLesser = false;
      if (this.previousVote == current) {
        EventBus.$emit("vote", this.projectId, 0, previous);
        this.vote = 0;
        this.previousVote = 0;
        console.log("this.previousVote current equal", this.previousVote);
        switch (current) {
          case 1:
            this.firstChecked = !this.firstChecked;
            break;
          case 2:
            this.secondChecked = !this.secondChecked;
            break;
          case 3:
            this.thirdChecked = !this.thirdChecked;
            break;
        }
        this.likeThing(0)
      } else {
        switch (current) {
          case "1":
          case 1:
            if (parseInt(this.first, 10) - 1 > -1) {
              console.log("...", " set this.notLesser");
              this.notLesser = true;
              //  this.vote = 1
            }
            break;
          case "2":
          case 2:
            if (parseInt(this.second, 10) - 1 > -1) {
              this.notLesser = true;
              // this.vote = 2
            }
            break;
          case "3":
          case 3:
            if (parseInt(this.third, 10) - 1 > -1) {
              this.notLesser = true;
              // this.vote = 3
            }
            break;
        }

        console.log("...", "this.notLesser", this.notLesser);
        if (this.notLesser === true) {
          console.log("...", "this.notLesser", this.notLesser);
          this.vote = current;
          this.previousVote = current;
          console.log("send event", "current", current, "previous", previous);
          EventBus.$emit("vote", this.projectId, current, previous);
          switch (current) {
            case 1:
              this.firstChecked = !this.firstChecked;
              if (this.secondChecked) {
                this.secondChecked = false;
              }
              if (this.thirdChecked) {
                this.thirdChecked = false;
              }
              break;
            case 2:
              this.secondChecked = !this.secondChecked;
              if (this.firstChecked) {
                this.firstChecked = false;
              }
              if (this.thirdChecked) {
                this.thirdChecked = false;
              }
              break;
            case 3:
              this.thirdChecked = !this.thirdChecked;
              if (this.firstChecked) {
                this.firstChecked = false;
              }
              if (this.secondChecked) {
                this.secondChecked = false;
              }
              break;
          }
          this.likeThing(current);
        } else {
          console.log(
            "...",
            "set vote handle",
            "current",
            current,
            "previous",
            previous
          );
          //this.vote = 0;
          //this.previousVote = 0;
        //  EventBus.$emit("vote", this.projectId, -1, previous);
          console.log("false vote", this.vote);
         //  this.vote = 0;
         // this.previousVote = 0;
        }
      }
    },

    likeThing(item) {
      console.log("like", item)
      projectRes.like({ _id: this.projectId }, { value: item }).catch(err => {
        console.error(err);
      });
    }
  }
};
</script>
<style lang="stylus" >
#vote-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 35px;
  max-height: 35px;
}

.vote-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  max-height: 35px;
  text-align: center;
  font-size: 20px;
  vertical-align: center;
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.middle-button {
  margin-left: 1px;
  margin-right: 1px;
}

.left-button {
  margin-right: 1px;
}

.right-button {
  margin-left: 1px;
}
</style>